Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

fix: add missing api.ts, api-stub.ts, and logger.ts files to git
  apps/web/src/lib/api-stub.ts
  apps/web/src/lib/api.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: correct UI component import extensions from .ts to .tsx
  apps/web/src/components/aesthetic-scheduling/CertificationValidator.tsx
  apps/web/src/components/aesthetic-scheduling/MultiSessionScheduler.tsx
  apps/web/src/components/aesthetic-scheduling/RecoveryPlanning.tsx
  apps/web/src/components/aesthetic-scheduling/RoomAllocation.tsx
  apps/web/src/components/aesthetic-scheduling/TreatmentPackageScheduler.tsx
  apps/web/src/components/ai-clinical-support/PatientAssessmentForm.tsx
  apps/web/src/components/ai-clinical-support/ProgressMonitoring.tsx
  apps/web/src/components/ai-clinical-support/TreatmentOutcomePredictor.tsx
  apps/web/src/components/ai-clinical-support/TreatmentRecommendationsDashboard.tsx
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/chat/agents/NeonProAppointmentAgent.tsx
  apps/web/src/components/chat/agents/NeonProClientAgent.tsx
  apps/web/src/components/chat/agents/NeonProFinancialAgent.tsx
  apps/web/src/components/clients/ClientManagementDashboard.tsx
  apps/web/src/components/clients/ClientProfileManagement.tsx
  apps/web/src/components/clients/ClientRegistrationAgent.tsx
  apps/web/src/components/clients/TreatmentCatalogBrowser.tsx
  apps/web/src/components/healthcare/accessible-patient-registration.tsx
  apps/web/src/components/healthcare/emergency-alert-system.tsx
  apps/web/src/components/healthcare/healthcare-dashboard.tsx
  apps/web/src/components/healthcare/lgpd-consent-manager.tsx
  apps/web/src/components/healthcare/patient-records-viewer.tsx
  apps/web/src/components/healthcare/treatment-scheduler.tsx
  apps/web/src/components/pwa/PWAInstallPrompt.tsx
  apps/web/src/components/pwa/PWAOfflineIndicator.tsx
  apps/web/src/components/pwa/PWAOnboarding.tsx
  apps/web/src/routes/aesthetic-scheduling/__root.tsx
  apps/web/src/routes/ai-clinical-support/__root.tsx
  apps/web/src/routes/auth/login.tsx
  apps/web/tailwind.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Treatment file detected: ensuring CFM compliance...'

fix: add missing lib/supabase/client.ts to git
  apps/web/src/lib/supabase/client.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: correct context import extensions from .ts to .tsx
  apps/api/src/__tests__/security-integration-service.end-to-end.test.ts
  apps/web/src/components/auth/ProtectedRoute.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/routes/auth/login.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: correct ui/index import extension from .tsx to .ts
  apps/api/src/__tests__/trpc/analysis-router.test.ts
  apps/web/src/components/aesthetic-scheduling/CertificationValidator.tsx
  apps/web/src/components/aesthetic-scheduling/MultiSessionScheduler.tsx
  apps/web/src/components/aesthetic-scheduling/RecoveryPlanning.tsx
  apps/web/src/components/aesthetic-scheduling/RoomAllocation.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/index.tsx
  apps/web/src/routes/auth/login.tsx
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: add missing lib/utils.ts to git
  apps/web/src/lib/utils.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add all missing lib files to git
  apps/web/src/lib/accessibility-validation.ts
  apps/web/src/lib/appointment-service.ts
  apps/web/src/lib/auth/guards.tsx
  apps/web/src/lib/conflict-detection.ts
  apps/web/src/lib/healthcare-form-validator.ts
  apps/web/src/lib/i18n/use-translation.tsx
  apps/web/src/lib/index.ts
  apps/web/src/lib/logger.ts
  apps/web/src/lib/real-time-service.ts
  apps/web/src/lib/security.ts
  apps/web/src/lib/supabase.ts
  apps/web/src/lib/trpc.ts
  apps/web/src/lib/trpcClient.ts
  apps/web/src/lib/whatsapp-business-api.ts
  apps/web/src/lib/whatsapp-compliance.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add missing provider files to git
  apps/web/src/components/providers/TRPCProvider.tsx
  apps/web/src/components/providers/accessibility-provider.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add tRPC v11 Vite configuration to resolve unstable-core import
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add superjson to Vite optimizeDeps
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add superjson to root workspace for tRPC serialization
  apps/api/src/__tests__/trpc/analysis-router.test.ts
  apps/web/package.json
  apps/web/src/components/providers/TRPCProvider.tsx
  apps/web/src/components/stubs/PWAInstallPrompt.tsx
  apps/web/src/components/stubs/PWAOfflineIndicator.tsx
  apps/web/src/components/ui/alert.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/ui/tabs.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/contexts/AuthContext.tsx
  apps/web/src/hooks/realtime/useRealtimeProvider.ts
  apps/web/src/router.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  bun.lock
  package.json
  packages/ui/src/components/healthcare/emergency-alert.tsx
  packages/ui/src/components/healthcare/index.ts
  packages/ui/src/components/ui/alert.tsx
  packages/ui/src/components/ui/checkbox.tsx
  packages/ui/src/components/ui/index.ts
  packages/ui/src/components/ui/label.tsx
  packages/ui/src/components/ui/select.tsx
  packages/ui/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

fix: re-add tRPC unstable-core alias to vite config
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add missing packages/ui/src/lib/utils.ts to git
  packages/ui/src/lib/utils.ts
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint

fix: upgrade @trpc/server to v11.5.1 in root workspace
  package.json
Due: none

feat: Update settings and streamline pre-commit hook for improved compliance checks
  .claude/settings.json
  .husky/pre-commit
  apps/api/src/__tests__/trpc/analysis-router.test.ts
  apps/api/src/__tests__/trpc/trpc-router.test.ts
  apps/api/src/services/compliance-service.ts
  apps/web/src/__tests__/components/providers/TRPCProvider.test.tsx
  apps/web/src/__tests__/components/providers/UnifiedAgentProvider.test.tsx
  apps/web/src/hooks/useSchedulingData.ts
  apps/web/src/hooks/useSchedulingSubmission.ts
  apps/web/vercel.json
  apps/web/vite.config.ts
  package.json
  packages/core/src/analysis/services/analysis-orchestrator.ts
  packages/core/src/analysis/services/package-analyzer.ts
  packages/core/src/compliance/services/healthcare-compliance.service.ts
  packages/database/src/migrate.ts
  scripts/deploy.sh
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: simplify vercel.json to use Dashboard settings for Bun
  vercel.json
Due: none

fix: remove pnpm-lock.yaml to force Vercel to use Bun
  pnpm-lock.yaml
Due: none

feat: update WeekView component to use stable keys and improve accessibility
  apps/analysis/src/analyzers/monorepo-architecture-analyzer.ts
  apps/analysis/src/analyzers/package-boundary-validator.ts
  apps/web/src/App.tsx
  apps/web/src/components/auth/SignUpForm.tsx
  apps/web/src/components/auth/SignUpFormSimple.tsx
  apps/web/src/components/event-calendar/WeekView.tsx
  apps/web/src/components/ui/checkbox.tsx
  apps/web/src/components/ui/index.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/hooks/useSchedulingData.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  packages/database/src/models/package-manager-config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add explicit Bun commands to vercel.json to override production settings
  apps/web/vite.config.ts
  scripts/deploy.sh
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add packageManager bun@1.2.22 to turbo.json to force Vercel to use Bun
  turbo.json
Due: none

fix: update buildCommand to cd into apps/web and add ignoreCommand
  vercel.json
Due: none

fix: disable turbo.json to prevent Vercel from overriding Bun config
  turbo.json.disabled
Due: none

chore: remove vercel.json to force Dashboard settings
  vercel.json
Due: none

chore: trigger deployment after cache clear
  apps/web/src/components/auth/SignUpFormSimple.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: configure Vercel to build frontend web app instead of API
  vercel.json
Due: none

fix(auth): enhance SignUpFormSimple with healthcare-compliant input validation
  apps/web/src/components/auth/SignUpFormSimple.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

docs(auth): enhance docstring coverage with healthcare compliance documentation
  apps/web/src/contexts/AuthContext.tsx
  apps/web/src/hooks/useAuth.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat(healthcare): implement comprehensive healthcare compliance validation
  apps/api/src/services/compliance-service.ts
Due: npx ultracite format

fix: add custom build script to force Bun usage in Vercel
  build.sh
  vercel.json
Due: none

Implement code changes to enhance functionality and improve performance
  packages/database/src/migrate.ts
  quality-gate-results/quality-report-1759427380881.json
Due: npx ultracite format

chore: update build script with deployment message
  build.sh
Due: none

fix: remove ignoreCommand that was canceling all deployments
  .vercelignore
  vercel.json
Due: none

fix: update tRPC to v11.6.0 to resolve isObject export issue
  package.json
Due: none
