Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

fix: add missing ErrorBoundary in error-pages directory
  apps/web/src/components/error-pages/ErrorBoundary.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add all missing TanStack dependencies and update vite config
  apps/web/package.json
  apps/web/vite.config.ts
  bun.lock
  package.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

wip: add multiple missing dependencies for build
  bun.lock
  package.json
Due: none

fix: revert to build.sh for Vercel deployment
  vercel.json
Due: none

fix: remove duplicate useCreatePatient export and replace patientService with direct Supabase calls
  apps/web/src/hooks/usePatients.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add missing @radix-ui/react-context dependency
  bun.lock
  package.json
Due: none

fix: add missing Radix UI dependencies for react-tabs
  bun.lock
  package.json
Due: none

fix: add additional Radix UI dependencies for improved functionality
  apps/web/package.json
Due: none

fix: add @radix-ui/react-primitive and react-tabs as direct dependencies
  bun.lock
  package.json
Due: none

fix: add superjson and copy-anything dependencies
  bun.lock
  package.json
Due: none

fix: add is-what dependency for copy-anything
  bun.lock
  package.json
Due: none

fix: add React and ReactDOM as root dependencies
  bun.lock
  package.json
Due: none

fix: add missing Radix UI collection dependencies
  bun.lock
  package.json
Due: none

fix: add @radix-ui/number dependency
  bun.lock
  package.json
Due: none

fix: add @radix-ui/react-use-layout-effect dependency
  bun.lock
  package.json
Due: none

fix: install all common Radix UI components at once
  bun.lock
  package.json
Due: none

fix: update dependencies and improve accessibility tests
  bun.lock
  packages/ui/package.json
  packages/ui/src/__tests__/accessibility/accessibility-fixes.test.tsx
  packages/ui/src/__tests__/setup.ts
  packages/ui/src/accessibility/colors.ts
  packages/ui/src/components/ui/hover-border-gradient-button/hover-border-gradient-button.tsx
  packages/ui/src/components/ui/mobile-healthcare-button.tsx
  packages/ui/src/components/ui/sidebar/sidebar.tsx
  packages/ui/src/components/ui/theme-toggler/animated-theme-toggler.tsx
  packages/ui/src/config/theme.config.ts
  packages/ui/src/hooks/use-persisted-dashboard-layout.ts
  packages/ui/src/registry/index.ts
  packages/ui/src/test-imports.tsx
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

fix: update Radix UI and other dependencies
  apps/web/package.json
  bun.lock
  package.json
Due: none

fix(deps): add missing Radix UI and floating-ui dependencies for monorepo build
  bun.lock
  package.json
Due: none

fix(ui): add missing shadcn/ui components and fix dependency resolution
  apps/web/package.json
  bun.lock
  package.json
  packages/ui/package.json
  packages/ui/src/components/ui/alert-dialog.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/components/ui/form.tsx
  packages/ui/src/components/ui/separator.tsx
  packages/ui/src/components/ui/tabs.tsx
  packages/ui/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint

fix(deps): add missing Radix UI and floating-ui dependencies for monorepo build
  apps/web/package.json
  bun.lock
Due: none

fix(deps): add CopilotKit and headlessui transitive dependencies
  apps/web/package.json
  apps/web/vite.config.ts
  bun.lock
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: remove CopilotKit to resolve Bun module resolution issues
  apps/web/package.json
  apps/web/vite.config.ts
  bun.lock
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix(database): add missing zod dependency
  bun.lock
  packages/database/.tsbuildinfo-database
  packages/database/package.json
Due: none

fix(database): resolve TypeScript compilation errors and configuration issues
  packages/database/.tsbuildinfo-database
  packages/database/src/client-service.ts
  packages/database/src/client.ts
  packages/database/src/index.ts
  packages/database/src/models/compliance-status.ts
  packages/database/tsconfig.json
Due: npx ultracite format

fix(web): add scheduler dependency to resolve module resolution error
  apps/web/package.json
  apps/web/vite.config.ts
  bun.lock
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix(web): prevent white screen when Supabase env vars are missing
  apps/web/src/integrations/supabase/client.ts
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix(web): disable broken realtime hooks causing white screen
  apps/web/src/hooks/useRealtimeAppointments.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix(config): update Vite and tsup configurations to disable sourcemaps and increase chunk size limit
  apps/web/vite.config.ts
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  packages/ui/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

fix(config): enhance Vite configuration for improved build performance
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: resolve Supabase module resolution issues in production build
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: properly configure Supabase dependencies for browser build
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: force Supabase modules to be bundled instead of external
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: resolve entry module error for Supabase dependencies
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add polyfills for Node.js-only Supabase dependencies
  apps/web/src/polyfills/iceberg-js.ts
  apps/web/src/polyfills/node-fetch.ts
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: complete iceberg-js polyfill with IcebergRestCatalog class
  apps/web/src/polyfills/iceberg-js.ts
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: remove process.env mapping that broke env variable substitution
  apps/web/VERCEL_ENV_VARS.md
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: configure Vercel to use Bun instead of npm for monorepo
  apps/web/vercel.json
Due: none

fix: run bun install from monorepo root to resolve workspace dependencies
  apps/web/vercel.json
Due: none

fix: use frozen-lockfile in root vercel.json
  vercel.json
Due: none
