Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

fix(deployment): correct Vercel functions pattern for API routing
  vercel.json
Due: none

fix(deployment): create explicit API function files for Vercel deployment
  api/health.ts
  api/openapi.json.ts
  api/v1/health.ts
  vercel.json
Due: npx ultracite format

fix(deployment): force framework override resolution
  .vercelignore
  apps/api/package.json
  apps/api/src/__tests__/openapi.test.ts
  apps/api/src/__tests__/routes/openapi.test.ts
  apps/api/src/app.ts
  apps/api/src/schemas/openapi-config.ts
  apps/api/src/types/environment.ts
  tools/testing/api-resolution-results.json
  vercel.json
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

fix(deployment): move configuration files to correct locations
  .deployment/.vercelignore
  .deployment/vercel-complex.json
  .deployment/vercel.json
  api/test.ts
  apps/api/src/app.ts
  apps/api/src/schemas/openapi-config.ts
  docs/features/api-schema-openapi-generation.md
  monitoring/config/compliance-monitoring.json
  monitoring/config/error-tracking.json
  monitoring/config/health-checks.json
  monitoring/config/performance-monitoring.json
  monitoring/scripts/health-check.js
  monitoring/scripts/performance-monitor.js
  scripts/deploy.sh
  scripts/monitoring/setup-alerts.sh
  tests/e2e/post-deploy-tests.js
  trigger.config.ts
  vercel.json
Due: npx ultracite format

fix(deployment): use explicit builds configuration to override framework detection
  vercel.json
Due: none

fix(deployment): force update .vercel/project.json framework configuration
  .vercel/project.json
  vercel.json
Due: none

feat(deployment): implement comprehensive cache clearing and alternative deployment
  .vercelignore
  api-vercel.json
  apps/api/src/routes/web-vitals.ts
  docs/development/continuous-development-guide.md
  package.json
  package.json.vercel
  scripts/deploy-api-separate.sh
  scripts/dev-workflow.sh
  scripts/package-updates.json
  scripts/performance/core-web-vitals.cjs
  scripts/performance/dashboard-generator.js
  scripts/setup-package-scripts.sh
  tools/testing/api-resolution-results.json
  vercel.json
Due: npx ultracite format

feat(deployment): complete alternative deployment solutions implementation
  .claude/commands/dev-lifecycle.md
  Dockerfile.api
  docs/deployment/alternative-deployment-guide.md
  railway.json
  tools/testing/api-resolution-results.json
Due: npx ultracite format

feat(deployment): implement official Vercel + Hono deployment pattern
  .claude/commands/dev-lifecycle.md
  .config/oxlint/.oxlintrc.json
  .gitignore
  .vercel/project.json
  README.md
  api/health.ts
  api/index.ts
  api/openapi.json.ts
  api/test.ts
  api/v1/health.ts
  apps/api/src/app.ts
  docs/agents/AGENTS.md
  docs/agents/apex-ui-ux-designer.md
  docs/architecture/frontend-architecture.md
  docs/features/ci-pipeline-deploy-job-alignment.md
  docs/features/deploy-vercel.md
  docs/features/nextjs-references-cleanup.md
  docs/features/prisma-migration-deploy-review.md
  docs/features/structured-logging-error-handling-review.md
  docs/features/vercel-configuration-decision.md
  docs/prd/prd.md
  memory/constitution.md
  packages/database/package.json
  packages/database/src/__tests__/migration-integration.test.ts
  packages/database/src/client.ts
  packages/database/src/index.ts
  packages/database/src/types/supabase.ts
  packages/database/src/utils/migration.ts
  packages/database/src/utils/validation.ts
  packages/shared/src/auth/protected-route.tsx
  scripts/setup-supabase-migrations.sh
  vercel.json
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

fix(api): remove basePath from Hono app for Vercel deployment
  apps/api/src/app.ts
  tools/testing/api-resolution-results.json
Due: npx ultracite format

fix(deployment): comprehensive Next.js artifact cleanup for Vercel
  .vercelignore
  vercel.json
Due: none

trigger: force fresh deployment after cache clearing
  .claude/commands/dev-lifecycle.md
  tools/testing/api-resolution-results.json
Due: npx ultracite format

feat: replace SignupFormDemo with LoginForm in signup routes
  apps/web/src/__tests__/routes/appointments.test.tsx
  apps/web/src/__tests__/routes/dashboard.test.tsx
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/ui/sidebar-demo.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/ui/signup-form-demo.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/integrations/supabase/client.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/appointments.tsx
  apps/web/src/routes/auth/callback.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/patients.tsx
  apps/web/src/routes/signup-demo.tsx
  apps/web/src/routes/signup.tsx
  apps/web/tsconfig.json
  docs/development/supabase-auth-redirects.md
  docs/features/supabase-auth-dashboard-redirect-setup.md
  docs/features/supabase-dashboard-config-checklist.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

feat: add ShimmerButton component and demo, update routing to include sidebar for specific paths
  apps/web/src/components/ConsentBanner.tsx
  apps/web/src/components/examples/shimmer-button-demo.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/shimmer-button.tsx
  apps/web/src/hooks/usePerformance.ts
  apps/web/src/integrations/supabase/client.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/auth/callback.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/vercel.json
  docs/deployment/vercel-linking.md
  package.json
  tailwind.config.cjs
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Refactor tests and components for improved structure and styling
  apps/web/ACETERNITY_UI_SETUP.md
  apps/web/aceternity.config.json
  apps/web/components.json
  apps/web/src/__tests__/ConsentBanner.test.tsx
  apps/web/src/__tests__/TestAuthLink.test.tsx
  apps/web/src/__tests__/routes/appointments.test.tsx
  apps/web/src/__tests__/routes/dashboard.test.tsx
  apps/web/src/components/examples/AceternityExample.tsx
  apps/web/src/components/ui/aceternity-button.tsx
  apps/web/src/components/ui/background-gradient.tsx
  apps/web/src/components/ui/sidebar-demo.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/index.css
  apps/web/src/test/analytics-consent.test.ts
  apps/web/src/test/setup.ts
  apps/web/tailwind.config.ts
  components.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: update import paths for utils and components in button, sidebar, and add gradient and particle button components
  apps/web/src/components/kokonutui/gradient-button.tsx
  apps/web/src/components/kokonutui/particle-button.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/sidebar.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Add Kokonut UI components including Liquid Glass Card and Particle Button
  .github/chatmodes/vibecoder.chatmode.md
  apps/web/src/components/examples/KokonutExample.tsx
  apps/web/src/components/kokonutui/gradient-button.tsx
  apps/web/src/components/kokonutui/particle-button.tsx
  apps/web/src/components/ui/background-gradient.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/gradient-button.tsx
  apps/web/src/components/ui/liquid-glass-card.tsx
  apps/web/src/components/ui/particle-button.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/hooks/useAuth.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: add login route and page component
  .vscode/tasks.json
  apps/web/package.json
  apps/web/src/__tests__/ConsentBanner.test.tsx
  apps/web/src/__tests__/TestAuthLink.test.tsx
  apps/web/src/__tests__/routes/appointments.test.tsx
  apps/web/src/__tests__/routes/dashboard.test.tsx
  apps/web/src/components/ConsentBanner.tsx
  apps/web/src/components/examples/KokonutExample.tsx
  apps/web/src/components/examples/shimmer-button-demo.tsx
  apps/web/src/components/ui/liquid-glass-card.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/login.tsx
  apps/web/src/test/analytics-consent.test.ts
  apps/web/src/test/setup.ts
  docs/deployment/api-routing-final-status.md
  docs/deployment/performance-metrics-report.md
  docs/ui-components-conflict-analysis.md
  docs/ui-components-conflict-resolution-summary.md
  docs/ui-components-organization-guide.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

feat: Implement Reports and Settings pages with authentication checks and UI components
  .github/chatmodes/apex-ui-ux-designer.chatmode.md
  .github/chatmodes/vibecoder.chatmode.md
  apps/web/src/__tests__/routes/appointments.test.tsx
  apps/web/src/__tests__/routes/dashboard.test.tsx
  apps/web/src/components/ui/sidebar-demo.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/financial.tsx
  apps/web/src/routes/governance.tsx
  apps/web/src/routes/profile.tsx
  apps/web/src/routes/reports.tsx
  apps/web/src/routes/settings.tsx
  apps/web/src/test/setup.ts
  docs/sidebar-implementation-complete.md
  docs/sidebar-implementation-verification.md
  scripts/test-sidebar-routes.js
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

feat: Update theme variables for NeonPro Aesthetic Clinic and remove unused API keys
  .npmrc
  .vscode/tasks.json
  apps/api/src/app.ts
  apps/api/src/routes/clients.ts
  apps/api/src/routes/rls-clients.ts
  apps/api/src/schemas/openapi-routes.ts
  apps/api/src/schemas/openapi-schemas.ts
  apps/web/.npmrc
  apps/web/src/index.css
  apps/web/src/lib/emergency/emergency-cache.test.ts
  apps/web/src/lib/emergency/emergency-cache.ts
  docs/vercel-build-fix.md
  docs/vercel-deployment-ready.md
  package-npm.json
  package.json
  scripts/vercel-build.sh
  tsconfig.json
  turbo.json
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

feat: Enhance health check endpoints and improve CORS handling with origin whitelisting
  .claude/settings.local.json
  apps/api/examples/nodejs-prisma.ts
  apps/api/vercel/health.ts
  apps/api/vercel/v1/health.ts
  apps/web/src/components/ui/beams-background.tsx
  apps/web/src/hooks/useAnalytics.ts
  apps/web/src/routes/auth/callback.tsx
  docs/vercel-build-error-fix-final.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Refactor authentication and client management routes
  apps/api/examples/edge-health.ts
  apps/api/vercel/index.ts
  apps/api/vercel/openapi.json.ts
  apps/web/components.json
  apps/web/e2e/google-oauth-flow.spec.ts
  apps/web/e2e/responsive-accessibility.spec.ts
  apps/web/src/__tests__/auth-form.test.tsx
  apps/web/src/__tests__/routes/clients.test.tsx
  apps/web/src/components/auth/AuthForm.tsx
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/ui/gradient-button.tsx
  apps/web/src/components/ui/shimmer-button.tsx
  apps/web/src/components/ui/sidebar-demo.tsx
  apps/web/src/components/ui/signup-form-demo.tsx
  apps/web/src/components/ui/toaster.tsx
  apps/web/src/hooks/useAnalytics.ts
  apps/web/src/integrations/supabase/client.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/appointments.tsx
  apps/web/src/routes/clients.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/login.tsx
  apps/web/src/routes/signup-demo.tsx
  apps/web/src/routes/signup.tsx
  apps/web/vite.config.ts
  memory/constitution.md
  package.json
  scripts/test-sidebar-routes.js
  tools/e2e/auth.spec.ts
  turbo.json
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

refactor: replace legacy Toaster with Sonner for toast notifications
  .github/chatmodes/apex-ui-ux-designer.chatmode.md
  apps/api/package.json
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/GradientButtonsDemo.tsx
  apps/web/src/components/ui/aceternity-button.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/particle-button.tsx
  apps/web/src/components/ui/sidebar-demo.tsx
  apps/web/src/components/ui/sonner.tsx
  apps/web/src/components/ui/toaster.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/financial.tsx
  apps/web/src/routes/governance.tsx
  apps/web/src/routes/profile.tsx
  apps/web/src/routes/reports.tsx
  apps/web/src/routes/settings.tsx
  apps/web/src/test/setup.ts
  apps/web/vite.config.ts
  docs/build-strategy-analysis.md
  package.json
  packages/core-services/package.json
  packages/security/package.json
  packages/ui/package.json
  packages/ui/src/AceternityHoverBorderGradientButton.tsx
  packages/ui/src/KokonutGradientButton.tsx
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  scripts/test-sidebar-routes.js
  tsconfig.json
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

feat: remove deprecated button components and add new gradient button implementations
  apps/web/e2e/auth.spec.ts
  apps/web/src/components/GradientButtonsDemo.tsx
  apps/web/src/components/ui/aceternity-hover-border-gradient-button.tsx
  apps/web/src/components/ui/gradient-buttons-demo.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/kokonut-gradient-button.tsx
  docs/vercel-configuration-systematic.md
  docs/vercel-deploy-fix-final.md
  package.json
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  turbo.json
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

feat: Update project configuration and enhance API testing components with TanStack Query integration
  .vercel/project.json
  apps/web/src/routes/api-test.tsx
  scripts/deploy.sh
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Enhance patient data handling and add healthcare integration test route
  apps/web/src/hooks/useHealthcareQuery.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/healthcare-test.tsx
  apps/web/src/routes/patients/$patientId.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...'

Change script file permissions to 644
  apps/web/comprehensive-test-verification.sh
  apps/web/test-verification.sh
  scripts/deploy-api-separate.sh
  scripts/deploy.sh
  scripts/dev-workflow.sh
  scripts/monitoring/setup-alerts.sh
  scripts/performance/core-web-vitals.cjs
  scripts/performance/dashboard-generator.js
  scripts/setup-package-scripts.sh
  scripts/setup-supabase-migrations.sh
  scripts/simple-smoke-test.sh
  scripts/smoke-test.sh
  scripts/test-sidebar-routes.js
  scripts/vercel-build.sh
  tools/monitoring/scripts/health-check.js
  tools/monitoring/scripts/performance-monitor.js
  tools/performance/demo-threshold-testing.sh
  tools/performance/run-cold-start-measurement.sh
  tools/performance/validate-performance-budgets.sh
  tools/performance/verify-turbo-cache.sh
  tools/testing/scripts/smoke-test.sh
  tools/testing/smoke-test.sh
  tools/testing/verify-api-resolution.sh
  tools/tests/e2e/post-deploy-tests.js
Due: npx ultracite format

feat: Update package manager version in package.json and modify tools list in vibecoder.chatmode.md
  .github/chatmodes/vibecoder.chatmode.md
  package.json
Due: npx ultracite format

feat: Implement floating AI chat feature with button and modal interface, enhance root component for conditional rendering
  .github/chatmodes/vibecoder.chatmode.md
  .gitignore
  .vercel/project.json
  ACETERNITY_SIDEBAR_IMPLEMENTATION_COMPLETE.md
  apps/web/src/components/ui/ai-chat/index.ts
  apps/web/src/components/ui/floating-ai-chat.tsx
  apps/web/src/components/ui/floating-chat-button.tsx
  apps/web/src/routes/__root.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: add UI components for card, chat, and interactive elements
  .github/chatmodes/apex-ui-ux-designer.chatmode.md
  DEPLOYMENT-SUCCESS-REPORT.md
  apps/web/.tanstack/tmp/2d20bee6-cf35d6b9318437c38ff703e7ac6319ee
  apps/web/.tanstack/tmp/88674e71-cf35d6b9318437c38ff703e7ac6319ee
  apps/web/package.json
  apps/web/src/components/molecules/card.tsx
  apps/web/src/components/theme-provider.tsx
  apps/web/src/components/ui/README-chatbot.md
  apps/web/src/components/ui/bento-grid-demo.tsx
  apps/web/src/components/ui/bento-grid.md
  apps/web/src/components/ui/bento-grid.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/floating-ai-chat-simple.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/magic-card.tsx
  apps/web/src/components/ui/shine-border.tsx
  apps/web/src/components/ui/sidebar-demo.tsx
  apps/web/src/components/ui/simple-chat-button.tsx
  apps/web/src/integrations/supabase/client.ts
  apps/web/src/main.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/bento-grid-test.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/financial.tsx
  apps/web/src/routes/reports.tsx
  apps/web/src/test/setup.ts
  apps/web/vitest.config.ts
  bun.lock
  docs/features/theme-toggle.md
  docs/mistakes/vitest-node22-windows.md
  docs/ui-components-organization-guide.md
  package.json
  packages/ui/src/AnimatedThemeToggler.tsx
  packages/ui/src/index.ts
  packages/ui/src/theme/ThemeContext.tsx
  packages/ui/src/theme/index.ts
  vercel-bun.json
  vercel-direct.json
  vercel-turbo.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

feat: Implement animated theme toggler component with view transition support
  .vscode/tasks.json
  apps/web/ACETERNITY_UI_SETUP.md
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/__tests__/auth-form.test.tsx
  apps/web/src/components/GradientButtonsDemo.tsx
  apps/web/src/components/README.md
  apps/web/src/components/auth/AuthForm.tsx
  apps/web/src/components/index.ts
  apps/web/src/components/magicui/shine-border.tsx
  apps/web/src/components/molecules/card.tsx
  apps/web/src/components/theme-provider.tsx
  apps/web/src/components/ui/_deprecated/ai-chat-demo.tsx
  apps/web/src/components/ui/_deprecated/bento-grid-demo.tsx
  apps/web/src/components/ui/_deprecated/shine-border.tsx
  apps/web/src/components/ui/_deprecated/sidebar-demo.tsx
  apps/web/src/components/ui/_deprecated/signup-form-demo.tsx
  apps/web/src/components/ui/animated-theme-toggler.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/magic-card.tsx
  apps/web/src/components/ui/sidebar-demo.tsx
  apps/web/src/index.css
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/bento-grid-test.tsx
  apps/web/tailwind.config.js
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  apps/web/vitest.config.ts.timestamp-1757653233654-36c10aef64ee1.mjs
  docs/deployment/TURBOREPO-DEPLOYMENT-SUCCESS.md
  docs/features/shared-ui-architecture.md
  packages/ui/README.md
  packages/ui/src/AceternityHoverBorderGradientButton.tsx
  packages/ui/src/AnimatedThemeToggler.tsx
  packages/ui/src/KokonutGradientButton.tsx
  packages/ui/src/index.ts
  packages/ui/src/theme/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

fix: resolve build errors and cleanup unused imports
  apps/web/src/components/auth/AuthForm.tsx
  apps/web/src/components/examples/AceternityExample.tsx
  apps/web/src/components/examples/KokonutExample.tsx
  apps/web/src/components/examples/shimmer-button-demo.tsx
  apps/web/src/components/healthcare/index.ts
  apps/web/src/components/healthcare/types.ts
  apps/web/src/components/index.ts
  apps/web/src/components/organisms/ai-chat-container.tsx
  apps/web/src/components/theme-provider.tsx
  apps/web/src/components/ui/ai-chat/ai-input-search.tsx
  apps/web/src/components/ui/ai-chat/ai-loading.tsx
  apps/web/src/components/ui/ai-chat/ai-text-loading.tsx
  apps/web/src/components/ui/ai-chat/ai-voice.tsx
  apps/web/src/components/ui/floating-chat-button.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/sidebar-demo.tsx
  apps/web/src/components/ui/simple-chat-button.tsx
  apps/web/src/routes/api-test.tsx
  apps/web/src/routes/bento-grid-test.tsx
  apps/web/tsconfig.json
  bun.lock
  packages/ui/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

fix: update vercel build command to use direct bun build
  vercel.json
Due: none

fix: use npm with legacy flags for Vercel deployment
  vercel.json
Due: none

fix: update build tasks, clean up unused imports, and adjust TypeScript configurations
  .vscode/tasks.json
  apps/web/src/components/auth/AuthForm.tsx
  apps/web/src/components/index.ts
  apps/web/src/components/organisms/ai-chat-container.tsx
  apps/web/src/components/theme-provider.tsx
  apps/web/src/components/ui/ai-chat/ai-input-search.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/hooks/useAIChat.ts
  apps/web/src/hooks/useHealthcareQuery.ts
  apps/web/src/integrations/supabase/client.ts
  apps/web/src/routes/api-test.tsx
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint
