Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

refactor: update chatmode definitions, enhance Vitest configuration, and add performance tests
  .github/chatmodes/vibecoder.chatmode.md
  .vitest/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
  apps/web/app/api/patients/route.ts
  apps/web/components/patient-portal/education-center.tsx
  packages/performance/tests/index.test.ts
  packages/ui/src/themes/neonpro/components/payment-status-table.tsx
  vitest.config.ts
  vitest.setup.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

refactor: update props naming in AnalyticsDashboard, enhance cache layer stats structure, and improve error handling in utility functions
  apps/web/src/components/analytics/AnalyticsDashboard.tsx
  apps/web/src/components/healthcare/HealthcareMetricCard.tsx
  packages/cache/src/browser-cache.ts
  packages/cache/src/cache-manager.ts
  packages/cache/src/edge-cache.ts
  packages/cache/src/enterprise.ts
  packages/cache/src/types.ts
  packages/shared/src/errors/error-utils.ts
  packages/shared/src/templates/healthcare-feature-template.ts
  vitest.setup.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

test: mock /api/v1/audit-log and navigator.sendBeacon in vitest.setup.ts to stabilize unit tests (0 unhandled errors). Tasks: 9e5f3269, bcd42364, ad07eb8a
  vitest.setup.ts
Due: npx ultracite format

ci(quality-gates): fix bash interpolation causing invalid GitHub Actions output parsing; avoid nested command substitutions in echo; stabilize report generation
  .github/workflows/quality-gates.yml
Due: none

ci: unify pipelines into single CI (Unified) with lint, type-check, tests+coverage, quality gates, and Vercel deploy; remove legacy workflows; add docs/ci.md
  .github/workflows/ci.yml
  docs/ci.md
Due: npx ultracite format

Change file permissions from executable to non-executable
  .claude/hooks/commons.sh
  .claude/hooks/file-validator.py
  .claude/hooks/format-and-lint.py
  .claude/hooks/post-tool.sh
  .claude/hooks/pre-tool.sh
  .claude/hooks/session-context.py
  .claude/hooks/session-stop.sh
  .claude/hooks/setup-final.sh
  .claude/hooks/workflow-coordinator.py
  apps/web/test-mvp-compilation.ts
  reports/tech-stack-analysis.md
  scripts/guard-nonprod-only.py
  scripts/optimize-memory.sh
  scripts/production-deployment.sh
  scripts/staging-validation.sh
  scripts/technology-stack-validation-fix.sh
  scripts/vercel-build.sh
  specs/001-universal-ai-chat/spec.md
  tools/testing/archived/cleanup_placeholders.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update healthcare-error-handler.ts
  apps/api/src/middleware/errors/healthcare-error-handler.ts
Due: npx ultracite format

feat: Add comprehensive compliance requirements documentation for LGPD, ANVISA, CFM, and WCAG 2.1 AA
  .claude/settings.local.json
  README-QUICKSTART.md
  apps/web/src/components/analytics/RealTimeMonitoringDashboard.tsx
  apps/web/src/components/compliance/EmergencyProtocolsManager.tsx
  apps/web/tests/setup/global-mocks.ts
  docs/features/bmad-brownfield-mvp-plan.md
  docs/features/staging-deploy-runbook.md
  packages/core-services/src/health/EnterpriseHealthCheckService.ts
  packages/core-services/src/services/BrazilianAIService.ts
  packages/core-services/src/services/BrazilianHealthcareContextProcessor.ts
  packages/core-services/src/services/MedicalErrorHandler.ts
  packages/security/src/auth/test-real-auth.ts
  reports/architecture-rules-checklist.md
  reports/compliance-requirements.md
  reports/tools-inventory.json
  reports/versions-matrix.md
  tools/reports/remediation-plan.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Refactor type usage and improve type safety across codebase
  .claude/settings.local.json
  .github/chatmodes/vibecoder.chatmode.md
  apps/web/app/api/cron/drift-monitoring/route.ts
  apps/web/app/api/scheduling/analytics/[tenantId]/route.ts
  apps/web/tests/setup/global-mocks.ts
  apps/web/types/billing.ts
  apps/web/types/common.ts
  apps/web/types/database.ts
  docs/memory/lint-remediation-phase-6-final.md
  docs/memory/lint-remediation-phase-7-analysis.md
  packages/core-services/src/scheduling/service.ts
  packages/security/src/audit/unified-audit-service.ts
  packages/security/src/auth/supabase-adapter/SupabaseAuthAdapter.ts
  packages/ui/src/components/PatientTable.tsx
  packages/ui/src/components/ProgressiveEnhancement.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/visually-hidden.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

Add Byterover MCP workflows and improve type safety
  apps/web/app/api/scheduling/analytics/[tenantId]/route.ts
  apps/web/app/auth-test/page.tsx
  apps/web/app/components/phase4-validation/validation-dashboard.tsx
  apps/web/app/components/staff-alerts/staff-alert-dashboard.tsx
  apps/web/app/components/staff-training/training-interface.tsx
  apps/web/app/types/performance-monitoring.ts
  apps/web/app/types/staff-alerts.ts
  apps/web/app/types/staff-training.ts
  apps/web/components/dynamic/excel-processor.tsx
  apps/web/components/mobile/ConflictResolver.tsx
  apps/web/components/pwa/HealthcareServiceWorker.tsx
  apps/web/components/ui/voice-interaction-ux.tsx
  apps/web/components/voice-navigation/VoiceNavigationButton.tsx
  apps/web/src/types/compliance.ts
  apps/web/src/types/index.ts
  apps/web/tests/integration/auth-flow.integration.test.tsx
  apps/web/tests/integration/database-integration.test.tsx
  apps/web/tsconfig.json
  apps/web/types/index.ts
  apps/web/types/performance-monitoring.ts
  apps/web/types/staff-alerts.ts
  apps/web/types/staff-training.ts
  oxlint.json
  packages/core-services/src/scheduling/types.ts
  packages/core-services/tests/BrazilianAIService.test.ts
  packages/ui/src/components/anvisa/professional-management.tsx
  packages/ui/src/components/ui/accessibility-monitor.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

Refactor type annotations in scheduling service
  apps/api/src/routes/whatsapp.test.ts
  packages/core-services/src/scheduling/service.ts
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

Refactor training interface and update dependencies
  .claude/settings.local.json
  apps/api/package.json
  apps/api/src/routes/whatsapp.ts
  apps/web/app/api/cron/drift-monitoring/route.ts
  apps/web/app/api/scheduling/analytics/[tenantId]/route.ts
  apps/web/app/components/neonpro-healthcare-dashboard.tsx
  apps/web/app/components/staff-training/training-interface.tsx
  apps/web/tsconfig.json
  apps/web/types/common.ts
  packages/core-services/src/base/__tests__/EnhancedServiceBase.test.ts
  packages/core-services/src/test/enterprise-validation.test.ts
  packages/core-services/tests/MedicalErrorHandler.test.ts
  packages/shared/package.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Refactor auth refresh and remove test assets
  apps/web/contexts/auth-context-new.tsx
  tools/testing/playwright-root/fixtures/test-document.pdf
  tools/testing/reports/bg.png
  tools/testing/reports/favicon.ico
  tools/testing/reports/favicon.svg
  tools/testing/reports/homepage.png
  tools/testing/reports/mobile-homepage.png
  tools/testing/reports/test-results/tests-homepage-NeonPro-App-09b3b-should-have-navigation-menu-Mobile-Chrome/test-failed-1.png
  tools/testing/reports/test-results/tests-homepage-NeonPro-App-09b3b-should-have-navigation-menu-Mobile-Safari/test-failed-1.png
  tools/testing/reports/test-results/tests-homepage-NeonPro-App-09b3b-should-have-navigation-menu-chromium/test-failed-1.png
  tools/testing/reports/test-results/tests-homepage-NeonPro-App-09b3b-should-have-navigation-menu-firefox/test-failed-1.png
  tools/testing/reports/test-results/tests-homepage-NeonPro-App-09b3b-should-have-navigation-menu-webkit/test-failed-1.png
  tools/testing/reports/test-results/tests-homepage-NeonPro-App-42516-uld-be-responsive-on-mobile-Mobile-Chrome/test-failed-1.png
  tools/testing/reports/test-results/tests-homepage-NeonPro-Application-should-load-the-homepage-Mobile-Chrome/test-failed-1.png
  tools/testing/test-results/neonpro-healthcare-NeonPro-bf3a9-ould-navigate-to-login-page-chromium-healthcare/test-failed-1.png
  tools/testing/test-results/neonpro-healthcare-NeonPro-cc6f6-atient-routes-appropriately-chromium-healthcare-retry1/test-failed-1.png
  tools/testing/test-results/neonpro-healthcare-NeonPro-cc6f6-atient-routes-appropriately-chromium-healthcare/test-failed-1.png
  tools/testing/test-results/neonpro-healthcare-NeonPro-e245a-hcare-compliance-indicators-chromium-healthcare-retry1/test-failed-1.png
  tools/testing/test-results/neonpro-healthcare-NeonPro-e245a-hcare-compliance-indicators-chromium-healthcare/test-failed-1.png
  tools/testing/tools/testing/reports/mobile-homepage.png
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Remove inactive AR simulator feature and update CI
  .claude/settings.local.json
  .github/workflows/ci.yml
  README.md
  apps/api/src/routes/ai/_inactive_ar-simulator-constants.ts
  apps/api/src/routes/ai/_inactive_ar-simulator-constants_backup.ts
  apps/api/src/routes/ai/_inactive_ar-simulator-endpoints.ts
  apps/api/src/routes/ai/_inactive_ar-simulator-endpoints_backup.ts
  apps/api/src/routes/ai/_inactive_ar-simulator-helpers.ts
  apps/api/src/routes/ai/_inactive_ar-simulator-helpers_backup.ts
  apps/api/src/routes/ai/_inactive_ar-simulator-schemas.ts
  apps/api/src/routes/whatsapp-e2e.test.ts
  apps/api/src/services/ar-simulator/_inactive_ARResultsSimulatorService.ts
  apps/web/app/(dashboard)/dashboard/patients/page.tsx.backup_syntax
  apps/web/app/api/communications/route.ts
  apps/web/app/api/example/sentry-integration/route.ts.removed
  apps/web/app/api/patients/[id]/route.ts
  apps/web/app/hooks/use-whatsapp.ts
  apps/web/app/lib/services/retention-new.ts.deleted
  apps/web/app/lib/services/retention.ts.deleted
  apps/web/app/lib/services/stock-alert.service.ts.deleted
  apps/web/contexts/auth-context-new.tsx
  apps/web/hooks/enhanced/use-appointments.ts
  apps/web/lib/services/api-gateway-migrated.ts.deleted
  apps/web/src/features/ar-simulator/components/_inactive_ARResultsSimulator.tsx
  apps/web/src/features/ar-simulator/components/_inactive_WebARViewer.tsx
  apps/web/src/features/ar-simulator/components/_inactive_index.ts
  apps/web/src/features/ar-simulator/hooks/_inactive_useARSimulator.ts
  apps/web/src/features/ar-simulator/hooks/_inactive_useARSimulator_backup.ts
  apps/web/tests/e2e/_inactive_ai-features-prediction.spec.ts
  detect-orphans.js
  package.json
  packages/core-services/src/base/EnhancedServiceBase.ts
  packages/core-services/src/test/enterprise-structure-validation.js.deleted
  packages/security/scripts/security-scan.js.deleted
  packages/security/src/auth/enterprise/components/index.ts
  packages/security/src/encryption/healthcare-encryption.ts
  packages/shared/src/templates/healthcare-api-template.ts
  packages/shared/src/templates/healthcare-component-template.tsx
  packages/ui/src/components/ui/accessibility-monitor.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

Refactor event handlers to specify value types and improve code clarity
  apps/web/app/(dashboard)/chat/page.tsx
  apps/web/app/(dashboard)/dashboard/reports/scheduling-modal.tsx
  apps/web/components/accessibility/voice-medical-controller.tsx
  apps/web/components/treatments/BeforeAfterSecureGallery.tsx
  apps/web/next.config.js
  apps/web/package.json
  detect-orphans.js
  package.json
  packages/core-services/package.json
  packages/shared/src/templates/healthcare-api-template.ts
  packages/ui/src/components/PatientTable.tsx
  packages/ui/src/components/dashboard/security/ActiveSessionsTable.tsx
  packages/ui/src/components/dashboard/security/SecurityAlertsTable.tsx
  packages/ui/src/components/dashboard/security/SecurityDashboard.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Medical file detected: ensuring ANVISA compliance...'
