Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

refactor: remove deprecated components and clean up UI exports
  apps/web/src/components/index.ts
  apps/web/src/components/organisms/index.ts
  apps/web/src/components/ui/_deprecated/ai-chat-demo.tsx
  apps/web/src/components/ui/_deprecated/bento-grid-demo.tsx
  apps/web/src/components/ui/_deprecated/shine-border.tsx
  apps/web/src/components/ui/_deprecated/sidebar-demo.tsx
  apps/web/src/components/ui/_deprecated/signup-form-demo.tsx
  apps/web/src/components/ui/aceternity-neonpro-sidebar.tsx
  apps/web/src/components/ui/aceternity-sidebar.tsx
  apps/web/src/components/ui/ai-chat/index.ts
  apps/web/src/components/ui/background-gradient.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/floating-ai-chat.tsx
  apps/web/src/components/ui/floating-chat-button.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/liquid-glass-card.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/sidebar-demo.tsx
  apps/web/src/components/ui/simple-chat-button.tsx
  apps/web/src/routes/api-test.tsx
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: add TestShadcnSetup component and shadcn-test route for UI testing
  .github/chatmodes/apex-ui-ux-designer.chatmode.md
  .kilocodemodes
  apps/web/.tanstack/tmp/1ab96abd-cf35d6b9318437c38ff703e7ac6319ee
  apps/web/.tanstack/tmp/f0622c7c-cf35d6b9318437c38ff703e7ac6319ee
  apps/web/package.json
  apps/web/src/components/ConsentBanner.tsx
  apps/web/src/components/auth/AuthForm.tsx
  apps/web/src/components/error-pages/NotFoundPage.tsx
  apps/web/src/components/magicui/shine-border.tsx
  apps/web/src/components/test-shadcn-setup.tsx
  apps/web/src/components/ui/bento-grid.tsx
  apps/web/src/index.css
  apps/web/src/routes/appointments.tsx
  apps/web/src/routes/clients.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/financial.tsx
  apps/web/src/routes/healthcare-test.tsx
  apps/web/src/routes/patients/$patientId.tsx
  apps/web/src/routes/profile.tsx
  apps/web/src/routes/reports.tsx
  apps/web/src/routes/settings.tsx
  apps/web/src/routes/shadcn-test.tsx
  apps/web/src/routes/shine-test.tsx
  apps/web/src/routes/test-auth.tsx
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  apps/web/vitest.config.ts.timestamp-1757680934980-5e720631044f6.mjs
  bun.lock
  components.json
  docs/shadcn-ui-monorepo-setup.md
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/card.tsx
  packages/ui/src/index.ts
  vercel-turbo.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Healthcare file detected: ensuring LGPD compliance...'

feat: Add Enhanced Shine Border and Hover Border Gradient components
  apps/web/.tanstack/tmp/1ab96abd-cf35d6b9318437c38ff703e7ac6319ee
  apps/web/.tanstack/tmp/472b19e8-cf35d6b9318437c38ff703e7ac6319ee
  apps/web/.tanstack/tmp/65bbab41-cf35d6b9318437c38ff703e7ac6319ee
  apps/web/.tanstack/tmp/fe37fc06-cf35d6b9318437c38ff703e7ac6319ee
  apps/web/src/components/atoms/button.tsx
  apps/web/src/components/kokonutui/particle-button.tsx
  apps/web/src/components/molecules/card.tsx
  apps/web/src/components/molecules/index.ts
  apps/web/src/components/ui/alert.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/index.css
  apps/web/src/routes/advanced-animations-test.tsx
  apps/web/src/routes/animation-validation-suite.tsx
  apps/web/src/routes/comprehensive-button-test.tsx
  apps/web/src/routes/particle-test.tsx
  docs/card-component-architecture-analysis.md
  docs/component-governance-policies.md
  docs/component-usage-guide.md
  docs/neonpro-component-architecture-analysis.md
  packages/ui/src/components/aceternity/enhanced-shine-border.tsx
  packages/ui/src/components/aceternity/hover-border-gradient.css
  packages/ui/src/components/aceternity/hover-border-gradient.tsx
  packages/ui/src/components/aceternity/index.ts
  packages/ui/src/components/magicui/index.ts
  packages/ui/src/components/magicui/shine-border.css
  packages/ui/src/components/magicui/shine-border.tsx
  packages/ui/src/components/ui/universal-button.tsx
  packages/ui/src/demo/AceternityHoverBorderDemo.tsx
  packages/ui/src/demo/ShineBorderDemo.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useAnimationPerformance.ts
  packages/ui/src/hooks/useHoverBorderGradient.ts
  packages/ui/src/hooks/useShineBorderAnimation.ts
  packages/ui/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

feat: Add comprehensive architecture analysis documentation for NeonPro component organization
  .claude/settings.json
  .github/prompts/prompt.md
  .github/prompts/pull_request_template.md
  .github/prompts/vercel-deployment.prompt.md
  1753683755292-30b3431f487b4cc1863e57a81d78e289.sh
  WARP.md
  apps/api/src/middleware/performance.ts
  apps/api/src/routes/patients.ts
  bun.lock
  docs/agents/apex-ui-ux-designer.md
  docs/implementation/architecture-enhancement-plan.md
  docs/implementation/testing-strategy.md
  docs/ui/component-organization-analysis.md
  packages/core-services/package.json
  packages/core-services/src/index.ts
  packages/core-services/src/realtime/realtime-manager.ts
  packages/core-services/tsconfig.json
  packages/database/package.json
  packages/database/src/client.ts
  packages/database/src/index.ts
  packages/database/src/services/base.service.ts
  packages/shared/src/hooks/useRealtimeQuery.ts
  packages/shared/src/types/api.ts
  turbo.json
Due: npx ultracite format, echo 'Healthcare file detected: ensuring LGPD compliance...'

refactor: Consolidate imports and improve component structure across routes
  apps/api/src/routes/patients.ts
  apps/web/e2e/responsive-accessibility.spec.ts
  apps/web/src/__tests__/universal-button.test.tsx
  apps/web/src/components/organisms/governance/KPIOverviewCards.tsx
  apps/web/src/components/ui/ai-chat/ai-voice.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/hooks/useAIChat.ts
  apps/web/src/hooks/useHealthcareQuery.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/animation-validation-suite.tsx
  apps/web/src/routes/clients.tsx
  apps/web/src/routes/healthcare-test.tsx
  apps/web/src/routes/settings.tsx
  apps/web/src/test/setup.ts
  docs/components/restructuring-completion-report.md
  docs/components/usage-guide.md
  packages/ui/tsup.config.ts
  temp_patch.diff
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

feat: Enhance NeonPro frontend documentation with production-validated patterns and metrics
  apps/web/vitest.config.ts
  docs/agents/apex-ui-ux-designer.md
  docs/agents/ui-ux-enhancement-summary.md
  docs/architecture/documentation-enhancement-summary.md
  docs/architecture/front-end-spec.md
  docs/architecture/frontend-architecture.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Add comprehensive GitHub integration setup and quick reference documentation
  .github/chatmodes/vibecoder.chatmode.md
  GITHUB_SETUP_SUMMARY.md
  docs/setup/github-integration-setup.md
  docs/setup/github-quick-reference.md
Due: npx ultracite format

feat: Implement professional management service with availability and specialization matching
  .vscode/extensions.json
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/__tests__/routes/appointments.test.tsx
  apps/web/src/__tests__/routes/clients.test.tsx
  apps/web/src/__tests__/routes/dashboard.test.tsx
  apps/web/src/components/appointment-booking.tsx
  apps/web/src/components/comp-542.tsx
  apps/web/src/components/event-calendar/agenda-view.tsx
  apps/web/src/components/event-calendar/calendar-dnd-context.tsx
  apps/web/src/components/event-calendar/day-view.tsx
  apps/web/src/components/event-calendar/draggable-event.tsx
  apps/web/src/components/event-calendar/droppable-cell.tsx
  apps/web/src/components/event-calendar/event-calendar.tsx
  apps/web/src/components/event-calendar/event-dialog.tsx
  apps/web/src/components/event-calendar/event-item.tsx
  apps/web/src/components/event-calendar/events-popup.tsx
  apps/web/src/components/event-calendar/hooks/use-current-time-indicator.ts
  apps/web/src/components/event-calendar/month-view.tsx
  apps/web/src/components/event-calendar/utils.ts
  apps/web/src/components/event-calendar/week-view.tsx
  apps/web/src/components/index.ts
  apps/web/src/components/test-shadcn-setup.tsx
  apps/web/src/hooks/useAppointments.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useBusinessAnalytics.ts
  apps/web/src/hooks/useNotifications.ts
  apps/web/src/hooks/useProfessionals.ts
  apps/web/src/hooks/useTimeSlotValidation.ts
  apps/web/src/routes/appointments.tsx
  apps/web/src/routes/validation-report.tsx
  apps/web/src/services/analytics.service.ts
  apps/web/src/services/notification.service.ts
  apps/web/src/services/professionals.service.ts
  apps/web/src/services/time-slot-validation.service.ts
  apps/web/src/services/user-profile.service.ts
  packages/ui/src/components/ui/universal-button.tsx
  packages/ui/src/hooks/useAnimationPerformance.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

feat: update package.json scripts to disable prepare script for workspace install
  apps/web/src/App.tsx
  apps/web/src/components/appointment-booking.tsx
  apps/web/src/components/auth/AuthForm.tsx
  apps/web/src/components/comp-505.tsx
  apps/web/src/components/index.ts
  apps/web/src/components/ui/index.ts
  apps/web/src/hooks/useAnalytics.ts
  apps/web/src/hooks/useAppointments.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useBusinessAnalytics.ts
  apps/web/src/hooks/usePerformance.ts
  apps/web/src/hooks/useProfessionals.ts
  apps/web/src/hooks/useTimeSlotValidation.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/api-test.tsx
  apps/web/src/routes/appointments.tsx
  apps/web/src/routes/appointments/new.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/validation-report.tsx
  apps/web/src/services/analytics.service.ts
  apps/web/src/services/appointments.service.ts
  apps/web/src/services/notification.service.ts
  apps/web/src/services/patients.service.ts
  apps/web/src/services/professionals.service.ts
  apps/web/src/services/service-types.service.ts
  apps/web/src/services/time-slot-validation.service.ts
  apps/web/src/services/user-profile.service.ts
  apps/web/src/test/setup.ts
  apps/web/tsconfig.json
  bun.lock
  packages/config/package.json
  packages/database/package.json
  packages/shared/package.json
  packages/types/package.json
  packages/ui/src/components/magicui/animated-list.tsx
  packages/ui/src/components/ui/universal-button.tsx
  packages/utils/package.json
  scripts/deploy-neonpro-turborepo.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Healthcare file detected: ensuring LGPD compliance...'

feat: Implement service management page with CRUD operations
  .claude/agents/apex-ui-ux-designer.md
  .claude/settings.local.json
  .github/chatmodes/apex-ui-ux-designer.chatmode.md
  apps/web/package.json
  apps/web/src/__tests__/routes/appointments.test.tsx
  apps/web/src/__tests__/routes/clients.test.tsx
  apps/web/src/__tests__/routes/dashboard.test.tsx
  apps/web/src/components/appointment-booking.tsx
  apps/web/src/components/comp-485.tsx
  apps/web/src/components/patients/PatientCreationForm.tsx
  apps/web/src/components/patients/PatientDataTable.tsx
  apps/web/src/components/services/ServiceCreationForm.tsx
  apps/web/src/components/services/ServiceForm.tsx
  apps/web/src/hooks/useAppointments.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/usePatients.ts
  apps/web/src/hooks/useServices.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/appointments.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/patients.tsx
  apps/web/src/routes/patients/$patientId.tsx
  apps/web/src/routes/patients/$patientId/documents.tsx
  apps/web/src/routes/patients/$patientId/edit.tsx
  apps/web/src/routes/patients/$patientId/history.tsx
  apps/web/src/routes/services.tsx
  apps/web/src/services/analytics.service.ts
  apps/web/src/services/patients.service.ts
  apps/web/src/services/user-profile.service.ts
  apps/web/src/types/service.ts
  bun.lock
  docs/agents/apex-ui-ux-designer.md
  docs/architecture/documentation-enhancement-summary.md
  packages/ui/package.json
  packages/ui/src/components/ui/alert-dialog.tsx
  packages/ui/src/components/ui/pagination.tsx
  packages/ui/src/components/ui/separator.tsx
  packages/ui/src/components/ui/switch.tsx
  packages/ui/src/components/ui/table.tsx
  packages/ui/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

feat: Enhance patient management with new service methods for generating medical record numbers and parsing full names
  apps/web/src/routes/patients.tsx
  apps/web/src/routes/patients/$patientId.tsx
  apps/web/src/routes/patients/$patientId/documents.tsx
  apps/web/src/routes/patients/$patientId/edit.tsx
  apps/web/src/routes/patients/$patientId/history.tsx
  apps/web/src/services/patients.service.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...'

feat: Implement service templates management with CRUD operations
  apps/web/src/__tests__/routes/appointments.test.tsx
  apps/web/src/__tests__/routes/clients.test.tsx
  apps/web/src/__tests__/routes/dashboard.test.tsx
  apps/web/src/components/appointment-booking.tsx
  apps/web/src/components/appointment-templates/AppointmentTemplateSelector.tsx
  apps/web/src/components/notifications/NotificationDashboard.tsx
  apps/web/src/components/notifications/NotificationSettings.tsx
  apps/web/src/components/professional-services/ProfessionalServiceManager.tsx
  apps/web/src/components/service-categories/ServiceCategoryForm.tsx
  apps/web/src/components/service-categories/ServiceCategoryManager.tsx
  apps/web/src/components/service-categories/ServiceCategoryStats.tsx
  apps/web/src/components/service-templates/ServiceTemplateManager.tsx
  apps/web/src/hooks/useAppointmentTemplates.ts
  apps/web/src/hooks/useNotificationScheduler.ts
  apps/web/src/hooks/useProfessionalServices.ts
  apps/web/src/hooks/useServiceCategories.ts
  apps/web/src/hooks/useServiceTemplates.ts
  apps/web/src/hooks/useServices.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/patients.tsx
  apps/web/src/routes/patients/$patientId/documents.tsx
  apps/web/src/routes/patients/$patientId/history.tsx
  apps/web/src/routes/professional-services.tsx
  apps/web/src/routes/service-categories.tsx
  apps/web/src/routes/service-templates.tsx
  apps/web/src/services/appointment-templates.service.ts
  apps/web/src/services/notification-scheduler.service.ts
  apps/web/src/services/professional-services.service.ts
  apps/web/src/services/service-categories.service.ts
  apps/web/src/services/service-templates.service.ts
  apps/web/src/types/appointment-templates.ts
  apps/web/src/types/professional-services.ts
  apps/web/src/types/service-categories.ts
  apps/web/src/types/service-templates.ts
  apps/web/src/types/service.ts
  apps/web/tsconfig.json
  packages/ui/src/components/magicui/animated-list.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

fix: Minor service layer improvements and cleanup
  .vscode/chatmodes/vibecoder.chatmode.md
  .vscode/extensions.json
  apps/web/src/services/patient-communication.service.ts
  apps/web/src/services/patient-history.service.ts
  apps/web/src/services/pricing-rules.service.ts
  apps/web/src/services/service-analytics.service.ts
  docs/setup/github-integration-setup.md
  docs/setup/github-quick-reference.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...'

feat: Convert brand logo to SVG and update favicon
  .kilocode/rules/AGENTS.md
  apps/web/public/brand/README.md
  apps/web/public/brand/iconeneonpro.placeholder.txt
  apps/web/public/brand/iconeneonpro.png
  apps/web/public/brand/iconeneonpro.svg
  apps/web/public/brand/simboloneonpro-real.png
  apps/web/public/brand/simboloneonpro.placeholder.txt
  apps/web/public/brand/simboloneonpro.png
  apps/web/public/brand/simboloneonpro.svg
  apps/web/src/__tests__/legacy/ConsentBanner.test.tsx
  apps/web/src/__tests__/legacy/TestAuthLink.test.tsx
  apps/web/src/__tests__/legacy/ai-chat/ai-chat.test.tsx
  apps/web/src/__tests__/legacy/analytics-consent.test.ts
  apps/web/src/__tests__/legacy/governance/AIGovernanceMetrics.test.tsx
  apps/web/src/__tests__/legacy/governance/AuditTrailTable.test.tsx
  apps/web/src/__tests__/legacy/governance/ComplianceStatusPanel.test.tsx
  apps/web/src/__tests__/legacy/governance/EscalationWorkflowStatus.test.tsx
  apps/web/src/__tests__/legacy/governance/GovernanceDashboard-Page.test.tsx
  apps/web/src/__tests__/legacy/governance/GovernanceDashboard.test.tsx
  apps/web/src/__tests__/legacy/governance/KPIOverviewCards.test.tsx
  apps/web/src/__tests__/legacy/governance/PolicyManagementPanel.test.tsx
  apps/web/src/__tests__/legacy/governance/RiskAssessmentTable.test.tsx
  apps/web/src/__tests__/legacy/universal-button.test.tsx
  apps/web/src/components/atoms/ai-brand-icon.tsx
  apps/web/src/components/ui/floating-ai-chat-simple.tsx
  apps/web/src/hooks/usePatientHistory.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/auth/callback.tsx
  apps/web/src/routes/auth/confirm.tsx
  apps/web/src/routes/comprehensive-button-test.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/test-auth.tsx
  apps/web/src/routes/universal-button-test.tsx
  apps/web/src/services/patient-communication.service.ts
  apps/web/src/services/patient-history.service.ts
  apps/web/src/services/pricing-rules.service.ts
  apps/web/src/services/service-analytics.service.ts
  scripts/install-brand-assets.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

fix: Update patient history hook formatting
  apps/web/src/hooks/usePatientHistory.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: Final formatting updates for deployment
  apps/web/src/hooks/usePatientHistory.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: Update vercel.json to use proven Bun build configuration
  vercel.json
Due: none

fix: Replace symbolic links with actual PNG files for deployment
  apps/web/public/brand/iconeneonpro.png
  apps/web/public/brand/simboloneonpro.png
Due: none

feat: Complete all 8 major feature systems for NeonPro
  .github/chatmodes/apex-ui-ux-designer.chatmode.md
  apps/web/components.json
  apps/web/src/components/pricing-rules/PricingRuleForm.tsx
  apps/web/src/components/pricing-rules/PricingRuleStats.tsx
  apps/web/src/components/pricing-rules/PricingRulesManager.tsx
  apps/web/src/components/service-analytics/ServiceAnalyticsDashboard.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/pricing-rules.tsx
  apps/web/src/routes/service-analytics.tsx
  components.json
  docs/components/usage-guide.md
  tools/audit/license-audit-plan.md
  tools/audit/license-audit-todo.md
  tools/audit/license-audit-workflow.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: add Subscription Upgrade component with Stripe integration
  .github/prompts/plan.prompt.md
  .github/prompts/specify.prompt.md
  .github/prompts/tasks.prompt.md
  .github/prompts/vercel-deployment.prompt.md
  .specify/memory/constitution.md
  .specify/memory/constitution_update_checklist.md
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  STRIPE_INTEGRATION_TEST_PLAN.md
  apps/api/src/app.ts
  apps/api/src/routes/stripe-webhooks.ts
  apps/web/src/components/organisms/ai-chat-container.tsx
  apps/web/src/components/subscription/SubscriptionStatus.tsx
  apps/web/src/components/subscription/SubscriptionUpgrade.tsx
  apps/web/src/components/ui/ai-chat/ai-prompt.tsx
  apps/web/src/hooks/useSubscription.ts
  apps/web/src/nav-items.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/subscription.tsx
  docs/apis/ai-sdk-v5.0.md
  docs/apis/api-schema-openapi-generation.md
  docs/features/ai-chat-db-integration.md
  scripts/check-task-prerequisites.sh
  scripts/common.sh
  scripts/create-new-feature.sh
  scripts/get-feature-paths.sh
  scripts/neonpro-deploy.sh
  scripts/setup-plan.sh
  scripts/update-agent-context.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Add subscription test page and basic HTML test structure
  .github/copilot-instructions.md
  STRIPE_WEBHOOK_PRODUCTION_SETUP.md
  apps/api/src/app.ts
  apps/api/src/routes/stripe-portal.ts
  apps/web/.tanstack/tmp/438aeb29-c460095a6080c9d0e1b2ceb45b33c1ab
  apps/web/.tanstack/tmp/9b3ee3d8-c460095a6080c9d0e1b2ceb45b33c1ab
  apps/web/package.json
  apps/web/src/components/ui/bento-grid.tsx
  apps/web/src/integrations/supabase/types.ts
  apps/web/src/main-test.tsx
  apps/web/src/main.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/__root-original.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/bento-grid-test.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/subscription-test.tsx
  apps/web/src/routes/subscription.tsx
  apps/web/test.html
  apps/web/vite.config.ts
  bun.lock
  specs/001-ai-chat-with/contracts/README.md
  specs/001-ai-chat-with/contracts/chat.md
  specs/001-ai-chat-with/contracts/explanation.md
  specs/001-ai-chat-with/contracts/tools.clinical.md
  specs/001-ai-chat-with/contracts/tools.finance.md
  specs/001-ai-chat-with/data-model.md
  specs/001-ai-chat-with/plan.md
  specs/001-ai-chat-with/quickstart.md
  specs/001-ai-chat-with/research.md
  specs/001-ai-chat-with/spec.md
  specs/001-ai-chat-with/tasks.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: prepare for production deployment - update environment variables and add missing test files
  apps/api/src/schemas/openapi-routes.ts
  apps/web/tests/ui/live-region.test.tsx
  specs/001-ai-chat-with/contracts/chat.md
  specs/001-ai-chat-with/quickstart.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: update openapi routes schema
  apps/api/src/schemas/openapi-routes.ts
Due: npx ultracite format

fix: update error handling components and UI improvements
  apps/web/src/components/error-pages/ErrorBoundary.tsx
  apps/web/src/components/error-pages/ServerErrorPage.tsx
  apps/web/src/components/ui/bento-grid.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Implement AppShellWithSidebar component with sidebar navigation and query client setup
  .github/prompts/vercel-deployment.prompt.md
  ENVIRONMENT_CONSOLIDATION.md
  apps/api/src/observability/index.ts
  apps/web/.tanstack/tmp/0bb2f974-6de2a795b826f5fc39448e546532586b
  apps/web/.tanstack/tmp/2e795690-69db1d9eeebd2283cdf111207d84729c
  apps/web/.tanstack/tmp/46b6deff-69db1d9eeebd2283cdf111207d84729c
  apps/web/.tanstack/tmp/4724b7f1-69db1d9eeebd2283cdf111207d84729c
  apps/web/.tanstack/tmp/7b33580c-69db1d9eeebd2283cdf111207d84729c
  apps/web/.tanstack/tmp/a20393b0-69db1d9eeebd2283cdf111207d84729c
  apps/web/.tanstack/tmp/af7329ef-69db1d9eeebd2283cdf111207d84729c
  apps/web/.tanstack/tmp/b44fe978-69db1d9eeebd2283cdf111207d84729c
  apps/web/src/components/appointment-booking.tsx
  apps/web/src/components/layout/AppShellWithSidebar.tsx
  apps/web/src/components/organisms/ai-chat-container.tsx
  apps/web/src/components/ui/floating-ai-chat-simple.tsx
  apps/web/src/hooks/useAIChat.ts
  apps/web/src/hooks/useDefaultChatModel.ts
  apps/web/src/hooks/usePatientHistory.ts
  apps/web/src/hooks/useServices.ts
  apps/web/src/main.tsx
  apps/web/src/routes/__root-original.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/appointments/new.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/login.tsx
  apps/web/src/routes/services.tsx
  apps/web/src/routes/settings.chat.tsx
  apps/web/src/routes/subscription.tsx
  apps/web/src/services/appointments.service.ts
  apps/web/src/services/chat-settings.service.ts
  apps/web/src/services/professionals.service.ts
  apps/web/src/services/user-profile.service.ts
  apps/web/tests/ui/a11y.chat.test.tsx
  docs/mistakes/mcp-testing-results.md
  package.json
  packages/database/src/types/supabase.ts
  specs/001-ai-chat-with/tasks.md
  tools/performance/chat-slo.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: update file permissions for common.sh and create-new-feature.sh scripts
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
Due: none

feat: Add Architecture, Code, and Orchestrator modes with detailed workflows and quality standards
  .cline/workflows/README.md
  .cline/workflows/config.json
  .cline/workflows/development/code-quality-audit.json
  .cline/workflows/development/spec-driven-development.json
  .cline/workflows/development/task-generation.json
  .cline/workflows/operations/repository-cleanup.json
  .cline/workflows/operations/vercel-deployment.json
  .cline/workflows/optimization/prompt-enhancement.json
  .cline/workflows/specification/feature-specification.json
  .cline/workflows/specification/implementation-planning.json
  .clinerules/agent.md
  .clinerules/workflows/audit.md
  .clinerules/workflows/code-quality-audit.md
  .clinerules/workflows/spec-driven-development.md
  .roo/rules-archon/AGENTS.md
  .roo/rules-code/AGENTS.md
  .roo/rules-orchestrator/AGENTS.md
  1753683755292-30b3431f487b4cc1863e57a81d78e289.sh
  api/health.ts
  api/index.ts
  api/openapi.json.ts
  api/v1/health.ts
  apps/api/src/__tests__/appointments.conflict.test.ts
  apps/api/src/__tests__/chat.v5.test.ts
  apps/api/src/__tests__/health.test.ts
  apps/api/src/app.ts
  apps/api/src/middleware/authn.ts
  apps/api/src/middleware/error-handler.ts
  apps/api/src/routes/ai-chat.ts
  apps/api/src/routes/appointments.ts
  apps/api/src/routes/patients.ts
  apps/api/src/utils/appointments.ts
  apps/api/src/utils/responses.ts
  apps/web/src/components/event-calendar/event-calendar.tsx
  apps/web/src/integrations/supabase/client.ts
  apps/web/src/routes/appointments.tsx
  docs/features/ai-chat-envs.md
  docs/features/vercel-supabase-envs.md
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

ci(vercel): add deploy workflow + docs
  .github/workflows/deploy.yml
  docs/deployment/vercel.md
Due: npx ultracite format

Path conditions:
  npx ultracite format: ((((((((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx})) or (any of: *.{css,scss})) or (any of: apps/web/**/*.{js,jsx,ts,tsx})) or (any of: packages/ui/**/*.{js,jsx,ts,tsx})) or (any of: packages/utils/**/*.{js,jsx,ts,tsx})) or (any of: packages/types/**/*.{js,jsx,ts,tsx})) or (any of: **/*patient*.{js,jsx,ts,tsx})) or (any of: **/*medical*.{js,jsx,ts,tsx})) or (any of: **/*treatment*.{js,jsx,ts,tsx})) or (any of: **/*.{test,spec}.{js,jsx,ts,tsx})
  pnpm --filter @neonpro/web run lint:staged: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/ui run lint: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/utils run lint: any of: packages/utils/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/types run lint: any of: packages/types/**/*.{js,jsx,ts,tsx}
  echo 'Healthcare file detected: ensuring LGPD compliance...': any of: **/*patient*.{js,jsx,ts,tsx}
  echo 'Medical file detected: ensuring ANVISA compliance...': any of: **/*medical*.{js,jsx,ts,tsx}
  echo 'Treatment file detected: ensuring CFM compliance...': any of: **/*treatment*.{js,jsx,ts,tsx}
  pnpm vitest related --run --reporter=basic: any of: **/*.{test,spec}.{js,jsx,ts,tsx}
  echo 'Database schema change detected: ensure RLS policies are updated': any of: **/*.sql
  echo 'Database migration detected: ensure healthcare data integrity': any of: **/migrations/*.sql
