Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

fix: update tRPC alias to use absolute path to resolve isObject export
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: add Vite plugin to resolve tRPC unstable-core-do-not-import issue
  apps/web/vite-plugin-trpc-fix.ts
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: improve Vite plugin to properly resolve tRPC imports
  apps/web/vite-plugin-trpc-fix.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Refactor code structure for improved readability and maintainability
  .factory/commands/analyze.md
  .factory/commands/archon-tasks.md
  .factory/commands/clarify.md
  .factory/commands/constitution.md
  .factory/commands/frontend-testing.md
  .factory/commands/implement.md
  .factory/commands/plan.md
  .factory/commands/quality-control.md
  .factory/commands/research.md
  .factory/commands/specify.md
  .factory/commands/tasks.md
  .factory/docs/2025-10-03-factory-droids-integration-for-quality-control-enhancement.md
  .factory/droids/apex-dev.md
  .factory/droids/apex-researcher.md
  .factory/droids/apex-ui-ux-designer.md
  .factory/droids/architect-review.md
  .factory/droids/code-reviewer.md
  .factory/droids/database-specialist.md
  .factory/droids/tdd-orchestrator.md
  .factory/droids/test-auditor.md
  apps/api/src/services/compliance-service.ts
  apps/api/src/services/jwt-service.ts
  apps/web/src/hooks/useProcedureSelection.ts
  packages/types/src/healthcare.ts
  quality-gate-results/quality-report-1759496885659.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/types run lint

fix: add patch-package to fix tRPC v11 import issue
  package.json
  patches/@trpc+react-query+11.6.0.patch
Due: none

fix: add patch-package execution to build script
  build.sh
Due: none

refactor: enhance quality control documentation with orchestrated task decomposition and multi-agent execution strategies
  .claude/settings.local.json
  .factory/commands/quality-control.md
Due: npx ultracite format

fix: use sed to apply tRPC patch directly in build script
  build.sh
Due: none

fix: update tRPC patch to import from correct internal module
  build.sh
Due: none

fix: inline isObject function to avoid tRPC import issues
  build.sh
Due: none

fix: remove frozen-lockfile flag to allow lockfile updates
  build.sh
Due: none

feat: Implement patient documents management route with upload, delete, and search functionalities
  .factory/commands/quality-control.md
  .npmrc
  apps/api/src/routes/patients/__tests__/get.test.ts
  apps/web/src/routes/patients/$patientId/documents.tsx
  apps/web/src/styles/ui-theme.css
  bun.lock
  package.json
  patches/@trpc+react-query+11.6.0.patch
  pnpm-workspace.yaml
  scripts/setup-turbo-cache.sh
  turbo.json
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: skip type-check in Vercel build (handled by CI/CD)
  build.sh
Due: none

fix: simplify vercel.json to focus on frontend static deployment
  vercel.json
Due: none

fix: update turbo.json to use tasks instead of deprecated pipeline
  turbo.json
Due: none

fix: use tsc directly instead of missing tsc-wrapper script
  packages/types/package.json
Due: none

feat: add deployment validation script for Vercel with LGPD and healthcare compliance checks
  apps/api/src/edge/public-endpoints.ts
  apps/api/src/node/admin-operations.ts
  apps/api/src/router.ts
  apps/api/src/routes/patients/get.ts
  apps/api/src/shared/cors.ts
  apps/web/src/components/clinical-workflows/EmergencyIntegration.tsx
  apps/web/src/types/fonts.ts
  apps/web/src/types/theme.ts
  eslint.config.js
  packages/ui/src/components/ui/alert.tsx
  packages/ui/src/components/ui/badge.tsx
  packages/ui/src/components/ui/card.tsx
  packages/ui/src/components/ui/mobile-healthcare-button.tsx
  packages/ui/tsconfig.json
  quality-gate-results/quality-report-1759501877798.json
  scripts/validate-deployment.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

fix: simplify build script to only build frontend
  build.sh
Due: none

fix: add tRPC v11 patch back to simplified build script
  build.sh
Due: none

fix: apply tRPC v11 patch to ALL files that import isObject
  build.sh
Due: none

fix: use npm instead of bun for more stable Vercel deployment
  build.sh
Due: none

fix: use npx vite build instead of npm run build
  build.sh
Due: none

feat: Refactor Vercel deployment configuration and improve API compliance checks
  .vercelignore
  apps/api/package.json
  apps/api/src/index.ts
  apps/web/package.json
  apps/web/src/components/auth/SignUpFormSimple.tsx
  apps/web/src/components/clinical-workflows/EmergencyIntegration.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/dashboard/index.tsx
  apps/web/src/routes/patients/$patientId/documents.tsx
  bun.lock
  package.deploy.json
  packages/core/src/analysis/services/analysis-orchestrator.ts
  packages/core/src/analysis/services/package-analyzer.ts
  packages/ui/src/components/ui/mobile-healthcare-button.tsx
  scripts/post-deploy-validation.sh
  tsconfig.base.json
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

fix: use pnpm instead of npm for workspace support
  build.sh
Due: none

fix: restore vercel.json with correct build configuration
  vercel.json
Due: none

fix: include build.sh and apps/web in vercel deployment
  .vercelignore
Due: none

fix: use bun instead of pnpm for stable deployment
  build.sh
Due: none

fix: include all required packages in vercel deployment
  .vercelignore
Due: none

fix: include bun.lockb in vercel deployment
  .vercelignore
Due: none

fix: simplify vercelignore to allow workspace resolution
  .vercelignore
Due: none

fix: export environment variables before vite build
  build.sh
Due: none

feat: update dependencies and refactor project structure
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/server.ts
  apps/web/src/routes/auth/confirm.tsx
  bun.lock
  package.json
  packages/config/package.json
  packages/ui/package.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: add new routes and update dependencies in web application
  apps/web/package.json
  apps/web/src/routeTree.gen.ts
  bun.lock
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

chore: migrate CI workflow from Node.js to Bun
  .github/workflows/ci.yml
Due: none

chore: update CI workflow to remove frozen lockfile option
  .github/workflows/ci.yml
Due: none

chore: update CI workflow to fully transition from Node.js to Bun
  .github/workflows/deploy.yml
Due: none

chore: update vercel configuration for Bun integration
  vercel.json
Due: none

chore: disable GitHub Actions deploy workflow
  .github/workflows/deploy.yml.disabled
Due: none
