Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

deploy: AI-First Healthcare Transformation - Complete AI services deployment
  .github/instructions/project_rules.instructions.md
  CLAUDE.md
  apps/web/app/components/chat/universal-ai-chat.tsx
  apps/web/app/components/no-show/anti-no-show-dashboard.tsx
  apps/web/hooks/useAIAnalytics.ts
  apps/web/hooks/useSystemHealth.ts
  infrastructure/database/migrations/20250824120000_ai_services_schema.sql
  supabase/migrations/20250824000003_dashboard_metrics_rpc.sql
  supabase/migrations/20250824000004_healthcare_training_system.sql
  supabase/migrations/20250824000005_post_deployment_monitoring_system.sql
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

fix: update pnpm-lock.yaml and correct Vercel region configuration
  pnpm-lock.yaml
  vercel.json
Due: none

security: add .gitignore patterns to prevent deployment files with secrets
  .gitignore
Due: none

fix: add recharts dependency and create missing dashboard components
  apps/web/app/components/no-show/anti-no-show-dashboard.tsx
  apps/web/app/lib/services/no-show-prediction.ts
  apps/web/components/dashboard/QuickActionsSection.tsx
  apps/web/components/dashboard/SystemStatusSection.tsx
  pnpm-lock.yaml
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

cleanup: remove incorrect Docker deployment infrastructure - project uses Vercel
  .github/workflows/ANALYSIS_REPORT.md
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .mcp.json
  infrastructure/deployment/deploy.ts
  infrastructure/deployment/production-pipeline.ts
  infrastructure/disaster-recovery/recovery-config.ts
  infrastructure/disaster-recovery/recovery-orchestrator.ts
  infrastructure/docker/Dockerfile.production
  infrastructure/environments/docker-compose.production.yml
Due: npx ultracite format

fix: mark subproject as dirty to indicate uncommitted changes
  .github/workflows/IMPLEMENTATION_SUMMARY.md
  .github/workflows/TROUBLESHOOTING.md
  .github/workflows/ci-turborepo-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/pr-validation-turborepo-optimized.yml
  .github/workflows/pr-validation.yml
  CI-CD-OPTIMIZATION-REPORT.md
  DEVOPS-FIXES-DOCUMENTATION.md
  TURBOREPO-ANALYSIS-REPORT.md
  WORKFLOW-EXECUTION-REPORT.md
  apps/web/package.json
  biome.jsonc
  package.json
  packages/cache/src/index.ts
  packages/monitoring/src/server/index.ts
  packages/performance/src/bundle-analysis/bundle-analyzer.ts
  packages/ui/src/components/AccessibilityControls.tsx
  packages/ui/src/components/ui/accessibility-monitor.tsx
  packages/ui/src/hooks/use-toast.ts
  scripts/anvisa-validation.js
  scripts/build-diagnostics.js
  scripts/cfm-compliance.js
  scripts/package.json
  scripts/vercel-build.bat
  scripts/vercel-build.sh
  turbo.json
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint

feat(pwa): Implement healthcare-optimized PWA service worker with offline capabilities and data synchronization
  .github/chatmodes/vibecoder.chatmode.md
  .gitignore
  .mcp.json
  apps/web/components/accessibility/AccessibilityComponents.tsx
  apps/web/components/mobile/MobileDashboardCards.tsx
  apps/web/components/pwa/HealthcareServiceWorker.tsx
  apps/web/components/pwa/index.ts
  apps/web/public/sw.js
  instrumentation-client.ts
  instrumentation.ts
  next.config.mjs
  package.json
  packages/ui/src/components/chat/ChatInterface.tsx
  pages/api/sentry-example-api.ts
  pages/sentry-example-page.tsx
  pnpm-lock.yaml
  sentry.edge.config.ts
  sentry.server.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

refactor(database): improve code formatting and JSDoc documentation for RLS and anonymization utilities
  packages/utils/src/database/anonymization.ts
  packages/utils/src/database/rls.ts
Due: npx ultracite format, pnpm --filter @neonpro/utils run lint

feat: Add NeonPro AI Healthcare Platform rules and Trae instructions
  .github/chatmodes/vibecoder.chatmode.md
  .ruler/agents/apex-dev.md
  apps/docs/app/error.tsx
  apps/docs/app/not-found.tsx
  apps/docs/app/page.tsx
  apps/web/app/api/patients/[patientId]-temp/insights/treatments/route.ts
  apps/web/lib/ai/patient-insights.ts
  apps/web/lib/patients/profile-manager.ts
  apps/web/lib/payments/installments/installment-manager.ts
  apps/web/tsconfig.json
  packages/ui/src/components/SearchBox.tsx
  packages/utils/src/compliance/anvisa.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, echo 'Healthcare file detected: ensuring LGPD compliance...'

feat: Recover missing chatmode files from deleted branch
  .github/chatmodes/README.chatmode.md
  .github/chatmodes/apex-dev.chatmode.md
Due: npx ultracite format

feat: Update chatmode files with current state
  .github/chatmodes/README.chatmode.md
  .github/chatmodes/analyst.chatmode.md
  .github/chatmodes/apex-dev.chatmode.md
  .github/chatmodes/apex-researcher.chatmode.md
  .github/chatmodes/apex-ui-ux-designer.chatmode.md
  .github/chatmodes/architect.chatmode.md
  .github/chatmodes/bmad-master.chatmode.md
  .github/chatmodes/bmad-orchestrator.chatmode.md
  .github/chatmodes/dev.chatmode.md
  .github/chatmodes/pm.chatmode.md
  .github/chatmodes/po.chatmode.md
  .github/chatmodes/qa.chatmode.md
  .github/chatmodes/sm.chatmode.md
  .github/chatmodes/ux-expert.chatmode.md
Due: npx ultracite format

feat(ci/cd): consolidate GitHub Actions workflows
  .claude/CLAUDE.md
  .github/WORKFLOW_CONSOLIDATION_REPORT.md
  .github/chatmodes/README.chatmode.md
  .github/workflows/CONSOLIDATION_COMPLETE.md
  .github/workflows/archive/ci-cd-optimized.yml
  .github/workflows/archive/ci-cd-pipeline.yml
  .github/workflows/archive/ci-turborepo-optimized.yml
  .github/workflows/archive/pr-validation-turborepo-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .gitignore
  .ruler/AGENTS.md
  .ruler/README.md
  .ruler/agents/README.md
  .ruler/agents/apex-dev.md
  .ruler/neonpro.md
  CLAUDE.md
  apps/web/app/api/retention-analytics/metrics/clinic/[clinicId]/route.ts
  apps/web/app/api/retention-analytics/predictions/[clinicId]/route.ts
  apps/web/app/api/retention-analytics/strategies/[clinicId]/route.ts
  apps/web/app/hooks/use-ai-scheduling.ts
  apps/web/src/app/api/integration-test/route.ts
  apps/web/tsconfig.json
  docs/architecture/coding-standards.md
  docs/architecture/supabase-first-optimization.md
  lighthouserc.js
  packages/cache/src/ai-context-cache.ts
  packages/cache/src/cache-manager.ts
  packages/cache/src/edge-cache.ts
  packages/cache/src/enterprise.ts
  packages/cache/src/index.ts
  packages/cache/src/supabase-cache.ts
  packages/monitoring/src/types.ts
  packages/security/src/middleware/input-validation.ts
  packages/utils/src/compliance/cfm.ts
  packages/utils/tsconfig.json
  tsconfig.json
  vercel-configuration-validation.md
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/utils run lint

test: trigger GitHub Actions validation
  .github/workflows/VERIFICATION_TEST.md
Due: npx ultracite format

feat: add GitHub Actions Workflow Health Check report
  .github/workflows/WORKFLOW_HEALTH_CHECK.md
Due: npx ultracite format

feat: Implement SAMU Integration for Brazilian Emergency Services
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  WORKFLOW_IMPLEMENTATION_COMPLETE.md
  apps/web/src/components/emergency/CriticalAlertOverlay.tsx
  apps/web/src/components/emergency/CriticalAllergiesPanel.tsx
  apps/web/src/components/emergency/EmergencyAccessibilityPanel.tsx
  apps/web/src/components/emergency/EmergencyMedicationsList.tsx
  apps/web/src/components/emergency/EmergencyPatientCard.tsx
  apps/web/src/components/emergency/SAMUDialButton.tsx
  apps/web/src/components/emergency/index.tsx
  apps/web/src/lib/emergency/critical-alerts.ts
  apps/web/src/lib/emergency/emergency-cache.ts
  apps/web/src/lib/emergency/samu-integration.ts
  apps/web/src/types/emergency.ts
  docs/architecture/code-freeze.md
  docs/architecture/code-preferences.md
  docs/architecture/coding-standards.md
  docs/brief.md
  docs/prd/01-executive-summary-and-analysis.md
  docs/prd/02-functional-and-technical-specs.md
  docs/prd/03-success-metrics-and-implementation.md
  docs/prd/prd.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Backup antes da atualização - 2025-08-27 20:31:03
  apps/web/app/api/progress-tracking/[id]/route.ts
  apps/web/app/components/neonpro-healthcare-dashboard.tsx
  apps/web/app/hooks/use-ai-scheduling.ts
  apps/web/components/ClinicDashboard.tsx
  apps/web/components/auth/signup-form.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Path conditions:
  npx ultracite format: ((((((((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx})) or (any of: *.{css,scss})) or (any of: apps/web/**/*.{js,jsx,ts,tsx})) or (any of: packages/ui/**/*.{js,jsx,ts,tsx})) or (any of: packages/utils/**/*.{js,jsx,ts,tsx})) or (any of: packages/types/**/*.{js,jsx,ts,tsx})) or (any of: **/*patient*.{js,jsx,ts,tsx})) or (any of: **/*medical*.{js,jsx,ts,tsx})) or (any of: **/*treatment*.{js,jsx,ts,tsx})) or (any of: **/*.{test,spec}.{js,jsx,ts,tsx})
  pnpm --filter @neonpro/web run lint:staged: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/ui run lint: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/utils run lint: any of: packages/utils/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/types run lint: any of: packages/types/**/*.{js,jsx,ts,tsx}
  echo 'Healthcare file detected: ensuring LGPD compliance...': any of: **/*patient*.{js,jsx,ts,tsx}
  echo 'Medical file detected: ensuring ANVISA compliance...': any of: **/*medical*.{js,jsx,ts,tsx}
  echo 'Treatment file detected: ensuring CFM compliance...': any of: **/*treatment*.{js,jsx,ts,tsx}
  pnpm vitest related --run --reporter=basic: any of: **/*.{test,spec}.{js,jsx,ts,tsx}
  echo 'Database schema change detected: ensure RLS policies are updated': any of: **/*.sql
  echo 'Database migration detected: ensure healthcare data integrity': any of: **/migrations/*.sql
