Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

Add LGPD consent management to WaitingRoom component
  .claude/agents/code-review/tdd-orchestrator.md
  .opencode/agents/architect-review.md
  .opencode/agents/code-reviewer.md
  .opencode/agents/new-agent.md
  .opencode/agents/security-auditor.md
  .opencode/agents/tdd-orchestrator.md
  .opencode/opencode.json
  .qwen/agents/apex-dev.md
  .qwen/agents/apex-researcher.md
  .qwen/agents/apex-ui-ux-designer.md
  .qwen/agents/architect-review.md
  .qwen/agents/code-reviewer.md
  .qwen/agents/security-auditor.md
  .qwen/agents/tdd-code-reviewer.md
  CLAUDE.md
  apps/web/src/components/telemedicine/WaitingRoom.tsx
  bun.lock
  debug-ai-insights.sh
  docs/architecture/source-tree.md
  packages/core-services/package.json
  packages/core-services/src/services/governance/healthcare-governance.service.ts
  packages/database/src/__tests__/audit-service.test.ts
  packages/database/src/__tests__/consent-service.test.ts
  packages/database/src/services/__tests__/audit-service.test.ts
  packages/database/src/services/__tests__/consent-service.test.ts
  packages/database/src/services/audit-service.ts
  packages/database/src/services/consent-service.ts
  packages/types/src/governance.types.ts
  packages/ui/package.json
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/types run lint, pnpm vitest related --run --reporter=basic

feat: Add comprehensive Integration Architecture Summary documentation
  .qwen/agents/apex-dev.md
  .qwen/agents/apex-researcher.md
  .qwen/agents/apex-ui-ux-designer.md
  .qwen/agents/architect-review.md
  .qwen/agents/code-reviewer.md
  .qwen/agents/security-auditor.md
  .qwen/settings.json
  apps/web/src/components/ui/checkbox.tsx
  apps/web/vitest.config.ts
  debug-ai-insights.sh
  docs/apis/apis.md
  docs/features/deploy-vercel.md
  docs/features/integration-architecture-summary.md
  docs/features/lgpd-consent-and-audit.md
  docs/features/production-readiness-checklist.md
  packages/database/package.json
  packages/database/src/services/__tests__/audit-service.test.ts
  packages/database/src/services/__tests__/consent-service.test.ts
  packages/database/src/services/audit-service.ts
  packages/database/src/services/consent-service.ts
  packages/database/vitest.config.ts
  pnpm-lock.yaml
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: resolve type errors and test failures in PR #39
  .qwen/agents/apex-dev.md
  .qwen/agents/apex-researcher.md
  .qwen/agents/apex-ui-ux-designer.md
  .qwen/agents/architect-review.md
  .qwen/agents/code-reviewer.md
  .qwen/agents/security-auditor.md
  .qwen/agents/tdd-code-reviewer.md
  .qwen/settings.json
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/package.json
  apps/api/src/trpc/context.ts
  apps/api/src/trpc/routers/appointments.ts
  apps/api/src/trpc/routers/patients.ts
  apps/api/src/trpc/schemas.ts
  apps/api/src/trpc/trpc.ts
  apps/api/tests/contract/appointments.contract.test.ts
  bun.lock
  packages/database/src/__tests__/migration-integration.test.ts
  packages/database/src/client.ts
  packages/database/src/index.ts
  packages/database/src/services/audit-service.ts
  packages/database/src/services/consent-service.ts
  specs/006-trpc-api-migration/contracts/ai.contract.ts
  specs/006-trpc-api-migration/contracts/appointments.contract.ts
  specs/006-trpc-api-migration/contracts/patients.contract.ts
  specs/006-trpc-api-migration/data-model.md
  specs/006-trpc-api-migration/plan.md
  specs/006-trpc-api-migration/quickstart.md
  specs/006-trpc-api-migration/research.md
  specs/006-trpc-api-migration/spec.md
  specs/006-trpc-api-migration/tasks.md
Due: npx ultracite format, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

Add integration tests for performance monitoring in healthcare applications
  apps/api/src/services/enhanced-lgpd-lifecycle.ts
  apps/api/src/services/enhanced-realtime-telemedicine.ts
  apps/api/src/services/no-show-prediction.ts
  apps/api/src/services/telemedicine.ts
  apps/api/src/trpc/middleware/cfm-validation.ts
  apps/api/src/trpc/middleware/lgpd-audit.ts
  apps/api/src/trpc/middleware/prisma-rls.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/ai/insights.tsx
  apps/web/src/routes/patients/[id].tsx
  apps/web/tests/integration/accessibility.test.ts
  apps/web/tests/integration/performance-monitoring.test.ts
  packages/types/src/appointment.valibot.ts
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/types run lint, pnpm vitest related --run --reporter=basic

Add AI semantic cache integration tests and update routes
  .claude/settings.json
  .claude/statusline.ts
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/src/app.ts
  apps/api/src/clients/supabase.ts
  apps/api/src/routes/patients/create.ts
  apps/api/src/routes/patients/delete.ts
  apps/api/src/security/rls-policies.ts
  apps/api/src/trpc/routers/appointments.ts
  apps/api/tests/integration/ai-semantic-caching.test.ts
  apps/web/src/components/patients/PatientErrorBoundary.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/ai/insights.tsx
  apps/web/src/routes/patients/[id].tsx
  apps/web/src/routes/patients/dashboard.tsx
  apps/web/src/routes/patients/register.tsx
  apps/web/vite.config.ts
  debug-ai-insights.sh
  packages/core-services/src/analytics/__tests__/ingestion/event-collector.test.ts
  packages/core-services/src/analytics/aggregation/kpis.ts
  packages/core-services/src/analytics/index.ts
  packages/core-services/src/analytics/ingestion/event-collector.ts
  packages/core-services/src/analytics/ingestion/index.ts
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Update file permissions and mark tasks as completed
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  debug-ai-insights.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  specs/006-trpc-api-migration/tasks.md
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format

Update apps/api/src/middleware/rate-limiting.ts
  apps/api/src/middleware/rate-limiting.ts
Due: npx ultracite format

feat: Implement WebRTC signaling client and comprehensive WebRTC hook for telemedicine platform
  .claude/settings.local.json
  apps/api/src/middleware/lgpd-compliance.ts
  apps/api/src/services/audit-trail.ts
  apps/api/tests/security/telemedicine-security.test.ts
  apps/web/src/components/telemedicine/RealTimeChat.tsx
  apps/web/src/components/telemedicine/SessionConsent.tsx
  apps/web/src/components/telemedicine/VideoConsultation.tsx
  apps/web/src/components/telemedicine/WaitingRoom.tsx
  apps/web/src/hooks/use-signaling-client.ts
  apps/web/src/hooks/use-webrtc.ts
  apps/web/src/routes/telemedicine/index.tsx
  apps/web/src/routes/telemedicine/session.$sessionId.tsx
  packages/database/src/services/audit-service.ts
  packages/database/src/services/cfm-compliance.service.ts
  packages/database/src/services/medical-license.service.ts
  packages/database/src/services/patient-identity.service.ts
  packages/database/src/services/telemedicine-server.service.ts
  packages/database/src/services/webrtc-peer.service.ts
  packages/database/src/services/webrtc-session.service.ts
  packages/database/src/services/webrtc-signaling.service.ts
  packages/database/src/types/events.ts
  packages/database/tsconfig.json
  packages/monitoring/package.json
  packages/shared/src/models/security-policy.ts
  scripts/security-analysis.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', pnpm vitest related --run --reporter=basic

feat: Implement comprehensive healthcare data models and compliance utilities
  .github/workflows/test-sharding.yml
  apps/api/src/app.ts
  apps/api/src/middleware/edge-runtime.ts
  apps/api/src/services/__tests__/ai-provider-router.test.ts
  apps/api/src/services/ai-provider-router-new.ts
  apps/api/src/services/ai-provider-router.ts
  apps/web/src/components/accessibility/accessibility-enhanced-components.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/hooks/use-webrtc.ts
  apps/web/src/routes/telemedicine/session.$sessionId.tsx
  apps/web/src/utils/accessibility/accessibility-test-utils.ts
  apps/web/src/utils/accessibility/axe-core-integration.ts
  apps/web/src/utils/accessibility/healthcare-audit-utils.ts
  apps/web/tests/accessibility/axe-integration.test.ts
  packages/core-services/src/analytics/ai-analytics/healthcare-ai-orchestrator.ts
  packages/core-services/src/analytics/ai-analytics/index.ts
  packages/database/src/services/cfm-compliance.service.ts
  packages/database/src/services/medical-license.service.ts
  packages/database/src/services/patient-identity.service.ts
  packages/database/src/services/telemedicine-server.service.ts
  packages/database/src/services/webrtc-peer.service.ts
  packages/database/src/services/webrtc-session.service.ts
  packages/database/src/services/webrtc-signaling.service.ts
  packages/shared/src/models/ai-optimization.ts
  packages/shared/src/models/healthcare-base.ts
  packages/shared/src/models/security-policy.ts
  scripts/dev-setup.sh
  security-compliance-report.md
  security-gap-analysis.md
  specs/002-platform-architecture-improvements/tasks.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', pnpm vitest related --run --reporter=basic

Normalize file permissions to 644 for scripts
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/web/src/utils/accessibility/brazilian-healthcare-compliance.ts
  debug-ai-insights.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update packages/shared/src/models/ai-optimization.ts
  packages/shared/src/models/ai-optimization.ts
Due: npx ultracite format

feat(telemetry): implement healthcare-specific telemetry system
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/package.json
  apps/api/src/middleware/streaming.ts
  apps/api/src/routes/ai/chat.ts
  apps/api/src/routes/ai/insights.ts
  apps/api/src/types/lgpd.ts
  apps/api/tests/integration/ai-semantic-caching.test.ts
  apps/web/index.html
  apps/web/src/main.tsx
  debug-ai-insights.sh
  packages/database/migrations/deploy.sh
  packages/shared/package.json
  packages/shared/src/telemetry/index.ts
  packages/shared/src/telemetry/opentelemetry-config.ts
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix(ci): Add tsconfig.typecheck.local.json for CI type checking
  .gitignore
  apps/web/tsconfig.typecheck.local.json
Due: none

Normalize file permissions to 644 for scripts
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  debug-ai-insights.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format

Refactor code structure for improved readability and maintainability
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/tests/contracts/security-policies.test.ts
  debug-ai-insights.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

Update apps/api/src/trpc/router.ts
  apps/api/src/trpc/router.ts
Due: npx ultracite format

Add CSP service for healthcare-compliant policy management
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/src/services/csp-service.ts
  apps/api/src/types/database.ts
  debug-ai-insights.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format

feat(api): add rate limit service and appointment validation schemas
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/src/routes/patients/get.ts
  apps/api/src/services/csp-service.ts
  apps/api/src/services/quota-service.ts
  apps/api/src/services/rate-limit-service.ts
  apps/api/src/types/appointment.valibot.ts
  apps/api/src/types/database.ts
  apps/api/src/types/supabase.ts
  apps/api/tests/contracts/security-policies.test.ts
  debug-ai-insights.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

Normalize file permissions to 644 for scripts
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/src/test-setup.ts
  debug-ai-insights.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  specs/005-financial-dashboard-enhancement/tasks.md
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format

Refactor and update agent configurations
  .qwen/agents/apex-design.md
  .qwen/agents/apex-dev-agent.md
  .qwen/agents/apex-dev.md
  .qwen/agents/apex-researcher.md
  .qwen/agents/apex-ui-ux-designer.md
  .qwen/agents/compliance-validator.md
  .qwen/agents/security-auditor.md
  .qwen/agents/tdd-code-reviewer.md
  apps/web/src/routeTree.gen.ts
  pnpm-lock.yaml
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update apps/api/src/services/ai-security-service.ts
  apps/api/src/services/ai-security-service.ts
Due: npx ultracite format

Update test fetch mock and normalize script permissions
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/src/test-setup.ts
  debug-ai-insights.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format
