Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

Final cleanup 3
  apps/api/src/routes/patients/__tests__/get.test.ts
  apps/api/src/services/__tests__/basic-test.test.ts
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

Refactor routeTree.gen.ts for formatting consistency
  apps/web/src/routeTree.gen.ts
  apps/web/src/services/user-profile.service.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: update test files and analytics aggregation
  apps/web/src/utils/__tests__/api-documentation-generator.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: update KPI aggregation analytics
  packages/core-services/src/analytics/aggregation/kpis.ts
Due: npx ultracite format

fix: update healthcare AI orchestrator
  packages/core-services/src/analytics/ai-analytics/healthcare-ai-orchestrator.ts
Due: npx ultracite format

fix: update parameter name in healthcare AI orchestrator
  packages/core-services/src/analytics/ai-analytics/healthcare-ai-orchestrator.ts
Due: npx ultracite format

fix: update predictive analytics service
  packages/core-services/src/analytics/ai-analytics/predictive-analytics.service.ts
Due: npx ultracite format

fix: add packageManager field for Turborepo compatibility
  apps/web/package.json
Due: none

feat: add Vercel deployment workflow and web app config
  .github/workflows/deploy-vercel.yml
  apps/web/vercel.json
Due: none

fix: simplify vercel.json for monorepo deployment
  vercel.json
Due: none

fix: update vercel.json for correct deployment path
  vercel.json
Due: none

fix: update workflow to deploy from project root
  .github/workflows/deploy-vercel.yml
Due: none

fix: update deployment configuration for neonpro project
  .vercelignore
Due: none

fix: update file permissions for multiple bash scripts
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  create-minimal-deployment.sh
  monitoring/scripts/compliance-validator.sh
  monitoring/scripts/health-check.sh
  scripts/deployment-health-check.sh
  scripts/deployment-validation.sh
  scripts/emergency-rollback.sh
  scripts/healthcare-compliance-validation.sh
Due: none

fix: update vercel deployment configuration for monorepo
  .vercel/project.json
  .vercelignore
  apps/api/src/routes/ai/models.ts
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  bun.lock
  package.json
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: update precommit hooks and fix tailwindcss configuration
  .husky/pre-commit
  package.json
  postcss.config.cjs
  scripts/guard-test-placement.sh
Due: none

feat: Implement Anti-No-Show Engine with AI-powered prediction and intervention system for aesthetic clinics
  apps/api/src/services/agui-protocol/aesthetic-cache-service.ts
  apps/api/src/services/agui-protocol/aesthetic-compliance-service.ts
  apps/api/src/services/agui-protocol/aesthetic-notification-service.ts
  apps/api/src/services/agui-protocol/aesthetic-protocol.ts
  apps/api/src/services/agui-protocol/aesthetic-rag-service.ts
  apps/api/src/services/agui-protocol/aesthetic-service.ts
  apps/api/src/services/agui-protocol/aesthetic-types.ts
  apps/web/src/components/chat/ACCESSIBILITY_GUIDE.md
  apps/web/src/components/chat/NeonProAccessibility.tsx
  apps/web/src/components/chat/NeonProChatComponents.tsx
  apps/web/src/components/chat/NeonProChatInterface.tsx
  apps/web/src/components/chat/NeonProChatProvider.tsx
  apps/web/src/components/chat/NeonProLGPDCompliance.tsx
  apps/web/src/components/chat/__tests__/accessibility.test.tsx
  apps/web/src/components/chat/accessibility.css
  apps/web/src/components/chat/agents/NeonProAppointmentAgent.tsx
  apps/web/src/components/chat/agents/NeonProClientAgent.tsx
  apps/web/src/components/chat/agents/NeonProFinancialAgent.tsx
  bun.lock
  docs/ai-scheduling/README.md
  docs/ai-scheduling/api-reference.md
  docs/ai-scheduling/testing-guide.md
  package.json
  packages/config/src/__tests__/config.test.ts
  packages/core-services/src/__tests__/anti-no-show-engine.test.ts
  packages/core-services/src/services/anti-no-show-engine.ts
  packages/validators/src/__tests__/brazilian-healthcare.test.ts
  packages/validators/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Path conditions:
  npx ultracite format: ((((((((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx})) or (any of: *.{css,scss})) or (any of: apps/web/**/*.{js,jsx,ts,tsx})) or (any of: packages/ui/**/*.{js,jsx,ts,tsx})) or (any of: packages/utils/**/*.{js,jsx,ts,tsx})) or (any of: packages/types/**/*.{js,jsx,ts,tsx})) or (any of: **/*patient*.{js,jsx,ts,tsx})) or (any of: **/*medical*.{js,jsx,ts,tsx})) or (any of: **/*treatment*.{js,jsx,ts,tsx})) or (any of: **/*.{test,spec}.{js,jsx,ts,tsx})
  pnpm --filter @neonpro/web run lint:staged: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/ui run lint: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/utils run lint: any of: packages/utils/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/types run lint: any of: packages/types/**/*.{js,jsx,ts,tsx}
  echo 'Healthcare file detected: ensuring LGPD compliance...': any of: **/*patient*.{js,jsx,ts,tsx}
  echo 'Medical file detected: ensuring ANVISA compliance...': any of: **/*medical*.{js,jsx,ts,tsx}
  echo 'Treatment file detected: ensuring CFM compliance...': any of: **/*treatment*.{js,jsx,ts,tsx}
  pnpm vitest related --run --reporter=basic: any of: **/*.{test,spec}.{js,jsx,ts,tsx}
  echo 'Database schema change detected: ensure RLS policies are updated': any of: **/*.sql
  echo 'Database migration detected: ensure healthcare data integrity': any of: **/migrations/*.sql
