Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

Refactor analytics, add no-show activation, cleanup
  apps/web/app/components/neonpro-healthcare-dashboard.tsx
  apps/web/components/ClinicDashboard.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

merge
  apps/web/app/components/neonpro-healthcare-dashboard.tsx
  apps/web/components/ClinicDashboard.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Remove architecture and coding standards documentation
  docs/README.md
  docs/architecture/coding-standards.md
  docs/architecture/source-tree.md
  docs/architecture/tech-stack.md
  docs/brief.md
  docs/qa/README.md
Due: npx ultracite format

docs
  docs/ARCHITECTURE_OPTIMIZATION_SUMMARY.md
  docs/README.md
  docs/architecture.md
  docs/architecture/api-specification.yaml
  docs/architecture/coding-standards.md
  docs/architecture/source-tree.md
  docs/architecture/supabase-first-optimization.md
  docs/architecture/tech-stack.md
  docs/brief.md
  docs/front-end-spec.md
  docs/prd.md
  docs/qa/README.md
  docs/shards/epics/neonpro-ai-first-healthcare-transformation-epic.md
  docs/shards/implementation-artifacts.md
  docs/shards/stories/engine-anti-no-show-stories.md
  docs/shards/stories/universal-ai-chat-stories.md
Due: npx ultracite format

Restructure and expand documentation files
  docs/ARCHITECTURE_OPTIMIZATION_SUMMARY.md
  docs/apis/README.md
  docs/apis/ai-sdk-v5.0.md
  docs/apis/api-specification.yaml
  docs/apis/apis.md
  docs/app-flows.md
  docs/app-flows/README.md
  docs/architecture.md
  docs/architecture/architecture.md
  docs/architecture/coding-standards.md
  docs/architecture/source-tree.md
  docs/architecture/supabase-first-optimization.md
  docs/brief.md
  docs/database-schema/README.md
  docs/database-schema/database-schema.md
  docs/database-schema/supabase-auth-guidelines.md
  docs/database-schema/supabase-best-practices.md
  docs/database-schema/supabase-realtime-usage.md
  docs/database-schema/supabase.md
  docs/database-schema/tables/README.md
  docs/dev-workflow.md
  docs/frontend/design-guidelines.md
  docs/frontend/front-end-spec.md
  docs/frontend/frontend-architecture.md
  docs/memory.md
  docs/prd/01-executive-summary-and-analysis.md
  docs/prd/02-functional-and-technical-specs.md
  docs/prd/03-success-metrics-and-implementation.md
  docs/prd/epics/README.md
  docs/prd/prd.md
  docs/project.md
  docs/shards/epics/neonpro-ai-first-healthcare-transformation-epic.md
  docs/shards/implementation-artifacts.md
  docs/shards/stories/engine-anti-no-show-stories.md
  docs/shards/stories/universal-ai-chat-stories.md
  docs/ttd-flow.md
  docs/variables-configuration.md
Due: npx ultracite format

feat(analytics): add real-time monitoring dashboard with patient tracking
  apps/web/src/components/analytics/AnalyticsDashboard.tsx
  apps/web/src/components/analytics/PatientOutcomePrediction.tsx
  apps/web/src/components/analytics/RealTimeMonitoringDashboard.tsx
  apps/web/src/types/analytics.ts
  packages/auth/src/AuthService.ts
  packages/core-services/src/base/EnhancedServiceBase.ts
  packages/core-services/src/enterprise/security/EnterpriseSecurityService.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Add Memory Management Protocol documentation for AI interactions and memory file management
  .ruler/accessibility.md
  .ruler/code-freeze.md
  .ruler/code-preferences.md
  .ruler/core-workflow.md
  .ruler/design-guidelines.md
  .ruler/dev-workflow.md
  .ruler/react.md
  .ruler/tailwind.md
  .turbo/cache/50fb9cf14ffb9c25-meta.json
  .turbo/cache/50fb9cf14ffb9c25.tar.zst
  .turbo/cache/65e68688ee030a5b-meta.json
  .turbo/cache/65e68688ee030a5b.tar.zst
  .vscode/settings.json
  docs/README.md
  docs/apis/README.md
  docs/apis/apis.md
  docs/app-flows/auth-flow.md
  docs/architecture/frontend-architecture.md
  docs/brief.md
  docs/front-end-spec.md
  docs/memory.md
  docs/project.md
Due: npx ultracite format

fix: resolve GitHub Actions workflow errors and syntax issues
  .github/workflows/healthcare-deployment.yml
  .github/workflows/performance-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/rollback-strategy.yml
Due: none

fix: resolve pnpm version mismatch causing GitHub Actions failures
  .github/workflows/ci.yml
  .github/workflows/healthcare-deployment.yml
  .github/workflows/performance-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/rollback-strategy.yml
Due: none

feat: Add comprehensive integration specifications for NeonPro Healthcare Platform
  .github/workflows/healthcare-deployment.yml
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  GITHUB-ACTIONS-FIX-COMPLETE.md
  WORKFLOW-FIX-SUMMARY.md
  apps/api/src/middleware/audit.middleware.ts
  apps/api/src/middleware/audit.ts
  apps/api/src/routes/ai/batch-prediction-services.ts
  apps/api/src/routes/ai/batch-prediction-templates.ts
  apps/api/src/routes/analytics.ts
  apps/api/src/routes/auth.ts
  apps/api/src/routes/compliance-automation-helpers-refactored.ts
  apps/api/src/routes/compliance.ts
  apps/api/src/routes/professionals.ts
  apps/api/src/routes/services.ts
  apps/api/src/services/audit.service.ts
  apps/api/src/types/audit.ts
  apps/web/app/hooks/use-auth.ts
  docs/architecture/alignment/01-architecture-alignment-gaps.md
  docs/architecture/alignment/02-architecture-alignment-plan.md
  docs/architecture/interfaces/01-api-contract-specifications.md
  docs/architecture/interfaces/02-component-interface-contracts.md
  docs/architecture/interfaces/03-integration-specifications.md
  tools/scripts/validate-github-workflows.js
  tools/scripts/validate-workflows.ps1
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: enhance Vercel MCP setup documentation and configuration files
  .augment/rules/AGENT.md
  .gitignore
  .vercel/project.json
  .vercelignore
  VERCEL-MCP-STATUS.md
  docs/vercel-mcp-setup.md
Due: npx ultracite format

Add clinic and professional types, update type safety
  .claude/settings.local.json
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  apps/api/tsconfig.json
  apps/web/types/no-show-prediction.ts
  bun.lock
  docs/api/component-interfaces-specification.md
  docs/architecture/ai-patterns/ai-implementation-patterns.md
  docs/architecture/cross-cutting/cross-cutting-concerns-architecture.md
  packages/monitoring/src/types.ts
  packages/types/src/appointment.ts
  packages/types/src/clinic.ts
  packages/types/src/index.ts
  packages/types/src/patient.ts
  packages/types/src/professional.ts
  packages/utils/src/auth/rbac.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...'

test: add vitest config for integration tests
  VERCEL-MCP-STATUS.md
  _tmp_8000_8d84d1211232592e3514091268937ee0
  apps/web/package.json
  audit_detailed.json
  build_temp.sh
  package.json
  packages/devops/package.json
  packages/security/tsconfig.build.json
  packages/security/tsconfig.json
  pnpm-clean.ps1
  pnpm-lock.yaml
  vitest.config.integration.temp.ts
Due: npx ultracite format

chore: migrate to bun package manager and update test configs
  .gitignore
  apps/web/tests/integration/ai-database.integration.test.tsx
  apps/web/tests/integration/emergency-access-protocol.test.tsx
  apps/web/tests/integration/integration-test-setup.ts
  apps/web/tests/setup/global-mocks.ts
  bun.lock
  bunfig.toml
  package.json
  pnpm-lock.yaml
  run-integration-tests.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Add Bun-optimized Vercel deploy, Dockerfile, and config updates
  .claude/settings.local.json
  .github/workflows/vercel-deploy.yml
  .pnpmrc
  Dockerfile.bun
  apps/web/package.json
  packages/utils/src/compliance/cfm.ts
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/utils run lint
