Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

Refactor report generation and add orchestration engine
  apps/api/src/middleware/__tests__/database-health.test.ts
  apps/api/src/services/database-performance.ts
  docs/testing/front-end-testing.md
  tools/audit-consolidated/package.json
  tools/audit-consolidated/src/cli/commands/analyze.ts
  tools/audit-consolidated/src/cli/commands/audit.ts
  tools/audit-consolidated/src/cli/commands/cleanup.ts
  tools/audit-consolidated/src/cli/commands/report.ts
  tools/audit-consolidated/src/cli/commands/scan.ts
  tools/audit-consolidated/src/cli/commands/validate.ts
  tools/audit-consolidated/src/cli/index.ts
  tools/audit-consolidated/src/models/ArchitectureDocument.ts
  tools/audit-consolidated/src/models/AuditReport.ts
  tools/audit-consolidated/src/models/CleanupAction.ts
  tools/audit-consolidated/src/models/CodeAsset.ts
  tools/audit-consolidated/src/models/DependencyGraph.ts
  tools/audit-consolidated/src/models/types.ts
  tools/audit-consolidated/src/scripts/postinstall.ts
  tools/audit-consolidated/src/services/ArchitectureValidator.ts
  tools/audit-consolidated/src/services/CleanupEngine.ts
  tools/audit-consolidated/src/services/DependencyAnalyzer.ts
  tools/audit-consolidated/src/services/FileScanner.ts
  tools/audit-consolidated/src/services/ReportGenerator.ts
  tools/audit-consolidated/src/types/index.ts
  tools/audit-consolidated/src/utils/ConfigManager.ts
  tools/audit-consolidated/src/utils/ErrorHandler.ts
  tools/audit-consolidated/src/utils/Logger.ts
  tools/audit-consolidated/src/utils/PerformanceMonitor.ts
  tools/audit-consolidated/tsconfig.json
  tools/audit-consolidated/tsup.config.ts
  tools/orchestration/agent-registry.ts
  tools/orchestration/types.ts
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

feat(metrics): Implement comprehensive metrics collector for TDD orchestration
  apps/api/src/middleware/__tests__/database-health.test.ts
  apps/api/src/middleware/database-health.ts
  apps/api/src/services/__tests__/connection-pool-manager.test.ts
  apps/api/src/services/__tests__/database-performance.test.ts
  apps/api/src/services/__tests__/index-optimizer.test.ts
  apps/api/src/services/connection-pool-manager.ts
  docs/testing/backend-architecture-testing.md
  docs/testing/database-security-testing.md
  docs/testing/front-end-testing.md
  packages/core-services/src/index.ts
  packages/core-services/src/models/audit-event.ts
  packages/core-services/src/models/chat-message.ts
  packages/core-services/src/models/chat-session.ts
  packages/core-services/src/services/ai-provider.ts
  packages/core-services/src/services/chat-service.ts
  packages/core-services/src/services/consent-validation.ts
  packages/core-services/src/services/openai-provider.ts
  packages/core-services/src/services/pii-redaction.ts
  packages/core-services/src/services/rate-counter.ts
  specs/002-phase-1-ai/tasks-enhanced.md
  tools/audit-consolidated/src/cli/commands/benchmark.ts
  tools/audit-consolidated/src/cli/commands/constitutional.ts
  tools/audit-consolidated/src/cli/commands/quick.ts
  tools/audit-consolidated/src/cli/index.ts
  tools/orchestration/communication/agent-protocol.ts
  tools/orchestration/communication/index.ts
  tools/orchestration/communication/message-bus.ts
  tools/orchestration/compliance/healthcare-validator.ts
  tools/orchestration/index.ts
  tools/orchestration/metrics/collector.ts
  tools/orchestration/workflows/workflow-engine.ts
  tools/testing-unified/package.json
  tools/testing-unified/src/index.ts
  tools/testing-unified/src/setup/index.ts
  tools/testing-unified/src/utils/index.ts
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

feat: Add accessibility utilities and tests for WCAG 2.1 AA+ compliance
  .claude/agents/code-review/test.md
  .claude/agents/tdd-orchestrator.md
  .claude/commands/dev-lifecycle.md
  apps/api/src/app.ts
  apps/api/src/routes/chat.ts
  apps/api/tsconfig.json
  apps/web/src/components/accessibility/AccessibleHealthcareForm.tsx
  apps/web/src/components/accessibility/AccessibleNavigation.tsx
  apps/web/src/components/accessibility/AccessiblePatientCard.tsx
  apps/web/src/components/accessibility/__tests__/AccessiblePatientCard.test.tsx
  apps/web/src/hooks/__tests__/useAccessibility.test.tsx
  apps/web/src/hooks/useAccessibility.ts
  apps/web/src/services/__tests__/accessibility-audit.test.ts
  apps/web/src/services/accessibility-audit.ts
  apps/web/src/services/performance-metrics.ts
  apps/web/src/tests/supabase/audit.test.ts
  apps/web/src/tests/supabase/edge-functions.test.ts
  apps/web/src/utils/__tests__/accessibility.test.ts
  apps/web/src/utils/accessibility.ts
  packages/shared/src/index.ts
  packages/shared/src/models/telemetry-event.ts
  specs/002-phase-1-ai/tasks-enhanced.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

feat: Implement PDF generation and export functionality
  .claude/settings.local.json
  apps/web/package.json
  apps/web/src/__tests__/pdf-export.test.tsx
  apps/web/src/__tests__/pdf-utils.test.tsx
  apps/web/src/components/aesthetic/AestheticAssessmentForm.tsx
  apps/web/src/components/chat/chat-container.tsx
  apps/web/src/components/chat/chat-input.tsx
  apps/web/src/components/chat/chat-message.tsx
  apps/web/src/components/chat/chat-session-manager.tsx
  apps/web/src/components/chat/consent-prompt.tsx
  apps/web/src/components/chat/rate-limit-notice.tsx
  apps/web/src/components/pdf/AestheticReportPDF.tsx
  apps/web/src/components/pdf/ClinicBranding.tsx
  apps/web/src/components/pdf/PDFExportButtons.tsx
  apps/web/src/components/pdf/pdf-styles.ts
  apps/web/src/hooks/use-chat-session.ts
  apps/web/src/hooks/use-chat-streaming.ts
  apps/web/src/hooks/usePDFExport.ts
  apps/web/src/i18n/locales/en-US.json
  apps/web/src/i18n/locales/pt-BR.json
  apps/web/src/routeTree.gen.ts
  apps/web/vitest.config.ts
  packages/core-services/src/audit/writer.ts
  packages/core-services/src/chat/schemas.ts
  packages/core-services/src/chat/sessionRepo.ts
  packages/core-services/src/rate/fairness.ts
  packages/security/src/middleware.ts
  packages/utils/src/redaction/pii.ts
  pnpm-lock.yaml
  specs/002-phase-1-ai/constitutional-compliance-verification.md
  specs/002-phase-1-ai/enhanced-spec.md
  specs/002-phase-1-ai/plan.md
  specs/002-phase-1-ai/quickstart.md
  specs/002-phase-1-ai/spec.md
  specs/002-phase-1-ai/tasks-sequenced.md
  tools/orchestration/execution-pattern-selector.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/utils run lint, pnpm vitest related --run --reporter=basic

Refactor healthcare job config and update job manager usage
  .claude/settings.local.json
  AGENTS.md
  debug-ai-insights.sh
  packages/shared/src/services/background-jobs-framework.ts
  packages/shared/src/services/background-jobs-manager.ts
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format

Update apps/api/src/middleware/performance.ts
  apps/api/src/middleware/performance.ts
Due: npx ultracite format

Update apps/api/src/middleware/authn.ts
  apps/api/src/middleware/authn.ts
Due: npx ultracite format

Update apps/api/src/middleware/error-tracking-middleware.ts
  apps/api/src/middleware/error-tracking-middleware.ts
Due: npx ultracite format

Add unit tests for AgentRegistry functionality
  .claude/agents/code-review/test.md
  .code/agents/51b44f36-c32b-4b2a-ae53-119dea34a317/result.txt
  apps/api/src/routes/patients/documents-upload.ts
  apps/web/src/services/__tests__/accessibility-audit.test.ts
  apps/web/src/services/__tests__/e2e-testing.test.ts
  apps/web/src/services/mobile-accessibility.ts
  apps/web/src/services/performance-metrics.ts
  apps/web/src/tests/contracts/observability.test.ts
  apps/web/src/tests/contracts/security.test.ts
  packages/shared/src/services/background-jobs-manager.ts
  packages/shared/src/services/notification-service.ts
  packages/shared/src/services/session-management.ts
  tools/quality/src/orchestrator/__tests__/agent-registry.test.ts
  tools/quality/src/orchestrator/agent-registry.ts
  tools/quality/src/orchestrator/agents/base-agent.ts
  tools/quality/src/orchestrator/agents/security-auditor-agent.ts
  tools/quality/src/orchestrator/types.ts
  tools/quality/tsconfig.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Remove file upload logic from patient documents page
  apps/web/src/routes/patients/$patientId/documents.tsx
  debug-ai-insights.sh
  tools/orchestration/src/config.ts
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update packages/shared/src/services/authentication-middleware.ts
  packages/shared/src/services/authentication-middleware.ts
Due: npx ultracite format

Update apps/web/src/components/patient-documents/index.ts
  apps/web/src/components/patient-documents/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: update claude model from glm-4.5 to claude-3-5-sonnet-20250106
  .claude/settings.json
Due: none

fix: address CodeRabbit PR review suggestions
  .claude/settings.json
  api/patient-documents-download.ts
  apps/api/debug-service.js
  apps/api/debug-service.ts
  apps/api/src/routes/chat.ts
  apps/api/src/routes/documents-download.ts
  apps/api/src/services/aesthetic-analysis-service.ts
  apps/api/src/services/patient-document-service.ts
  apps/web/package.json
  apps/web/src/components/patients/PatientRegistrationWizard.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/patients/$patientId/documents.tsx
  apps/web/tests/integration/chat-errors.test.ts
  apps/web/tests/integration/chat-streaming.test.ts
  apps/web/tests/performance/load-testing.spec.ts
  apps/web/tests/performance/stress-testing.spec.ts
  debug-ai-insights.sh
  packages/monitoring/src/health/checks.ts
  packages/monitoring/src/init.ts
  packages/monitoring/src/metrics/prometheus.ts
  packages/shared/src/services/notification-service.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
  tools/orchestration/package.json
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
  tools/testing-toolkit/debug-agent.js
  tools/testing-toolkit/src/core/index.ts
  tools/testing-toolkit/src/core/tdd-orchestrator.ts
  tools/testing-toolkit/tests/example.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

fix: resolve monitoring package build errors
  apps/web/src/components/ui/floating-ai-chat-simple.tsx
  packages/monitoring/src/health/init.ts
  packages/monitoring/src/init.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Add patient document services, web queries, and audit report
  .claude/settings.json
  .github/chatmodes/vibecoder.chatmode.md
  COMPREHENSIVE_AUDIT_REPORT.md
  apps/api/debug-manual.ts
  apps/api/debug-service-named.ts
  apps/api/patient-document-service-backup.ts
  apps/api/src/__tests__/debug-import.test.ts
  apps/api/src/__tests__/temp-service.test.ts
  apps/api/src/services/temp-patient-document-service.ts
  apps/web/src/queries/documents.ts
  apps/web/src/routes/patients/$patientId/documents.tsx
  debug-ai-insights.sh
  packages/cli/vitest.config.ts
  packages/config/vitest.config.ts
  packages/monitoring/vitest.config.ts
  packages/types/vitest.config.ts
  packages/ui/src/components/forms/healthcare-form.tsx
  packages/ui/src/components/forms/healthcare-select.tsx
  packages/ui/src/components/forms/healthcare-text-field.tsx
  packages/ui/src/components/healthcare/healthcare-theme-provider.tsx
  packages/ui/src/components/healthcare/lgpd-consent-banner.tsx
  packages/ui/src/utils/accessibility.ts
  packages/utils/src/index.ts
  tools/backend/src/index.ts
  tools/backend/tsup.config.ts
  tools/database/src/index.ts
  tools/database/tsup.config.ts
  tools/frontend/src/index.ts
  tools/frontend/tsup.config.ts
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
  tools/quality/tsup.config.ts
  tools/testing-toolkit/debug-agent.js
  tools/testing-toolkit/playwright.config.ts
  tools/testing-toolkit/tests/example.test.ts
  tools/testing-toolkit/vitest.config.ts
  vite.config.ts.timestamp-1758121227475-e3dc9ac287877.mjs
  vitest.integration.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

feat(telemetry): Implement Sentry monitoring integration for error tracking and performance metrics
  .claude/settings.local.json
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/clients/__tests__/supabase-architecture.test.ts
  apps/api/src/clients/__tests__/supabase-security.test.ts
  apps/api/src/clients/__tests__/supabase.test.ts
  apps/api/src/clients/supabase.ts
  apps/api/src/middleware/__tests__/rate-limiting.test.ts
  apps/api/src/middleware/error-tracking-middleware.ts
  apps/api/src/middleware/error-tracking.ts
  apps/api/src/middleware/rate-limit.ts
  apps/api/src/middleware/rate-limiting.ts
  apps/api/src/middleware/zod-validation.ts
  apps/api/src/routes/patients/create.ts
  apps/api/src/services/error-tracking.ts
  apps/api/tests/contract/observability.test.ts
  apps/web/package.json
  apps/web/src/components/monitoring/SentryErrorBoundary.tsx
  apps/web/src/main.tsx
  apps/web/tests/integration/observability-sentry.test.ts
  apps/web/vite.config.ts
  docs/features/platform-architecture-improvements-summary.md
  docs/features/sentry-api-monitoring.md
  docs/features/sentry-monitoring.md
  packages/shared/src/telemetry/index.ts
  packages/shared/src/telemetry/middleware.ts
  packages/shared/src/telemetry/types.ts
  pnpm-lock.yaml
  tools/testing-toolkit/src/agents/coordinator.ts
  tools/testing-toolkit/src/agents/validation.ts
  tools/testing-toolkit/src/compliance/audit-trail.ts
  tools/testing-toolkit/src/compliance/lgpd.ts
  tools/testing-toolkit/tests/agent-coordinator.test.ts
  tools/testing-toolkit/tests/agent-validation.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Remove executable permissions from scripts
  debug-ai-insights.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format

Update apps/web/vite.config.ts
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix(PR38): resolve critical import path and module resolution issues
  .claude/agents/apex-dev.md
  .gitmodules
  apps/api/src/clients/__tests__/supabase-security.test.ts
  apps/api/src/clients/supabase.ts
  apps/api/src/routes/ai/__tests__/analyze.test.ts
  apps/api/src/routes/ai/__tests__/insights.test.ts
  apps/api/src/routes/ai/__tests__/models.test.ts
  apps/api/src/routes/patients/__tests__/bulk-json.test.ts
  apps/api/src/routes/patients/__tests__/history.test.ts
  apps/api/src/routes/patients/create.ts
  apps/api/src/routes/patients/update.ts
  apps/api/src/services/ai-chat-service.ts
  apps/api/src/services/lgpd-service.ts
  apps/api/src/services/patient-service.ts
  apps/api/src/utils/__tests__/brazilian-validators.test.ts
  apps/api/vitest.config.ts
  apps/web/src/components/telemedicine/WaitingRoom.tsx
  apps/web/src/components/telemedicine/__tests__/SchedulingUI.test.tsx
  apps/web/src/components/telemedicine/__tests__/WaitingRoom.test.tsx
  apps/web/src/lib/sentry.ts
  apps/web/vite.config.ts
  packages/database/src/services/consent-service.ts
  packages/shared/src/services/api-rate-limiting.ts
  packages/shared/src/services/authentication-middleware.ts
  packages/shared/src/services/authorization-system.ts
  packages/shared/src/services/cache-management.ts
  packages/shared/src/services/healthcare-middleware.ts
  packages/shared/src/webrtc/call-manager-stub.ts
  packages/types/src/__tests__/webrtc-types.test.ts
  packages/types/src/webrtc.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

fix: resolve CI/CD issues
  .gitmodules
Due: none

feat(audit-service): implement LGPD-compliant audit logging for telemedicine sessions
  .claude/agents/code-review/tdd-orchestrator.md
  COMPREHENSIVE_AUDIT_REPORT.md
  apps/api/src/services/audit-service.ts
  apps/api/src/services/metrics.ts
  apps/web/src/components/telemedicine/ConsentDialog.tsx
  apps/web/src/hooks/useLGPDConsent.ts
  packages/core-services/src/services/governance/healthcare-governance.service.ts
  packages/database/prisma/schema.prisma
  packages/database/src/index.ts
  packages/database/src/services/audit-service.ts
  packages/database/src/services/index.ts
  packages/security/src/middleware.ts
  packages/types/healthcare-governance.types.ts
  tdd-orchestrator-config.json
  tools/quality/src/orchestrator/agent-registry.ts
  tools/testing-toolkit/src/core/tdd-orchestrator.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/types run lint

Add healthcare governance types and metrics for CFM/ANVISA compliance
  .qwen/agents/tdd-orchestrator.md
  apps/api/package.json
  apps/api/src/routes/ai/__tests__/analyze.test.ts
  apps/api/src/routes/ai/__tests__/chat.test.ts
  apps/api/src/routes/ai/__tests__/insights.test.ts
  apps/api/src/routes/ai/__tests__/models.test.ts
  apps/api/src/routes/patients/__tests__/create-simple.test.ts
  apps/api/src/routes/patients/__tests__/create.test.ts
  apps/api/src/routes/patients/__tests__/history.test.ts
  apps/api/src/test-setup.ts
  apps/api/vitest.config.ts
  packages/core-services/src/services/governance/healthcare-governance.service.ts
  packages/core-services/src/services/governance/supabase-governance.service.ts
  packages/database/src/index.ts
  packages/database/src/services/audit-service.ts
  packages/database/src/services/consent-service.ts
  packages/database/tsconfig.json
  packages/types/governance.types.d.ts
  packages/types/governance.types.d.ts.map
  packages/types/governance.types.js
  packages/types/governance.types.js.map
  packages/types/healthcare-governance.types.d.ts
  packages/types/healthcare-governance.types.d.ts.map
  packages/types/healthcare-governance.types.js
  packages/types/healthcare-governance.types.js.map
  packages/types/package.json
  packages/types/src/governance.types.ts
  packages/types/src/healthcare-governance.types.ts
  packages/types/src/index.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
  tools/quality/src/orchestrator/agent-registry.ts
  tools/quality/src/orchestrator/communication.ts
  tools/quality/src/orchestrator/integrations/monitoring.ts
  tools/quality/src/orchestrator/integrations/security.ts
  tools/quality/src/orchestrator/orchestrator-core.ts
  tools/quality/src/orchestrator/quality-gates.ts
  tools/quality/src/orchestrator/types.ts
  tools/quality/src/orchestrator/workflow-engine.ts
Due: npx ultracite format, pnpm --filter @neonpro/types run lint, pnpm vitest related --run --reporter=basic

Migrate audit log usage to 'audit_logs' table
  .claude/settings.local.json
  debug-ai-insights.sh
  packages/database/src/services/audit-service.ts
  packages/database/src/services/consent-service.ts
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format

Path conditions:
  npx ultracite format: ((((((((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx})) or (any of: *.{css,scss})) or (any of: apps/web/**/*.{js,jsx,ts,tsx})) or (any of: packages/ui/**/*.{js,jsx,ts,tsx})) or (any of: packages/utils/**/*.{js,jsx,ts,tsx})) or (any of: packages/types/**/*.{js,jsx,ts,tsx})) or (any of: **/*patient*.{js,jsx,ts,tsx})) or (any of: **/*medical*.{js,jsx,ts,tsx})) or (any of: **/*treatment*.{js,jsx,ts,tsx})) or (any of: **/*.{test,spec}.{js,jsx,ts,tsx})
  pnpm --filter @neonpro/web run lint:staged: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/ui run lint: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/utils run lint: any of: packages/utils/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/types run lint: any of: packages/types/**/*.{js,jsx,ts,tsx}
  echo 'Healthcare file detected: ensuring LGPD compliance...': any of: **/*patient*.{js,jsx,ts,tsx}
  echo 'Medical file detected: ensuring ANVISA compliance...': any of: **/*medical*.{js,jsx,ts,tsx}
  echo 'Treatment file detected: ensuring CFM compliance...': any of: **/*treatment*.{js,jsx,ts,tsx}
  pnpm vitest related --run --reporter=basic: any of: **/*.{test,spec}.{js,jsx,ts,tsx}
  echo 'Database schema change detected: ensure RLS policies are updated': any of: **/*.sql
  echo 'Database migration detected: ensure healthcare data integrity': any of: **/migrations/*.sql
