Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

build(ci): melhorar pipeline com cache, checks paralelos e testes de acessibilidade
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/pre-push
  apps/api/src/__tests__/middleware/compression-middleware.test.ts
  apps/api/src/__tests__/middleware/query-timeout-middleware.test.ts
  apps/api/src/middleware/compression-middleware.ts
  apps/api/src/middleware/query-timeout-middleware.ts
  apps/api/src/trpc/router.ts
  apps/api/src/trpc/routers/chatbot-data.ts
  apps/web/src/components/examples/ChatbotAgentExamples.tsx
  apps/web/src/hooks/realtime/index.ts
  apps/web/src/hooks/realtime/useChatbotRealtime.ts
  apps/web/src/hooks/realtime/useRealtimeProvider.ts
  apps/web/src/hooks/useChatbotIntegration.ts
  apps/web/src/services/chatbot-agent-data.ts
  docs/chatbot-agent-infrastructure.md
  docs/features/quality-control-improvements-2024.md
  docs/final-migration-guide.md
  docs/supabase-sync-guide.md
  package.json
  packages/database/prisma/schema.prisma
  packages/security/.tsbuildinfo-security
  packages/security/src/core/security-base.ts
  packages/security/src/core/security-event-logger.ts
  packages/security/src/core/security-interfaces.ts
  packages/security/src/core/security-rate-limiter.ts
  packages/security/src/core/security-validator.ts
  packages/security/src/core/session-base.ts
  packages/security/src/governance/services/governance-provider.ts
  packages/security/src/types/clinical-kpis.ts
  packages/security/src/types/financial-kpis.ts
  packages/ui/src/components/forms/healthcare-text-field.tsx
  scripts/accessibility-check.sh
  scripts/deploy.sh
  specs/001-create-a-comprehensive/analysis/import-scan-results.json
  specs/001-create-a-comprehensive/analysis/missing-imports.json
  specs/001-create-a-comprehensive/analysis/missing_imports_analyzer.py
  specs/001-create-a-comprehensive/analysis/structure-analysis.md
  specs/001-create-a-comprehensive/tasks.md
  supabase_sync_verification.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

build(vercel): atualizar comandos de build para usar npm em vez de bun
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/web/vercel.json
  build-vercel.sh
  scripts/accessibility-check.sh
  scripts/audit-unified.sh
  scripts/build-analysis.sh
  scripts/config.sh
  scripts/deploy.sh
  scripts/dev-setup.sh
  scripts/emergency-rollback.sh
  scripts/guard-test-placement.sh
  scripts/lint-watch.sh
  scripts/oxlint-hierarchical.sh
  scripts/oxlint-ide.sh
  scripts/oxlint-monitor.sh
  scripts/performance-benchmark.sh
  scripts/setup-package-scripts.sh
  scripts/setup-supabase-auth.sh
  scripts/setup-supabase-migrations.sh
  scripts/test-ide-integration.sh
  scripts/test-supabase-config.sh
  scripts/utils/validation.sh
  scripts/validate-fixes.sh
  supabase_sync_verification.sh
  vercel.json
Due: none

refactor(chat): remover componente NeonProAppointmentAgent e ajustar imports
  apps/web/src/components/aesthetic-scheduling/MultiSessionScheduler.tsx
  apps/web/src/components/ai-clinical-support/TreatmentOutcomePredictor.tsx
  apps/web/src/components/chat/agents/NeonProAppointmentAgent.tsx
  apps/web/src/components/chat/agents/NeonProClientAgent.tsx
  apps/web/src/components/chat/agents/NeonProFinancialAgent.tsx
  apps/web/src/components/healthcare/accessible-patient-registration.tsx
  apps/web/src/components/ui/accessibility-button.tsx
  apps/web/src/components/ui/accessibility-input.tsx
  apps/web/src/config/healthcare.ts
  apps/web/src/hooks/useDateManagement.ts
  apps/web/src/hooks/useMedicalHistory.ts
  apps/web/src/hooks/useProcedureSelection.ts
  apps/web/src/hooks/useProfessionalSelection.ts
  apps/web/src/hooks/useSchedulingData.ts
  apps/web/src/hooks/useSchedulingForm.ts
  apps/web/src/hooks/useSchedulingSubmission.ts
  apps/web/src/hooks/useSpecialRequirements.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/services/healthcare-compliance.ts
  apps/web/src/services/pwa/PWANativeDeviceService.ts
  apps/web/src/services/pwa/PWAOfflineManager.ts
  apps/web/src/test/mocks/handlers.ts
  apps/web/src/test/test-setup.ts
  apps/web/src/utils/healthcare.ts
  packages/database/.tsbuildinfo-database
  packages/healthcare-core/.tsbuildinfo-healthcare-core
  packages/security/.tsbuildinfo-security
  packages/ui/.tsbuildinfo-ui
  specs/001-create-a-comprehensive/frontend-debug/auth-flow-validation.md
  specs/001-create-a-comprehensive/frontend-debug/critical-deployment-issues.md
  specs/001-create-a-comprehensive/frontend-debug/executive-summary.md
  specs/001-create-a-comprehensive/tasks.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...'

refactor(financial): refatorar agente financeiro para otimização e simplificação
  apps/web/src/components/aesthetic-scheduling/CertificationValidator.tsx
  apps/web/src/components/aesthetic-scheduling/RoomAllocation.tsx
  apps/web/src/components/chat/NeonProAccessibility.tsx
  apps/web/src/components/chat/NeonProChatInterface.tsx
  apps/web/src/components/chat/NeonProLGPDCompliance.tsx
  apps/web/src/components/chat/agents/NeonProAppointmentAgent.tsx
  apps/web/src/components/chat/agents/NeonProFinancialAgent.tsx
  apps/web/src/types/aesthetic-scheduling.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Change shell script file permissions to 644
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/web/src/components/healthcare/accessible-patient-registration.tsx
  build-vercel.sh
  scripts/accessibility-check.sh
  scripts/audit-unified.sh
  scripts/build-analysis.sh
  scripts/check-chrome-debug.sh
  scripts/config.sh
  scripts/deploy-local.sh
  scripts/deploy.sh
  scripts/dev-setup.sh
  scripts/emergency-rollback.sh
  scripts/guard-test-placement.sh
  scripts/lint-watch.sh
  scripts/oxlint-hierarchical.sh
  scripts/oxlint-ide.sh
  scripts/oxlint-monitor.sh
  scripts/performance-benchmark.sh
  scripts/setup-package-scripts.sh
  scripts/setup-supabase-auth.sh
  scripts/setup-supabase-migrations.sh
  scripts/test-ide-integration.sh
  scripts/test-supabase-config.sh
  scripts/utils/validation.sh
  scripts/validate-fixes.sh
  supabase_sync_verification.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...'

refactor(web): melhorar estrutura de componentes e mensagens de autenticação
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  CRITICAL_ISSUES_TRACKER.md
  FINAL_QUALITY_VALIDATION_REPORT.md
  apps/web/src/components/aesthetic-scheduling/CertificationValidator.tsx
  apps/web/src/components/healthcare/accessible-patient-registration.tsx
  apps/web/src/routes/auth/login.tsx
  apps/web/src/routes/auth/signup.tsx
  apps/web/src/routes/dashboard/index.tsx
  build-vercel.sh
  packages/database/.tsbuildinfo-database
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  scripts/accessibility-check.sh
  scripts/audit-unified.sh
  scripts/build-analysis.sh
  scripts/check-chrome-debug.sh
  scripts/config.sh
  scripts/deploy-local.sh
  scripts/deploy.sh
  scripts/dev-setup.sh
  scripts/emergency-rollback.sh
  scripts/guard-test-placement.sh
  scripts/lint-watch.sh
  scripts/oxlint-hierarchical.sh
  scripts/oxlint-ide.sh
  scripts/oxlint-monitor.sh
  scripts/performance-benchmark.sh
  scripts/setup-package-scripts.sh
  scripts/setup-supabase-auth.sh
  scripts/setup-supabase-migrations.sh
  scripts/test-ide-integration.sh
  scripts/test-supabase-config.sh
  scripts/utils/validation.sh
  scripts/validate-fixes.sh
  supabase_sync_verification.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/utils run lint, echo 'Healthcare file detected: ensuring LGPD compliance...'

refactor(api): melhorar estrutura de dados no suporte clínico de IA
  apps/api/src/trpc/routers/ai-clinical-support.ts
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/components/LoadingSpinner.tsx
  apps/web/src/components/aesthetic-scheduling/CertificationValidator.tsx
  apps/web/src/components/auth/SignUpForm.tsx
  apps/web/src/components/healthcare/accessible-patient-registration.tsx
  apps/web/src/components/providers/accessibility-provider.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/contexts/AuthContext.tsx
  apps/web/src/integrations/supabase/client.ts
  apps/web/tailwind.config.ts
  apps/web/vite.config.ts
  apps/web/vitest.config.ts
  build-web.js
  package.json
  packages/database/.tsbuildinfo-database
  packages/security/.tsbuildinfo-security
  packages/security/tsconfig.json
  packages/shared/src/index.ts
  packages/types/src/guards.ts
  packages/types/src/index.ts
  packages/types/src/validation.ts
  packages/ui/package.json
  packages/ui/src/components/magicui/animated-list.tsx
  packages/ui/src/components/ui/animated-modal.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/checkbox.tsx
  packages/ui/src/components/ui/command.tsx
  packages/ui/src/components/ui/form.tsx
  packages/ui/src/components/ui/input.tsx
  packages/ui/src/components/ui/label.tsx
  packages/ui/src/components/ui/radio-group.tsx
  packages/ui/src/components/ui/scroll-area.tsx
  packages/ui/src/components/ui/select.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/healthcare-validation.ts
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...'

Refactor UI components and update script permissions
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/web/src/contexts/AuthContext.tsx
  build-vercel.sh
  packages/security/src/adapters/ingestion-adapter.ts
  packages/security/src/core/security-base.ts
  packages/security/tsconfig.json
  packages/ui/src/components/ui/animated-modal.tsx
  packages/ui/src/components/ui/command.tsx
  packages/ui/src/components/ui/radio-group.tsx
  scripts/accessibility-check.sh
  scripts/audit-unified.sh
  scripts/build-analysis.sh
  scripts/check-chrome-debug.sh
  scripts/config.sh
  scripts/deploy-local.sh
  scripts/deploy.sh
  scripts/dev-setup.sh
  scripts/emergency-rollback.sh
  scripts/guard-test-placement.sh
  scripts/lint-watch.sh
  scripts/oxlint-hierarchical.sh
  scripts/oxlint-ide.sh
  scripts/oxlint-monitor.sh
  scripts/performance-benchmark.sh
  scripts/setup-package-scripts.sh
  scripts/setup-supabase-auth.sh
  scripts/setup-supabase-migrations.sh
  scripts/test-ide-integration.sh
  scripts/test-supabase-config.sh
  scripts/utils/validation.sh
  scripts/validate-fixes.sh
  supabase_sync_verification.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

refactor(api): atualizar arquitetura TRPC e middleware para padrões modernos
  .github/workflows/database-health-check.yml
  .github/workflows/deploy-database.yml
  .github/workflows/deploy-production.yml
  bun.lock
  packages/database/src/index.ts
  packages/database/src/types/supabase-generated.ts
  turbo.json
Due: npx ultracite format

refactor(core): atualizar configurações do pacote e exportações
  apps/api/tsconfig.json
  apps/web/tsconfig.json
  packages/core/package.json
  packages/core/src/__tests__/auth.test.ts
  packages/core/src/__tests__/healthcare.test.ts
  packages/core/src/ai-services/index.ts
  packages/core/src/auth/index.ts
  packages/core/src/healthcare/appointment-service.ts
  packages/core/src/healthcare/index.ts
  packages/core/src/index.ts
  packages/core/vitest.config.ts
  packages/database/.tsbuildinfo-database
  packages/database/package.json
  packages/database/src/__tests__/client.test.ts
  packages/database/src/client-full.ts
  packages/database/src/index-full.ts
  packages/database/src/utils/logging.ts
  packages/database/src/utils/migration.ts
  packages/database/src/utils/validation.ts
  packages/database/tsconfig.json
  packages/database/vitest.config.ts
  packages/types/src/__tests__/schemas.test.ts
  packages/types/vitest.config.ts
  specs/005-execute-o-specify/plan.md
  specs/005-execute-o-specify/spec.md
Due: npx ultracite format, pnpm --filter @neonpro/types run lint, pnpm vitest related --run --reporter=basic

refactor(core): remover pacotes obsoletos e ajustar configurações para migração Bun
  CLAUDE.md
  apps/api/package.json
  apps/web/package.json
  baseline-performance.md
  package-migration-analysis.md
  package.json
  packages/core/src/__tests__/auth.test.ts
  packages/database/package.json
  packages/database/scripts/sync-types.ts
  packages/database/src/__tests__/client.test.ts
  packages/types/package.json
  packages/ui/tsup.config.ts
  scripts/performance-test-simple.sh
  scripts/performance-test.sh
  specs/005-execute-o-specify/contracts/api-contracts.yaml
  specs/005-execute-o-specify/data-model.md
  specs/005-execute-o-specify/plan.md
  specs/005-execute-o-specify/quickstart.md
  specs/005-execute-o-specify/research.md
  specs/005-execute-o-specify/tasks.md
  specs/005-execute-o-specify/verification-report.md
  tsconfig.base.json
  workspace-migration-fix.md
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

feat: implement Priority 1 & 2 critical fixes - health endpoints, runtime separation, migration scripts
  apps/api/src/__tests__/health-endpoints-integration.test.ts
  apps/api/src/edge/health.ts
  apps/api/src/node/health.ts
  specs/004-use-o-agent/FINAL_IMPLEMENTATION_REPORT.md
  specs/004-use-o-agent/IMPLEMENTATION_SUMMARY.md
  specs/004-use-o-agent/TDD_ORCHESTRATOR_VALIDATION.md
  specs/004-use-o-agent/TEST_EXECUTION_REPORT.md
  specs/004-use-o-agent/VERIFICATION_REPORT.md
  specs/004-use-o-agent/tasks.md
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

fix: resolve ui-shared symlink error by replacing with TypeScript re-export
  apps/web/src/components/ui-shared
  apps/web/src/components/ui-shared.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: improve LGPD compliance check to exclude comments
  .husky/pre-commit
  apps/web/src/__tests__/integration/accessibility.test.ts
  apps/web/src/components/auth/ProtectedRoute.tsx
  apps/web/src/hooks/useSchedulingSubmission.ts
  apps/web/src/routes/auth/callback.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

docs: add comprehensive Husky hooks update documentation
  docs/fixes/husky-hooks-update-2025-09-29.md
Due: npx ultracite format

fix: improve type safety and test configurations
  .husky/pre-commit
Due: none
