Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

ci(vercel): setup pnpm and use pnpm install to satisfy Turbo package manager detection
  .github/workflows/deploy.yml
Due: none

ci(vercel): allow preview type-check to continue to validate env sync and preview deploy
  .github/workflows/deploy.yml
Due: none

ci(vercel): allow lint/tests to continue in preview and fix PR comment URL wiring
  .github/workflows/deploy.yml
Due: none

ci(vercel): skip unit tests in preview job to unblock env sync + preview deploy validation
  .github/workflows/deploy.yml
Due: none

ci: stabilize CI by filtering monorepo-audit from type-check/coverage; improve pnpm caching; scope deploy checks to @neonpro/web; switch Playwright to pnpm
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/playwright.yml
Due: none

ci(vercel): fix Vercel linking to correct project name and add --project to build/deploy
  .github/workflows/deploy.yml
Due: none

ci(vercel): remove setup-node pnpm cache to avoid pnpm detection error; rely on corepack pnpm setup
  .github/workflows/deploy.yml
Due: none

ci(vercel): ignore VERCEL_ORG_ID/PROJECT_ID for CLI steps; use slug + scope to fix link
  .github/workflows/deploy.yml
Due: none

feat: Add ping API endpoint for health check
  .cline/workflows/README.md
  .cline/workflows/config.json
  .cline/workflows/development/code-quality-audit.json
  .cline/workflows/development/spec-driven-development.json
  .cline/workflows/development/task-generation.json
  .cline/workflows/operations/repository-cleanup.json
  .cline/workflows/operations/vercel-deployment.json
  .cline/workflows/optimization/prompt-enhancement.json
  .cline/workflows/specification/feature-specification.json
  .cline/workflows/specification/implementation-planning.json
  .clinerules/workflows/feature-specification.md
  .clinerules/workflows/implementation-planning.md
  .clinerules/workflows/prompt-enhancement.md
  .clinerules/workflows/repository-cleanup.md
  .clinerules/workflows/task-generation.md
  .clinerules/workflows/vercel-deployment.md
  .roo/commands/code-quality-audit.md
  .roo/commands/feature-specification.md
  .roo/commands/implementation-planning.md
  .roo/commands/prompt-enhancement.md
  .roo/commands/repository-cleanup.md
  .roo/commands/spec-driven-development.md
  .roo/commands/task-generation.md
  .roo/commands/vercel-deployment.md
  api/openapi.json.ts
  api/ping.ts
  api/v1/health.ts
  apps/api/src/__tests__/routes/patients.test.ts
  apps/api/src/routes/appointments.ts
  audit-2025-09-15-114831/quality_report.txt
  audit-2025-09-15-143356/audit-log.txt
  audit-report.json
  docs/audit-report/healthcare-audit-report.md
  exemplo-desktop-commander.md
  packages/database/src/client.ts
  packages/utils/src/env/__tests__/validate.test.ts
  packages/utils/src/env/validate.ts
  todo-desktop-commander.md
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/utils run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

fix(ui): resolve cn import path; correct Radix AlertDialog + local imports to avoid tsup resolution errors
  packages/ui/src/components/ui/alert-dialog.tsx
  packages/ui/src/components/ui/animated-modal.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/command.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/components/ui/dropdown-menu.tsx
  packages/ui/src/components/ui/textarea.tsx
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint

ci(vercel): remove deprecated --project flag; fix PR comment step to use env; keep linkage via .vercel
  .github/workflows/deploy.yml
Due: none

fix(web): add missing runtime deps and workspace utils; fix utils index for TS bundler resolution
  apps/web/package.json
  packages/utils/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/utils run lint

fix(web): use extensionless alias import for cn to satisfy Vite/Vercel resolution
  apps/web/src/routes/subscription.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix(web): remove .ts extension from alias utils imports across app to fix Vite build on Vercel
  apps/web/src/components/appointment-templates/AppointmentTemplateSelector.tsx
  apps/web/src/components/atoms/ai-brand-icon.tsx
  apps/web/src/components/atoms/input.tsx
  apps/web/src/components/atoms/label.tsx
  apps/web/src/components/event-calendar/event-calendar.tsx
  apps/web/src/components/layout/AppShellWithSidebar.tsx
  apps/web/src/components/molecules/table.tsx
  apps/web/src/components/notifications/NotificationDashboard.tsx
  apps/web/src/components/organisms/NotificationCard.tsx
  apps/web/src/components/organisms/ai-chat-container.tsx
  apps/web/src/components/patients/PatientDataTable.tsx
  apps/web/src/components/professional-services/ProfessionalServiceManager.tsx
  apps/web/src/components/service-categories/ServiceCategoryManager.tsx
  apps/web/src/components/service-templates/ServiceTemplateManager.tsx
  apps/web/src/components/subscription/SubscriptionStatus.tsx
  apps/web/src/components/subscription/SubscriptionUpgrade.tsx
  apps/web/src/components/ui/animated-theme-toggler.tsx
  apps/web/src/components/ui/beams-background.tsx
  apps/web/src/components/ui/bento-grid.tsx
  apps/web/src/components/ui/floating-ai-chat-simple.tsx
  apps/web/src/components/ui/hover-border-gradient.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/magic-card.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/shine-border.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/ui/switch.tsx
  apps/web/src/components/ui/universal-button.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

ci(vercel): run vercel link/pull/build/deploy from apps/web working directory to match project root
  .github/workflows/deploy.yml
Due: none

fix(ui,utils): stop importing @neonpro/utils from UI internals; use local utils; drop .ts extensions in utils exports for TS build
  packages/ui/src/components/ui/dashboard-layout.tsx
  packages/ui/src/components/ui/draggable-card.tsx
  packages/ui/src/components/ui/expandable-card.tsx
  packages/ui/src/components/ui/focus-cards.tsx
  packages/ui/src/components/ui/tilted-card.tsx
  packages/utils/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint

ci(vercel): fallback to remote build; deploy prebuilt if available else remote build; enable debug for future builds
  .github/workflows/deploy.yml
Due: none

ci(vercel): define outputDirectory=dist and build/install commands for apps/web (vite) to fix static-build output detection
  apps/web/vercel.json
Due: none

chore: update tech stack and dependencies
  .claude/agents/apex-researcher-enhanced.md
  .claude/agents/apex-researcher-enhancement-summary.md
  .claude/agents/apex-researcher.md
  .claude/commands/research.md
  .github/prompts/prompt.md
  apps/api/package.json
  apps/web/package.json
  apps/web/src/components/ui/ai-chat/ai-input-search.tsx
  apps/web/src/components/ui/ai-chat/ai-loading.tsx
  apps/web/src/components/ui/ai-chat/ai-prompt.tsx
  apps/web/src/components/ui/ai-chat/ai-text-loading.tsx
  apps/web/src/components/ui/ai-chat/ai-voice.tsx
  apps/web/src/routes/dashboard.tsx
  bun.lock
  docs/architecture/tech-stack.md
  package.json
  packages/cli/package.json
  packages/database/src/client.ts
  packages/database/tsconfig.json
  packages/shared/package.json
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/components/ui/animated-modal.tsx
  packages/ui/src/components/ui/sonner.tsx
  packages/ui/src/hooks/use-persisted-dashboard-layout.ts
  packages/ui/src/index.ts
  packages/ui/tsup.config.ts
  plan.md
  tools/monorepo-audit/package.json
  turbo.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

feat: implement persistent dashboard layout with snap assist
  packages/ui/src/components/ui/dashboard-layout.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint

ci(vercel): override Vercel project settings via env to use pnpm turbo build and dist output; enable debug
  .github/workflows/deploy.yml
Due: none

test(ci): fix NotificationCard test; ui: stabilize DashboardLayout typing; web: type-safe patients stats; green local gates
  .claude/commands/spec-planing.md
  apps/web/src/components/organisms/__tests__/NotificationCard.test.tsx
  apps/web/src/hooks/usePatientStats.ts
  apps/web/src/routes/patients.tsx
  docs/dependency-update-summary-2025-09-15.md
  packages/ui/src/components/ui/dashboard-layout.tsx
  packages/ui/src/hooks/use-persisted-dashboard-layout.ts
  temp_read_file.txt
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

patients
  apps/web/src/routes/patients.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...'

ci(vercel): temporarily allow type-check to be non-blocking on production to validate env sync and deploy; will revert after verification
  .github/workflows/deploy.yml
Due: none

docs(ci): add preview-validation trigger doc to exercise preview workflow
  docs/preview-validation.md
Due: npx ultracite format

ci(vercel): temporarily allow lint and unit tests to be non-blocking in production to validate deploy; will revert after verification
  .github/workflows/deploy.yml
Due: none

ci(vercel): temporarily allow lint and unit tests non-blocking in production to complete deploy validation; will revert after verification
  .github/workflows/deploy.yml
Due: none

ci(vercel): enable local vercel build for preview and use --prebuilt --yes to stabilize preview deploy URL
  .github/workflows/deploy.yml
Due: none

ci: consolidate to single CI workflow (ci.yml); remove other workflows; validate web only using pnpm filter; no deploy; reliable passing gates
  .github/workflows/ci.yml
  .github/workflows/constitutional-audit.yml
  .github/workflows/deploy.yml
  .github/workflows/nightly-full-tests.yml
  .github/workflows/playwright.yml
  apps/web/src/routes/patients.tsx
  packages/ui/src/components/ui/draggable-card.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Healthcare file detected: ensuring LGPD compliance...'

feat: Implement Supabase integration with TanStack Query for patients and appointments
  .github/copilot-instructions.md
  apps/web/src/App.tsx
  apps/web/src/components/common/SmartPrefetcher.tsx
  apps/web/src/components/layout/AppShellWithSidebar.tsx
  apps/web/src/examples/SupabaseQueryExample.tsx
  apps/web/src/hooks/useSupabaseQuery.ts
  apps/web/src/queries/appointments.ts
  apps/web/src/queries/patients.ts
  apps/web/src/routes/auth/confirm.tsx
  apps/web/src/routes/patients.tsx
  apps/web/src/utils/supabase-test.ts
  audit-2025-09-15-114831/quality_report.txt
  audit-2025-09-15-143356/audit-log.txt
  docs/dependency-update-summary-2025-09-15.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...'

chore: Update file permissions and clean up unused files
  .gitignore
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  WARP.md
  apps/web/public/brand/iconeneonpro.png
  apps/web/public/brand/simboloneonpro-real.png
  apps/web/public/brand/simboloneonpro.png
  scripts/audit-unified.sh
  scripts/deploy-unified.sh
Due: npx ultracite format

Update file permissions from 755 to 644
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/web/public/brand/iconeneonpro.png
  apps/web/public/brand/simboloneonpro-real.png
  apps/web/public/brand/simboloneonpro.png
  scripts/audit-unified.sh
  scripts/deploy-unified.sh
Due: none

feat: consolidate deployment scripts into deploy-unified.sh and remove old scripts
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  apps/web/src/__tests__/ai-chat/chat-errors.test.ts
  apps/web/src/__tests__/ai-chat/chat-streaming.test.ts
  apps/web/src/__tests__/ai-chat/chat-streaming.util.test.ts
  apps/web/src/routes/services.tsx
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  docs/audit-report/healthcare-audit-report.md
  docs/deployment/script-migration-guide.md
  docs/deployment/unified-deployment-guide.md
  docs/deployment/vercel.md
  packages/config/src/ai.ts
  packages/config/src/index.ts
  packages/shared/src/env/ai.ts
  packages/shared/src/i18n/ai-chat.ts
  packages/types/src/ai-chat.ts
  packages/types/src/index.ts
  specs/004-patient-dashboard-enhancement/spec.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/types run lint, pnpm vitest related --run --reporter=basic

spec
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
Due: none

Update apps/web/src/routes/services.tsx
  apps/web/src/routes/services.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update packages/types/src/index.ts
  packages/types/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/types run lint

Change script file permissions to make them executable
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
Due: none
