Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

Add sidebar menu components and button variants
  apps/web/components/compliance/ComplianceService.ts
  apps/web/src/components/ui/sidebar.tsx
  scripts/guard-nonprod-only.py
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Add ESLint and Prettier configs, docs, and refactor scripts
  .claude/settings.local.json
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  apps/web/components/compliance/reporting/ReportScheduler.ts
  apps/web/hooks/use-mobile.ts
  apps/web/src/components/ui/icons.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/tooltip.tsx
  docs/analysis/tanstack-query-integration-analysis.md
  docs/analysis/tanstack-query-summary.md
  package.json
  scripts/create-new-feature.sh
  specs/002-improve-coding-standards-research/contracts/enhancement-contract.md
  specs/002-improve-coding-standards-research/contracts/research-contract.md
  specs/002-improve-coding-standards-research/data-model.md
  specs/002-improve-coding-standards-research/plan.md
  specs/002-improve-coding-standards-research/quickstart.md
  specs/002-improve-coding-standards-research/research.md
  specs/002-improve-coding-standards-research/spec.md
  specs/002-improve-coding-standards-research/tasks.md
  specs/003-monorepo-audit-optimization/contracts/architecture-validator.contract.ts
  specs/003-monorepo-audit-optimization/tasks.md
  specs/004-tanstack-query-integration/data-model.md
  specs/004-tanstack-query-integration/plan.md
  specs/004-tanstack-query-integration/research.md
  specs/004-tanstack-query-integration/spec.md
  tests/contract/architecture-validator.contract.test.ts
  tests/contract/cleanup-engine.contract.test.ts
  tests/contract/dependency-analyzer.contract.test.ts
  tests/contract/dependency-analyzer.contract.ts
  tests/contract/report-generator.contract.test.ts
  tests/integration/cli-validation.integration.test.ts
  tests/integration/file-discovery.integration.test.ts
  tsconfig.json
  tsconfig.tests.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Create query-optimization.ts
  specs/004-tanstack-query-integration/contracts/query-optimization.ts
Due: npx ultracite format

feat: Complete TanStack Query Integration with comprehensive documentation and performance benchmarks
  apps/web/hooks/mutations/__tests__/optimistic-updates.contract.test.ts
  apps/web/hooks/mutations/healthcare-optimistic-updates.ts
  docs/compliance/tanstack-query-compliance-report.md
  docs/development/query-optimization.md
  docs/guides/tanstack-query-migration.md
  docs/implementation/tanstack-query-final-report.md
  docs/performance/tanstack-query-benchmarks.md
  docs/troubleshooting/query-optimization.md
  docs/verification/tanstack-query-implementation-verification.md
  specs/003-monorepo-audit-optimization/contracts/architecture-validator.contract.ts
  specs/003-monorepo-audit-optimization/contracts/dependency-analyzer.contract.ts
  specs/003-monorepo-audit-optimization/contracts/file-scanner.contract.ts
  specs/003-monorepo-audit-optimization/contracts/report-generator.contract.ts
  src/models/CleanupAction.ts
  src/models/DependencyGraph.ts
  src/services/FileScanner.ts
  tools/monorepo-audit/CHANGELOG.md
  tools/monorepo-audit/benchmarks/performance.benchmark.ts
  tools/monorepo-audit/specs/contracts/architecture-validator.contract.d.ts
  tools/monorepo-audit/specs/contracts/dependency-analyzer.contract.d.ts
  tools/monorepo-audit/specs/contracts/report-generator.contract.d.ts
  tools/monorepo-audit/src/cli/commands/analyze.ts
  tools/monorepo-audit/src/cli/commands/audit.ts
  tools/monorepo-audit/src/cli/commands/cleanup.ts
  tools/monorepo-audit/src/cli/commands/report.ts
  tools/monorepo-audit/src/cli/commands/scan.ts
  tools/monorepo-audit/src/cli/commands/validate.ts
  tools/monorepo-audit/src/utils/ConfigManager.ts
  tsconfig.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Remove obsolete and reorganize documentation files
  docs/analysis/tanstack-query-integration-analysis.md
  docs/analysis/tanstack-query-summary.md
  docs/compliance/tanstack-query-compliance-report.md
  docs/features/env-manager.md
  docs/features/gotrue-monitoring.md
  docs/features/next-steps-reset-context.md
  docs/features/query-optimization.md
  docs/features/tanstack-query-final-report.md
  docs/guides/tanstack-query-migration.md
  docs/mistakes/query-optimization.md
  docs/performance/tanstack-query-benchmarks.md
  docs/verification/tanstack-query-implementation-verification.md
  scripts/check-task-prerequisites.sh
  scripts/create-new-feature.sh
  scripts/setup-plan.sh
  specs/003-monorepo-audit-optimization/contracts/architecture-validator.contract.ts
  specs/003-monorepo-audit-optimization/contracts/cleanup-engine.contract.ts
  specs/003-monorepo-audit-optimization/contracts/dependency-analyzer.contract.ts
  specs/003-monorepo-audit-optimization/contracts/file-scanner.contract.ts
  specs/003-monorepo-audit-optimization/contracts/report-generator.contract.ts
  specs/003-monorepo-audit-optimization/data-model.md
  specs/003-monorepo-audit-optimization/plan.md
  specs/003-monorepo-audit-optimization/quickstart.md
  specs/003-monorepo-audit-optimization/research.md
  specs/003-monorepo-audit-optimization/spec.md
  specs/003-monorepo-audit-optimization/tasks.md
  specs/004-tanstack-query-integration/contracts/query-optimization.ts
  specs/004-tanstack-query-integration/data-model.md
  specs/004-tanstack-query-integration/plan.md
  specs/004-tanstack-query-integration/quickstart.md
  specs/004-tanstack-query-integration/research.md
  specs/004-tanstack-query-integration/spec.md
  specs/004-tanstack-query-integration/tasks.md
Due: npx ultracite format

Remove core models and services from monorepo audit
  src/models/ArchitectureDocument.ts
  src/models/AuditReport.ts
  src/models/CleanupAction.ts
  src/models/CodeAsset.ts
  src/models/DependencyGraph.ts
  src/models/index.ts
  src/models/types.ts
  src/services/FileScanner.ts
  tests/contract/architecture-validator.contract.test.ts
  tests/contract/cleanup-engine.contract.test.ts
  tests/contract/dependency-analyzer.contract.test.ts
  tests/contract/dependency-analyzer.contract.ts
  tests/contract/file-scanner.contract.test.ts
  tests/contract/report-generator.contract.test.ts
  tests/integration/architecture-validation.integration.test.ts
  tests/integration/cli-validation.integration.test.ts
  tests/integration/complete-workflow.integration.test.ts
  tests/integration/dependency-analysis.integration.test.ts
  tests/integration/file-discovery.integration.test.ts
  tests/integration/usage-analysis.integration.test.ts
  tsconfig.json
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

Update tools/audit/src/optimization/type-system-enhancer.ts
  tools/audit/src/optimization/type-system-enhancer.ts
Due: npx ultracite format

Update tools/audit/src/optimization/optimization-orchestrator.ts
  tools/audit/src/optimization/optimization-orchestrator.ts
Due: npx ultracite format

Update tools/audit/src/optimization/performance-optimizer.ts
  tools/audit/src/optimization/performance-optimizer.ts
Due: npx ultracite format

Add integration tests to SystemValidator
  apps/api/src/__tests__/auth/login.test.ts
  apps/api/src/__tests__/routes/patients.test.ts
  apps/web/src/lib/emergency/emergency-cache.test.ts
  apps/web/src/lib/emergency/emergency-cache.ts
  package.json
  packages/core-services/src/services/AIService.test.ts
  src/types/shims.d.ts
  tools/audit/package.json
  tools/audit/src/cli/index.ts
  tools/audit/src/validation/system-validator.ts
  tools/audit/src/validators/healthcare-compliance-validator.ts
  tools/audit/src/validators/react19-validator.ts
  tools/testing/performance/compliance-performance.test.ts
  vitest.setup.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

Update emergency-cache.test.ts
  apps/web/src/lib/emergency/emergency-cache.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Add initial API and web app test and config files
  package.json
Due: none

Add unified PRD index and spec templates
  .github/templates/story-tmpl.yaml
  specs/001-unified-prd-index/spec.md
  specs/002-enhance-unified-prd/spec.md
Due: npx ultracite format

Delete spec.md
  specs/002-enhance-unified-prd/spec.md
Due: npx ultracite format

feat: Implement Unified PRD Index with Enhanced Governance Layer
  .github/chatmodes/vibecoder.chatmode.md
  CLAUDE.md
  docs/features/documentation-enhancement-plan.md
  docs/features/documentation-enhancement.md
  scripts/common.sh
  scripts/create-new-feature.sh
  scripts/setup-plan.sh
  specs/001-unified-prd-index/contracts.md
  specs/001-unified-prd-index/data-model.md
  specs/001-unified-prd-index/plan.md
  specs/001-unified-prd-index/quickstart.md
  specs/001-unified-prd-index/research.md
  specs/001-unified-prd-index/spec.md
  specs/001-unified-prd-index/tasks.md
Due: npx ultracite format

Refactor config file structure and update scripts
  .claude/settings.local.json
  .config/analysis/.coderabbit.yaml
  .config/analysis/.deepsource.toml
  .config/dprint/.dprintignore
  .config/dprint/dprint.json
  .config/eslint/.eslintignore
  .config/eslint/.eslintrc.json
  .config/oxlint/.oxlintignore
  .config/oxlint/.oxlintrc.json
  .config/prettier/.prettierignore
  .config/prettier/.prettierrc.json
  .config/testing/playwright.config.ts
  .config/testing/vitest.config.ts
  .config/testing/vitest.setup.ts
  .deployment/.vercelignore
  .deployment/trigger.config.ts
  .deployment/vercel-complex.json
  .deployment/vercel.json
  .github/chatmodes/vibecoder.chatmode.md
  .tools/.husky/pre-commit
  .tools/.vscode/tasks.json
  lighthouserc.js
  package.json
  tailwind.config.js
  tools/audit/src/validators/react19-validator.ts
  tools/audit/src/validators/vite-validator.ts
  turbo.json
Due: npx ultracite format

Revise frontend architecture docs and remove PRD files
  .config/testing/vitest.setup.ts
  docs/architecture/frontend-architecture.md
  docs/mistakes/dprint-windows-dependency.md
  docs/prd/01-executive-summary-and-analysis.md
  docs/prd/02-functional-and-technical-specs.md
  docs/prd/03-success-metrics-and-implementation.md
  docs/prd/prd.md
  docs/prd/traceability-mapping.md
  docs/prd/unified-index.md
  tools/audit/src/optimization/configuration-optimizer.ts
  tools/audit/src/validators/vite-validator.ts
  turbo.json
Due: npx ultracite format

Revise frontend healthcare spec and remove docs
  docs/AGENTS.md
  docs/architecture/front-end-spec.md
  docs/index.md
  specs/001-unified-prd-index/contracts.md
  specs/001-unified-prd-index/data-model.md
  specs/001-unified-prd-index/execution-report.md
  specs/001-unified-prd-index/plan.md
  specs/001-unified-prd-index/quickstart.md
  specs/001-unified-prd-index/research.md
  specs/001-unified-prd-index/spec.md
  specs/001-unified-prd-index/tasks.md
Due: npx ultracite format

Implement code changes to enhance functionality and improve performance
  .github/chatmodes/vibecoder.chatmode.md
  docs/architecture/aesthetic-platform-flows.md
Due: npx ultracite format

Refactor database schema documentation and migration guidelines
  docs/apis/AGENTS.md
  docs/apis/README.md
  docs/apis/ai-sdk-v4.0.md
  docs/apis/ai-sdk-v5.0.md
  docs/apis/apis.md
  docs/database-schema/AGENTS.md
  docs/database-schema/README.md
  docs/database-schema/database-schema-consolidated.md
  docs/database-schema/migrations/README.md
  docs/database-schema/policies/README.md
  docs/database-schema/tables/README.md
  docs/database-schema/tables/tables-consolidated.md
Due: npx ultracite format

Refactor testing documentation and codebase for improved clarity and compliance
  .github/prompts/prompt.md
  .github/prompts/sistema-limpeza-neonpro.prompt.md
  .github/prompts/spec-planning-executor.prompt.md
  .github/prompts/tasks-from-prd-plan-executor.prompt.md
  apps/api/package.json
  apps/api/src/__tests__/auth/login.test.ts
  apps/api/src/__tests__/routes/patients.test.ts
  apps/api/tsconfig.json
  apps/web/package.json
  audit-evidence.json
  docs/testing/AGENTS.md
  docs/testing/code-review-checklist.md
  docs/testing/consolidation-plan.md
  docs/testing/e2e-testing.md
  docs/testing/hono-api-testing.md
  docs/testing/integration-testing.md
  docs/testing/monorepo-testing-strategies.md
  docs/testing/react-test-patterns.md
  docs/testing/supabase-rls-testing.md
  docs/testing/tanstack-router-testing.md
  docs/testing/testing-responsibility-matrix.md
  packages/core-services/package.json
  tsconfig.json
Due: npx ultracite format, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

Enhance testing documentation with intelligent test strategy orchestration and compliance references; remove obsolete consolidation plan
  .github/prompts/code-quality-audit.prompt.md
  apps/api/src/__tests__/auth/login.test.ts
  docs/testing/AGENTS.md
  docs/testing/consolidation-plan.md
  docs/testing/react-test-patterns.md
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

Refactor .gitignore to streamline development tool exclusions and remove obsolete entries
  .gitignore
Due: none

Refactor code structure for improved readability and maintainability
  .github/chatmodes/vibecoder.chatmode.md
  .husky/pre-commit
  .vscode/tasks.json
  quality-report.txt
Due: npx ultracite format

fix(deployment): resolve critical Vercel deployment configuration
  apps/web/vite.config.ts
  packages/types/src/index.ts
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/types run lint

feat(deployment): implement comprehensive deployment infrastructure
  .github/prompts/code-quality-audit.prompt.md
  apps/api/src/__tests__/auth/login.test.ts
  apps/api/src/__tests__/routes/patients.test.ts
  apps/api/src/app.ts
  apps/api/src/middleware/lgpd-middleware.ts
  apps/api/src/middleware/logging-middleware.ts
  apps/api/src/middleware/rls-middleware.ts
  apps/api/src/routes/appointments.ts
  apps/api/src/routes/patients.ts
  apps/api/src/routes/rls-patients.ts
  apps/web/TEST-CONFIGURATION-REPORT.md
  apps/web/comprehensive-test-verification.sh
  apps/web/e2e/auth.spec.ts
  apps/web/e2e/example.spec.ts
  apps/web/e2e/homepage.spec.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/src/components/governance/GovernanceDashboard.test.tsx
  apps/web/src/components/governance/__tests__/GovernanceDashboard.test.tsx
  apps/web/src/components/governance/__tests__/KPIOverviewCards.test.tsx
  apps/web/src/components/governance/__tests__/RiskAssessmentTable.test.tsx
  apps/web/src/lib/emergency/emergency-cache.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/test/setup.ts
  apps/web/test-verification.sh
  apps/web/vitest.config.ts
  bun.lock
  docs/backend-database-integration-fixes.md
  docs/prompts/code-quality-audit-enhancements.md
  package.json
  packages/database/prisma/schema.prisma
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

feat(cli): implement CLI wrapper with command registration and argument parsing
  .claude/commands/research.md
  .claude/commands/workflow-management.md
  .claude/settings.local.json
  .config/testing/vitest.setup.ts
  DEPLOYMENT-SUMMARY.md
  apps/api/src/__tests__/integration/supabase-connectivity.test.ts
  apps/api/src/app.ts
  apps/web/src/components/ConsentBanner.tsx
  apps/web/src/components/error-pages/ErrorBoundary.tsx
  apps/web/src/components/error-pages/NotFoundPage.tsx
  apps/web/src/components/error-pages/ServerErrorPage.tsx
  apps/web/src/components/error-pages/index.ts
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/contexts/ConsentContext.tsx
  apps/web/src/hooks/useAnalytics.ts
  apps/web/src/main.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/404.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/test/analytics-consent.test.ts
  docs/architecture/source-tree.md
  docs/architecture/tech-stack.md
  docs/features/deploy-vercel.md
  libs/cli/package.json
  libs/cli/tsconfig.json
  packages/utils/src/cli/__tests__/cliWrap.test.ts
  packages/utils/src/cli/__tests__/exitHelper.test.ts
  packages/utils/src/cli/cliWrap.ts
  packages/utils/src/cli/exitHelper.ts
  packages/utils/src/cli/index.ts
  packages/utils/src/index.ts
  tools/audit/src/optimization/configuration-optimizer.ts
  tools/audit/src/validators/supabase-validator.ts
  tools/testing/deployment-smoke-test.ts
  tools/testing/scripts/smoke-test.sh
  tools/testing/smoke-test-results.json
  tools/testing/smoke-test.sh
  turbo.json
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/utils run lint, pnpm vitest related --run --reporter=basic

fix(deployment): include API build in Vercel deployment
  vercel.json
Due: none

Path conditions:
  npx ultracite format: ((((((((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx})) or (any of: *.{css,scss})) or (any of: apps/web/**/*.{js,jsx,ts,tsx})) or (any of: packages/ui/**/*.{js,jsx,ts,tsx})) or (any of: packages/utils/**/*.{js,jsx,ts,tsx})) or (any of: packages/types/**/*.{js,jsx,ts,tsx})) or (any of: **/*patient*.{js,jsx,ts,tsx})) or (any of: **/*medical*.{js,jsx,ts,tsx})) or (any of: **/*treatment*.{js,jsx,ts,tsx})) or (any of: **/*.{test,spec}.{js,jsx,ts,tsx})
  pnpm --filter @neonpro/web run lint:staged: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/ui run lint: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/utils run lint: any of: packages/utils/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/types run lint: any of: packages/types/**/*.{js,jsx,ts,tsx}
  echo 'Healthcare file detected: ensuring LGPD compliance...': any of: **/*patient*.{js,jsx,ts,tsx}
  echo 'Medical file detected: ensuring ANVISA compliance...': any of: **/*medical*.{js,jsx,ts,tsx}
  echo 'Treatment file detected: ensuring CFM compliance...': any of: **/*treatment*.{js,jsx,ts,tsx}
  pnpm vitest related --run --reporter=basic: any of: **/*.{test,spec}.{js,jsx,ts,tsx}
  echo 'Database schema change detected: ensure RLS policies are updated': any of: **/*.sql
  echo 'Database migration detected: ensure healthcare data integrity': any of: **/migrations/*.sql
