Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

feat: Enhance Phase 1 AI Chat Specification with Constitutional Compliance and Regulatory Integration
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/plan-template.md
  apps/api/src/__tests__/routes/chat.query.test.ts
  apps/api/src/app.ts
  apps/api/src/routes/chat.ts
  docs/features/ai-chat-streaming.md
  docs/features/enhanced-multi-model-ai-assistant.md
  specs/001-patient-dashboard-enhancement/contracts/ai-chat-api.yaml
  specs/001-patient-dashboard-enhancement/contracts/patient-api.yaml
  specs/001-patient-dashboard-enhancement/data-model.md
  specs/001-patient-dashboard-enhancement/plan.md
  specs/001-patient-dashboard-enhancement/quickstart.md
  specs/001-patient-dashboard-enhancement/research.md
  specs/001-patient-dashboard-enhancement/tasks.md
  specs/002-phase-1-ai/constitutional-compliance-verification.md
  specs/002-phase-1-ai/enhanced-spec.md
  specs/002-phase-1-ai/research-documentation.md
  vercel.json
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

Add AI chat phase 1 enhanced task specification
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  specs/002-phase-1-ai/tasks-enhanced.md
Due: npx ultracite format

feat: Add AI Chat Phase 1 policies and indexes, enhance redact function tests, and outline tasks for Enhanced Multi-Model AI Assistant
  apps/api/src/routes/chat.ts
  apps/api/src/utils/sanitize.ts
  apps/web/src/components/patients/PatientRegistrationWizard.tsx
  audit-2025-09-15/audit-log.md
  audit-2025-09-15/configuration.md
  docs/database-schema/migrations/ai-chat-phase1-policies.md
  packages/utils/src/logging/__tests__/redact.more.test.ts
  specs/003-enhanced-multi-model/tasks-enhanced.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/utils run lint, pnpm vitest related --run --reporter=basic

Update apps/web/src/hooks/usePatientStats.ts
  apps/web/src/hooks/usePatientStats.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update apps/web/src/components/layout/AppShellWithSidebar.tsx
  apps/web/src/components/layout/AppShellWithSidebar.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Add feature specification and implementation tasks for NeonPro platform architecture improvements
  .claude/commands/plan.md
  .specify/scripts/bash/setup-plan.sh
  apps/api/tests/contract/chat-query.test.ts
  apps/api/tests/integration/chat-rate-limit.test.ts
  apps/api/tests/integration/chat-redaction.test.ts
  apps/web/components.json
  apps/web/src/components/patients/PatientCreationForm.tsx
  apps/web/src/components/patients/PatientRegistrationWizard.tsx
  apps/web/src/components/patients/__tests__/PatientRegistrationWizard.test.tsx
  apps/web/src/hooks/__tests__/useFormAutoSave.simple.test.ts
  apps/web/src/hooks/__tests__/useFormAutoSave.test.ts
  apps/web/src/hooks/useFormAutoSave.ts
  apps/web/src/test/setup.ts
  docs/features/phase-1-ai-chat.md
  packages/cli/src/index.ts
  packages/ui/src/components/ui/form.tsx
  packages/ui/src/components/ui/progress.tsx
  packages/ui/src/index.ts
  packages/utils/src/logging/__tests__/redact.cnpj.test.ts
  packages/utils/src/logging/redact.ts
  specs/002-platform-architecture-improvements/contracts/ai-optimization.openapi.yaml
  specs/002-platform-architecture-improvements/contracts/api-management.openapi.yaml
  specs/002-platform-architecture-improvements/contracts/observability.openapi.yaml
  specs/002-platform-architecture-improvements/contracts/security-policies.openapi.yaml
  specs/002-platform-architecture-improvements/data-model.md
  specs/002-platform-architecture-improvements/plan.md
  specs/002-platform-architecture-improvements/research.md
  specs/002-platform-architecture-improvements/spec.md
  specs/002-platform-architecture-improvements/tasks.md
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm vitest related --run --reporter=basic

feat: Implement advanced search and data export hooks with comprehensive tests
  .claude/settings.local.json
  .specify/scripts/bash/create-new-feature.sh
  api/health.ts
  api/openapi.json.ts
  api/ping.ts
  apps/api/src/app.ts
  apps/api/tests/contract/chat-query.test.ts
  apps/api/tests/integration/chat-rate-limit.test.ts
  apps/api/tests/integration/chat-redaction.test.ts
  apps/web/src/components/layout/BreadcrumbNavigation.tsx
  apps/web/src/components/layout/EnhancedAppShell.tsx
  apps/web/src/components/layout/EnhancedSidebar.tsx
  apps/web/src/components/layout/__tests__/BreadcrumbNavigation.test.tsx
  apps/web/src/components/layout/__tests__/EnhancedSidebar.test.tsx
  apps/web/src/components/patients/AdvancedSearchDialog.tsx
  apps/web/src/components/patients/FileUploadIntegration.tsx
  apps/web/src/components/patients/PatientDataTable.tsx
  apps/web/src/components/patients/PatientRegistrationWizard.tsx
  apps/web/src/components/patients/__tests__/FileUploadIntegration.test.tsx
  apps/web/src/hooks/__tests__/useAdvancedSearch.test.ts
  apps/web/src/hooks/__tests__/useDataExport.simple.test.ts
  apps/web/src/hooks/__tests__/useDataExport.test.ts
  apps/web/src/hooks/useAdvancedSearch.ts
  apps/web/src/hooks/useDataExport.ts
  audit-2025-09-15/audit-log.md
  audit-2025-09-15/configuration.md
  bun.lock
  package.json
  specs/001-patient-dashboard-enhancement/tasks.md
  specs/002-platform-architecture-improvements/tasks.md
  specs/005-financial-dashboard-enhancement/plan.md
  specs/005-financial-dashboard-enhancement/research.md
  specs/005-financial-dashboard-enhancement/spec.md
  turbo.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

spec
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
Due: none

Update apps/web/src/hooks/useAdvancedSearch.ts
  apps/web/src/hooks/useAdvancedSearch.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update apps/web/src/hooks/usePerformanceMonitor.ts
  apps/web/src/hooks/usePerformanceMonitor.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Remove explicit pnpm version from CI workflow to resolve version mismatch
  .github/workflows/ci.yml
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  docs/mistakes/ci-pnpm-version-mismatch.md
Due: npx ultracite format

ci
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  apps/web/src/hooks/useAdvancedSearch.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

spec
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
Due: none

spec
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/web/public/brand/iconeneonpro.png
  apps/web/public/brand/simboloneonpro-real.png
  apps/web/public/brand/simboloneonpro.png
  scripts/audit-unified.sh
  scripts/deploy-unified.sh
Due: none

feat(api): implement patient service with comprehensive CRUD operations and LGPD compliance
  .gitignore
  apps/api/src/config/__tests__/ai.failover.test.ts
  apps/api/src/config/ai.ts
  apps/api/src/routes/chat.ts
  apps/api/src/services/__tests__/ai-chat-service.test.ts
  apps/api/src/services/__tests__/lgpd-service.test.ts
  apps/api/src/services/ai-chat-service.ts
  apps/api/src/services/lgpd-service.ts
  apps/api/src/services/patient-service.ts
  apps/api/tests/contract/chat-explanation.nonmock.test.ts
  docs/features/ai-chat-phase1-endpoints.md
  specs/001-patient-dashboard-enhancement/tasks.md
Due: npx ultracite format, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

Refactor code structure for improved readability and maintainability
  .gitignore
  STRIPE_INTEGRATION_TEST_PLAN.md
  STRIPE_WEBHOOK_PRODUCTION_SETUP.md
  apps/api/src/services/__tests__/audit-service.test.ts
  apps/api/src/services/__tests__/notification-service.test.ts
  apps/api/src/services/audit-service.ts
  apps/api/src/services/notification-service.ts
  apps/api/vitest.config.ts
  pnpm-lock.yaml
  specs/001-patient-dashboard-enhancement/tasks.md
  temp_read_file.txt
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

feat(api): Implement patient management endpoints with LGPD compliance
  apps/api/package.json
  apps/api/src/routes/chat.ts
  apps/api/src/routes/patients/__tests__/create.test.ts
  apps/api/src/routes/patients/__tests__/delete.test.ts
  apps/api/src/routes/patients/__tests__/get.test.ts
  apps/api/src/routes/patients/__tests__/list.test.ts
  apps/api/src/routes/patients/__tests__/update.test.ts
  apps/api/src/routes/patients/create.ts
  apps/api/src/routes/patients/delete.ts
  apps/api/src/routes/patients/get.ts
  apps/api/src/routes/patients/list.ts
  apps/api/src/routes/patients/update.ts
  apps/api/src/services/notification-service.ts
  apps/api/tests/contract/chat-explanation.nonmock.test.ts
  apps/api/tsconfig.feature.json
  docs/features/ai-chat-explanation.md
  packages/ui/src/utils.ts
  specs/001-patient-dashboard-enhancement/tasks.md
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

Refactor code structure for improved readability and maintainability
  .gitignore
  apps/api/src/routes/patients/__tests__/bulk.test.ts
  apps/api/src/routes/patients/__tests__/history.test.ts
  apps/api/src/routes/patients/__tests__/search.test.ts
  apps/api/src/routes/patients/bulk.ts
  apps/api/src/routes/patients/history.ts
  apps/api/src/routes/patients/search.ts
  apps/web/src/components/patients/AdvancedSearchDialog.tsx
  apps/web/src/hooks/useAdvancedSearch.ts
  apps/web/src/hooks/usePerformanceMonitor.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  bun.lock
  package-lock.json
  packages/ui/tsconfig.json
  specs/001-patient-dashboard-enhancement/tasks.md
  tools/monorepo-audit/src/cli/commands/report.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

feat(ai): implement AI analysis, chat, insights, and models endpoints with LGPD compliance
  apps/api/src/routes/ai/__tests__/analyze.test.ts
  apps/api/src/routes/ai/__tests__/chat.test.ts
  apps/api/src/routes/ai/__tests__/insights.test.ts
  apps/api/src/routes/ai/__tests__/models.test.ts
  apps/api/src/routes/ai/analyze.ts
  apps/api/src/routes/ai/chat.ts
  apps/api/src/routes/ai/insights.ts
  apps/api/src/routes/ai/models.ts
  package-lock.json
  specs/001-patient-dashboard-enhancement/tasks.md
  tools/monorepo-audit/specs/contracts/cleanup-engine.contract.d.ts
  tools/monorepo-audit/specs/contracts/cleanup-engine.contract.d.ts.map
  tools/monorepo-audit/specs/contracts/cleanup-engine.contract.js
  tools/monorepo-audit/specs/contracts/cleanup-engine.contract.js.map
  tools/monorepo-audit/specs/contracts/file-scanner.contract.d.ts
  tools/monorepo-audit/specs/contracts/file-scanner.contract.d.ts.map
  tools/monorepo-audit/specs/contracts/file-scanner.contract.js
  tools/monorepo-audit/specs/contracts/file-scanner.contract.js.map
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

Refactor code structure for improved readability and maintainability
  apps/web/src/components/forms/brazilian-fields.tsx
  apps/web/src/components/patient/patient-card.tsx
  apps/web/src/utils/brazilian-formatters.ts
  package-lock.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...'

feat: add Patient Profile component with AI insights and compliance features
  apps/api/src/index.ts
  apps/web/src/components/ai/ai-chat.tsx
  apps/web/src/components/ai/insights-dashboard.tsx
  apps/web/src/components/ai/noshow-alerts.tsx
  apps/web/src/components/forms/brazilian-fields.tsx
  apps/web/src/components/patient/patient-card.tsx
  apps/web/src/components/patient/patient-profile.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/scroll-area.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/components/ui/tabs.tsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/tsconfig.json
  packages/shared/src/types/ai-insights.ts
  packages/ui/src/components/ui/animated-modal.tsx
  packages/ui/src/demo/AceternityHoverBorderDemo.tsx
  packages/ui/src/demo/ShineBorderDemo.tsx
  specs/001-patient-dashboard-enhancement/tasks.md
  tools/audit/package.json
  tools/monorepo-audit/package.json
  tools/monorepo-audit/src/cli/commands/report.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Healthcare file detected: ensuring LGPD compliance...'

Refactor code structure for improved readability and maintainability
  apps/web/src/components/ai/insights-dashboard.tsx
  apps/web/src/components/forms/brazilian-fields.tsx
  apps/web/src/components/patient/patient-card.tsx
  apps/web/src/components/patient/patient-profile.tsx
  apps/web/src/hooks/__tests__/useAdvancedSearch.test.ts
  apps/web/src/hooks/useAdvancedSearch.ts
  apps/web/vitest.config.ts
  tools/monorepo-audit/.typecheck-report.txt
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

refactor: streamline imports and enhance build scripts
  apps/api/src/middleware/websocket.ts
  apps/web/package.json
  apps/web/src/components/ai/ai-chat.tsx
  apps/web/src/components/ai/noshow-alerts.tsx
  apps/web/src/components/forms/brazilian-fields.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat(middleware): implement AI provider integrations and healthcare context management
  .gitignore
  apps/api/src/middleware/__tests__/auth.test.ts
  apps/api/src/middleware/__tests__/websocket.test.ts
  apps/api/src/middleware/ai-providers.ts
  apps/api/src/middleware/auth.ts
  apps/api/src/middleware/websocket.ts
  apps/web/src/components/ai/insights-dashboard.tsx
  apps/web/src/components/ai/noshow-alerts.tsx
  apps/web/src/components/patient/patient-profile.tsx
  docs/features/use-advanced-search.md
  packages/security/src/encryption.ts
  packages/security/src/utils.ts
  packages/utils/src/index.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/utils run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

Enhance security utils and improve test reliability
  apps/api/src/middleware/__tests__/auth.test.ts
  apps/api/src/middleware/__tests__/websocket.test.ts
  apps/api/src/middleware/auth.ts
  apps/web/src/components/ai/insights-dashboard.tsx
  apps/web/src/hooks/useAdvancedSearch.ts
  packages/security/src/utils.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Remove unused mocks and fix query key in dashboard
  apps/api/src/middleware/__tests__/auth.test.ts
  apps/web/src/components/ai/insights-dashboard.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Add middleware tests and error/health modules
  apps/api/src/middleware/__tests__/ai-providers.test.ts
  apps/api/src/middleware/__tests__/auth.test.ts
  apps/api/src/middleware/__tests__/realtime-db.test.ts
  apps/api/src/middleware/ai-providers.ts
  apps/api/src/middleware/error-handling.ts
  apps/api/src/middleware/health-monitoring.ts
  apps/api/src/middleware/rate-limiting.ts
  apps/api/src/middleware/realtime-db.ts
  apps/web/src/components/ai/__tests__/TrendMiniChart.test.tsx
  apps/web/src/components/ai/insights-dashboard.tsx
  apps/web/src/components/ai/noshow-alerts.tsx
  apps/web/src/components/forms/brazilian-fields.tsx
  apps/web/src/components/patient/patient-card.tsx
  apps/web/src/components/patient/patient-profile.tsx
  apps/web/src/components/patients/PatientDataTable.tsx
  apps/web/src/routes/patients/$patientId.tsx
  docs/features/use-advanced-search.md
  packages/security/src/__tests__/encryption.test.ts
  packages/security/src/__tests__/utils.test.ts
  packages/security/src/index.ts
  packages/security/src/middleware.ts
  packages/security/src/utils.ts
  specs/001-patient-dashboard-enhancement/tasks.md
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

Update auth.test.ts
  apps/api/src/middleware/__tests__/auth.test.ts
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

refactor(auth.test.ts): replace hardcoded user IDs with UUIDs for session management tests
  apps/api/src/middleware/__tests__/auth.test.ts
  apps/web/src/components/forms/brazilian-fields.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat(api): implement comprehensive error handling and logging middleware with tests
  apps/api/src/app.ts
  apps/api/src/middleware/__tests__/auth.test.ts
  apps/api/src/middleware/__tests__/error-handling.test.ts
  apps/api/src/middleware/__tests__/health-monitoring.test.ts
  apps/api/src/middleware/__tests__/rate-limiting.test.ts
  apps/api/src/middleware/__tests__/realtime-db.test.ts
  apps/api/src/middleware/error-handling.ts
  apps/api/src/middleware/rate-limiting.ts
  apps/web/src/components/forms/brazilian-fields.tsx
  apps/web/src/components/patients/PatientRegistrationWizard.tsx
  apps/web/src/routes/patients/$patientId/edit.tsx
  apps/web/src/utils/brazilian-formatters.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Update app.ts
  apps/api/src/app.ts
Due: npx ultracite format

feat: Add Test Agent Orchestration Guide and AI environment configuration
  .claude/workflows/core-workflow.md
  docs/agents/code-review/architect-review.md
  docs/agents/code-review/code-reviewer.md
  docs/agents/code-review/security-auditor.md
  docs/agents/code-review/tdd-orchestrator.md
  docs/agents/code-review/test.md
  packages/config/src/env.ts
  packages/config/src/index.ts
  specs/001-patient-dashboard-enhancement/tasks.md
  specs/002-phase-1-ai/tasks-enhanced.md
Due: npx ultracite format

Path conditions:
  npx ultracite format: ((((((((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx})) or (any of: *.{css,scss})) or (any of: apps/web/**/*.{js,jsx,ts,tsx})) or (any of: packages/ui/**/*.{js,jsx,ts,tsx})) or (any of: packages/utils/**/*.{js,jsx,ts,tsx})) or (any of: packages/types/**/*.{js,jsx,ts,tsx})) or (any of: **/*patient*.{js,jsx,ts,tsx})) or (any of: **/*medical*.{js,jsx,ts,tsx})) or (any of: **/*treatment*.{js,jsx,ts,tsx})) or (any of: **/*.{test,spec}.{js,jsx,ts,tsx})
  pnpm --filter @neonpro/web run lint:staged: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/ui run lint: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/utils run lint: any of: packages/utils/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/types run lint: any of: packages/types/**/*.{js,jsx,ts,tsx}
  echo 'Healthcare file detected: ensuring LGPD compliance...': any of: **/*patient*.{js,jsx,ts,tsx}
  echo 'Medical file detected: ensuring ANVISA compliance...': any of: **/*medical*.{js,jsx,ts,tsx}
  echo 'Treatment file detected: ensuring CFM compliance...': any of: **/*treatment*.{js,jsx,ts,tsx}
  pnpm vitest related --run --reporter=basic: any of: **/*.{test,spec}.{js,jsx,ts,tsx}
  echo 'Database schema change detected: ensure RLS policies are updated': any of: **/*.sql
  echo 'Database migration detected: ensure healthcare data integrity': any of: **/migrations/*.sql
