Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

fix: improve type safety and test configurations
  apps/web/src/__tests__/integration/accessibility.test.ts
  apps/web/src/__tests__/integration/component-compatibility.test.ts
  apps/web/src/__tests__/integration/theme-consistency.test.tsx
  apps/web/src/__tests__/integration/theme-switching.test.ts
  apps/web/src/components/aesthetic-scheduling/CertificationValidator.tsx
  apps/web/src/components/chat/NeonProLGPDCompliance.tsx
  apps/web/src/test-setup.ts
  packages/ui/package.json
  scripts/benchmark-performance.js
  scripts/build-healthcare.js
  scripts/tsc-wrapper.cjs
  src/test/setup/bun-test-preload.ts
  test-migration-dry-run.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: convert JSX to React.createElement in theme-switching test
  apps/web/src/__tests__/integration/theme-switching.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: complete JSX to React.createElement conversion in theme-switching test
  apps/web/src/__tests__/integration/theme-switching.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

feat: Enhance Turbo configuration for improved build processes and healthcare compliance
  .opencode/opencode.json
  .qwen/agents/apex-design.md
  .qwen/agents/apex-dev-agent.md
  .qwen/agents/apex-researcher.md
  .qwen/agents/architect-review.md
  .qwen/agents/code-reviewer.md
  .qwen/settings.json
  PHASE_5_COMPLIANCE_VALIDATION_REPORT.md
  apps/web/src/components/clinical-workflows/EmergencyIntegration.tsx
  apps/web/src/components/healthcare/emergency-alert-system.tsx
  apps/web/tsconfig.json
  build-web.js
  bun.lock
  package.json
  packages/config/package.json
  packages/config/tsconfig.json
  packages/core/package.json
  packages/database/scripts/sync-types.ts
  packages/ui/package.json
  packages/ui/src/components/accessibility/enhanced/aria-live-region.tsx
  packages/ui/src/components/aceternity.tsx
  packages/ui/src/components/healthcare/index.ts
  packages/ui/src/components/magicui.tsx
  packages/ui/src/utils/accessibility.ts
  packages/ui/src/utils/healthcare-validation.ts
  scripts/benchmark-performance.js
  scripts/bun-vs-node-comparison.js
  scripts/lgpd-compliance-check.js
  scripts/tsc-wrapper-bun-node-compatible.ts
  scripts/tsc-wrapper-bun.ts
  scripts/tsc-wrapper-hybrid.ts
  specs/005-execute-o-specify/tasks.md
  test-healthcare-schemas.js
  test-zod-version.js
  turbo.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint

backup: commit state before architecture refactoring for aesthetic clinics
  .claude/commands/healthcare-compliance-automation.md
  .claude/commands/mcp-tool-orchestration.md
  .claude/commands/multi-agent-workflow-90-tasks.md
  .claude/commands/tdd-optimization-validation.md
  .claude/commands/tdd-orchestrator-system.md
  NEONPRO_INTEGRATED_ACTION_PLAN.md
  PHASE_5_COMPLIANCE_VALIDATION_REPORT.md
  apps/api/src/trpc/router.ts
  apps/api/src/trpc/routers/ai-clinical-support.ts
  apps/api/src/trpc/routers/chat.ts
  apps/api/tsconfig.json
  apps/web/src/__tests__/healthcare-core/type-safety.test.ts
  apps/web/src/__tests__/integration/theme-switching.test.ts
  apps/web/src/components/aesthetic-scheduling/CertificationValidator.tsx
  apps/web/src/components/ai-clinical-support/TreatmentGuidelinesViewer.tsx
  apps/web/src/hooks/realtime/__tests__/realtime-latency.test.ts
  apps/web/src/test/accessibility-validation-test.ts
  build-web.js
  docs/user-documentation/portuguese/manuals/manual-paciente.md
  docs/user-documentation/portuguese/manuals/manual-recepcao.md
  docs/user-documentation/portuguese/quick-reference/clinica-rapida.md
  docs/user-documentation/portuguese/training/treinamento-recepcao.md
  package.json
  packages/config/package.json
  packages/ui/src/components/aesthetic/client/client-vip-status.tsx
  packages/ui/src/components/aesthetic/consultation/consultation-notification.tsx
  packages/ui/src/components/aesthetic/index.ts
  packages/ui/src/components/aesthetic/treatments/treatment-progress.tsx
  packages/ui/src/components/aesthetic/wellness/wellness-tracker.tsx
  packages/ui/src/components/healthcare/aesthetic-consultation-alert.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/ui/heading.tsx
  scripts/build-native-bun.sh
  scripts/build-simple-bun.sh
  scripts/tsc-wrapper-bun.ts
  scripts/tsc-wrapper-hybrid.cjs
  src/test/setup/bun-test-preload.ts
  test-healthcare-schemas.js
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic

fix: complete critical type safety and security remediation
  .claude/commands/frontend-testing.md
  .claude/commands/quality-control.md
  apps/api/src/router.ts
  apps/api/src/routers/architecture.ts
  apps/api/src/routers/migration.ts
  apps/api/src/server.ts
  apps/api/src/trpc/routers/ai-clinical-support.ts
  apps/web/src/__tests__/emergency-contact-config.test.ts
  apps/web/src/__tests__/financial-service-pix-integration.test.ts
  apps/web/src/__tests__/professional-service-scheduling.test.ts
  apps/web/src/__tests__/treatment-service-age-restrictions.test.ts
  apps/web/src/components/clinical-workflows/EmergencyIntegration.tsx
  apps/web/src/components/clinical-workflows/types/index.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.tsx
  packages/core/src/common/services/ApiService.ts
  packages/database/src/migrate.ts
  packages/database/src/models/__tests__/architecture-config.test.ts
  packages/database/src/models/__tests__/migration-state.test.ts
  packages/database/src/models/__tests__/package-manager-config.test.ts
  packages/database/src/models/__tests__/performance-metrics.test.ts
  packages/database/src/models/architecture-config.ts
  packages/database/src/models/compliance-status.ts
  packages/database/src/models/migration-state.ts
  packages/database/src/models/package-manager-config.ts
  packages/database/src/models/performance-metrics.ts
  packages/logger/src/index.ts
  packages/types/src/ai-clinical-support.ts
  packages/types/src/database-migration.ts
  packages/ui/src/components/aesthetic/treatments/treatment-progress.tsx
  scripts/tsc-wrapper-bun-node-compatible.ts.legacy
  tests/contract/migration_status.test.ts
  tests/contract/performance_metrics.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/types run lint, echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic

feat: Add comprehensive research findings and feature specification for monorepo architecture analysis
  .oxlintrc.json
  ACCESSIBILITY_IMPROVEMENTS_SUMMARY.md
  AGENTS.md
  CHROME-MCP-SETUP-CORRIGIDO.md
  CHROME-MCP-SETUP.md
  CLAUDE.md
  apps/api/edge/__tests__/architecture-config.test.ts
  apps/api/edge/__tests__/cache-middleware.test.ts
  apps/api/edge/__tests__/migration-start.test.ts
  apps/api/edge/__tests__/migration-state.test.ts
  apps/api/edge/__tests__/package-manager-config.test.ts
  apps/api/edge/__tests__/performance-metrics.test.ts
  apps/api/edge/index.ts
  apps/api/edge/middleware/cache.ts
  apps/api/src/server.ts
  apps/api/src/trpc/routers/chat.ts
  apps/api/tsconfig.json
  architectural-analysis-artifacts.md
  monorepo-architectural-analysis-implementation-plan.md
  packages/core/src/appointments/types/index.ts
  packages/database/.tsbuildinfo-database
  packages/ui/src/__tests__/accessibility/accessibility-fixes.test.tsx
  packages/ui/src/accessibility/aria.tsx
  packages/ui/src/accessibility/colors.ts
  packages/ui/src/components/aesthetic/client/client-vip-status.tsx
  packages/ui/src/components/healthcare/aesthetic-consultation-alert.tsx
  specs/006-you-are-a/contracts/analysis-api.json
  specs/006-you-are-a/data-model.md
  specs/006-you-are-a/plan.md
  specs/006-you-are-a/quickstart.md
  specs/006-you-are-a/research.md
  specs/006-you-are-a/spec.md
  specs/006-you-are-a/tasks.md
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

feat: Enhance performance and compliance validation in architecture configuration
  IMPLEMENTATION_VERIFICATION_REPORT.md
  apps/api/src/server.ts
  packages/database/src/client.ts
  specs/006-you-are-a/tasks.md
  tests/integration/architecture-config.test.ts
  tests/integration/migration-status.test.ts
  vitest.config.ts
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

feat: Complete production deployment readiness for specification 006-you-are-a
  AGENTS.md
  CLAUDE.md
  IMPLEMENTATION_VERIFICATION_REPORT.md
  apps/analysis/src/__tests__/integration/executive-summary.test.ts
  apps/api/edge-server.js
  apps/api/src/edge/health.ts
  apps/api/src/edge/index.ts
  apps/api/src/index.ts
  apps/api/src/node/health.ts
  apps/api/src/router.ts
  apps/api/src/server.ts
  apps/api/src/services/jwt-service.ts
  apps/api/src/services/session-service.ts
  apps/api/src/trpc/context.ts
  docs/features/edge-routes-benchmark.md
  packages/config/tsconfig.json
  packages/core/src/profissionais/hooks/index.ts
  packages/core/src/tratamentos/hooks/index.ts
  packages/database/src/client.ts
  packages/database/tsconfig.json
  packages/types/tsconfig.json
  specs/006-you-are-a/tasks.md
  tests/integration/architecture-config.test.ts
  tests/integration/migration-status.test.ts
  tests/typescript-config.test.ts
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

feat: Add comprehensive solution entity for healthcare compliance, including automated fix suggestions and ROI analysis
  .claude/settings.local.json
  PRODUCTION_DEPLOYMENT_READINESS_CERTIFICATE.md
  apps/api/src/routers/architecture.ts
  bun.config.js
  bun.lock
  docs/monitoring/PRODUCTION_MONITORING_GUIDE.md
  docs/training/HEALTHCARE_PROFESSIONAL_TRAINING.md
  monitoring-config.json
  package.json
  packages/core/src/analysis/types/codebase-analysis.ts
  packages/core/src/analysis/types/finding-enums.ts
  packages/core/src/analysis/types/finding.ts
  packages/core/src/analysis/types/impact-assessment.ts
  packages/core/src/analysis/types/location.ts
  packages/core/src/analysis/types/package-analysis.ts
  packages/core/src/analysis/types/solution.ts
  packages/database/src/index.ts
  packages/database/src/models/architecture-config.ts
  packages/database/src/models/migration-state.ts
  packages/database/src/models/package-manager-config.ts
  packages/database/src/models/performance-metrics.ts
  specs/006-you-are-a/tasks.md
  tests/contract/helpers/test-client.ts
  tests/contract/test_architecture_config.ts
  tests/typescript-config.test.ts
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

refactor(api): enhance tRPC implementation with proper authentication and compliance
  apps/api/src/router.ts
  apps/api/src/routers/migration.ts
  packages/core/src/analysis/index.ts
  packages/core/src/analysis/services/architectural-validator.ts
  packages/core/src/analysis/types/analysis-enums.ts
  packages/core/src/analysis/types/duplication-finding.ts
  packages/database/src/models/compliance-status.ts
  packages/database/src/models/performance-metrics.ts
Due: npx ultracite format

refactor(research): expand and restructure research findings for NEONPRO theme and UI components integration
  package.json
  specs/003-continue-aprimorando-o/data-model.md
  specs/003-continue-aprimorando-o/plan.md
  specs/003-continue-aprimorando-o/quickstart.md
  specs/003-continue-aprimorando-o/research.md
Due: npx ultracite format

Add comprehensive tests for performance metrics, Bun migration, and architecture models
  CHANGELOG.md
  README.md
  apps/api/src/trpc.ts
  docs/api/README.md
  docs/architecture/bun-migration-summary.md
  docs/architecture/hybrid-migration.md
  docs/architecture/overview.md
  docs/database/README.md
  docs/deployment/README.md
  packages/core/src/analysis/services/analysis-orchestrator.ts
  packages/core/src/analysis/services/package-analyzer.ts
  packages/core/src/analysis/services/report-generator.ts
  packages/database/src/types.ts
  scripts/validate-bun-migration.ts
  specs/003-continue-aprimorando-o/contracts/theme-api.json
  specs/003-continue-aprimorando-o/contracts/theme-api.test.ts
  tests/contract/test_compliance_status.ts
  tests/contract/test_migration_status.ts
  tests/contract/test_package_manager.ts
  tests/contract/test_performance_metrics.ts
  tests/performance/test_bun_migration.ts
  tests/unit/test_architecture_models.ts
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

refactor(tests): add comprehensive contract and integration tests for theme and component functionality
  .kilocode/rules/AGENTS.md
  .kilocode/rules/specify-rules.md
  specs/003-continue-aprimorando-o/tasks.md
Due: npx ultracite format

feat: Implement Brazilian aesthetic clinic analysis and pricing model
  apps/api/src/routers/compliance-status.ts
  apps/api/src/routers/package-manager.ts
  apps/api/src/routers/performance-metrics.ts
  docs/architecture/simplified-testing-strategy.md
  packages/core/src/analysis/example.ts
  packages/core/src/analysis/pricing.ts
  packages/core/src/analysis/roadmap.ts
  packages/core/src/analysis/services/clinic-analyzer.ts
  packages/database/src/types/database.ts
Due: npx ultracite format

feat: add architecture router with CRUD operations and validation for configurations
  apps/api/src/trpc/routers/architecture.ts
  specs/004-use-o-agent/DEPLOYMENT_SUMMARY.md
  specs/004-use-o-agent/FINAL_IMPLEMENTATION_REPORT.md
  specs/004-use-o-agent/IMPLEMENTATION_SUMMARY.md
  specs/004-use-o-agent/TDD_ORCHESTRATOR_VALIDATION.md
  specs/004-use-o-agent/TEST_EXECUTION_REPORT.md
  specs/004-use-o-agent/VERIFICATION_REPORT.md
  specs/004-use-o-agent/data-model.md
  specs/004-use-o-agent/plan.md
  specs/004-use-o-agent/quickstart.md
  specs/004-use-o-agent/research.md
  specs/004-use-o-agent/spec.md
  specs/004-use-o-agent/tasks.md
  specs/005-execute-o-specify/contracts/api-contracts.yaml
  specs/005-execute-o-specify/data-model.md
  specs/005-execute-o-specify/plan.md
  specs/005-execute-o-specify/quickstart.md
  specs/005-execute-o-specify/research.md
  specs/005-execute-o-specify/spec.md
  specs/005-execute-o-specify/tasks.md
  specs/005-execute-o-specify/verification-report.md
  specs/006-you-are-a/contracts/analysis-api.json
  specs/006-you-are-a/data-model.md
  specs/006-you-are-a/plan.md
  specs/006-you-are-a/quickstart.md
  specs/006-you-are-a/research.md
  specs/006-you-are-a/spec.md
  specs/006-you-are-a/tasks.md
Due: npx ultracite format

feat: remove obsolete TDD optimization validation and orchestrator system documentation
  .claude/commands/healthcare-compliance-automation.md
  .claude/commands/mcp-tool-orchestration.md
  .claude/commands/multi-agent-workflow-90-tasks.md
  .claude/commands/research.md
  .claude/commands/spec-planing.md
  .claude/commands/tdd-optimization-validation.md
  .claude/commands/tdd-orchestrator-system.md
  apps/api/src/trpc/middleware/rls-guard.ts
  apps/web/src/hooks/realtime/useRealtimeQuery.ts
  apps/web/tsconfig.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

refactor: remove obsolete configuration file and enhance API context handling
  .archon/README.md
  .archon/knowledge/testing-workflows.md
  .archon/quality-gates.md
  .archon/scripts/tdd-orchestrator.sh
  .archon/task-management.json
  .archon/tasks/agent-coordination-tasks.json
  .archon/workflows/tdd-red-green-refactor.md
  .augment/rules/AGENT.md
  .claude/CLAUDE.md
  .claude/commands/quality-control.md
  .github/chatmodes/vibecoder.chatmode.md
  .trae/rules/project_rules.md
  .trae/trae.config.json
  AGENTS.md
  apps/api/src/router.ts
  apps/api/src/trpc.ts
  apps/web/src/hooks/realtime/useRealtimeQuery.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Refactor appointment hooks and services for improved type safety and LGPD compliance
  apps/web/src/__tests__/financial/tuss-sus-integration.test.ts
  apps/web/src/__tests__/routes/aesthetic-scheduling/multi-session.test.tsx
  apps/web/src/__tests__/routes/ai-clinical-support/assessment.test.tsx
  apps/web/src/components/aesthetic-scheduling/CertificationValidator.tsx
  apps/web/src/components/aesthetic-scheduling/RecoveryPlanning.tsx
  apps/web/src/components/aesthetic-scheduling/TreatmentPackageScheduler.tsx
  apps/web/src/components/ai-clinical-support/ProgressMonitoring.tsx
  apps/web/src/components/ai-clinical-support/TreatmentOutcomePredictor.tsx
  apps/web/src/components/ai-clinical-support/TreatmentRecommendationsDashboard.tsx
  apps/web/src/components/healthcare/treatment-scheduler.tsx
  apps/web/src/hooks/useTRPCHealthcare.ts
  apps/web/src/test-setup.ts
  apps/web/src/test/test-basic-setup.test.ts
  apps/web/src/test/test-setup.ts
  docs/architecture/frontend-architecture.md
  docs/features/code-quality-fixes.md
  docs/mistakes/typescript-imports.md
  docs/rules/quality-control.md
  packages/core/src/analysis/example.ts
  packages/core/src/appointments/__tests__/AppointmentService.test.ts
  packages/core/src/appointments/hooks/useAppointments.ts
  packages/core/src/appointments/services/AppointmentService.ts
  packages/core/src/common/services/ApiService.ts
  packages/database/src/__tests__/client.test.ts
  packages/database/src/client.ts
  src/test/setup/bun-test-preload.ts
  tests/integration/migration-status.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic

fix(appointments): resolve revenue calculation bug and implement default pricing logic
  apps/analysis/src/__tests__/contracts/architectural-violations.test.ts
  apps/analysis/src/__tests__/contracts/code-duplication.test.ts
  apps/analysis/src/__tests__/contracts/package-boundary.test.ts
  apps/analysis/src/__tests__/contracts/solid-validator-hardcoded-values.test.ts
  apps/analysis/src/__tests__/contracts/solid-validator-simple.test.ts
  apps/analysis/src/__tests__/integration/executive-summary.test.ts
  apps/analysis/src/__tests__/integration/monorepo-analysis-workflow.test.ts
  apps/analysis/src/__tests__/integration/performance-optimization.test.ts
  apps/analysis/src/__tests__/integration/tanstack-router-v5-analysis.test.ts
  apps/analysis/src/analyzers/solid-principles-validator.ts
  apps/analysis/vitest.config.ts
  apps/api/edge/services/realtime-cache.ts
  apps/api/src/middleware/healthcare-compliance.ts
  apps/api/src/routers/architecture.ts
  apps/api/src/routers/compliance-status.ts
  apps/api/src/routers/migration.ts
  apps/api/src/routers/performance-metrics.ts
  apps/api/src/server.ts
  apps/api/src/services/compliance-service.ts
  apps/api/src/services/session-service.ts
  apps/api/src/trpc/middleware/security-integration-service.ts
  apps/api/src/trpc/routers/ai-clinical-support.ts
  apps/api/src/trpc/routers/professional-council.ts
  apps/web/src/test/test-setup.ts
  apps/web/src/utils/pwa.ts
  docs/features/test-types.md
  packages/core/src/appointments/__tests__/AppointmentService.test.ts
  packages/core/src/appointments/services/AppointmentService.ts
  packages/core/src/financeiro/hooks/index.ts
  packages/core/src/financeiro/services/FinancialService.ts
  packages/core/src/profissionais/hooks/index.ts
  packages/core/src/tratamentos/hooks/index.ts
  packages/core/src/tratamentos/types/index.ts
  packages/database/src/__tests__/client.test.ts
  packages/database/src/client.ts
  packages/database/src/models/performance-metrics.ts
  packages/database/src/types/supabase.ts
  specs/003-continue-aprimorando-o/test-utils.ts
  src/test/setup/bun-test-preload.ts
  tests/integration/migration-status.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Add tests for quality control frontmatter validation
  .github/prompts/code-quality-audit.prompt.md
  .github/prompts/quality-control.prompt.md
  .github/prompts/spec-planning.prompt.md
  apps/analysis/src/__tests__/contracts/solid-validator-hardcoded-values.test.ts
  apps/web/src/__tests__/financial-service-pix-integration.test.ts
  apps/web/src/__tests__/healthcare-core/service-validation.test.ts
  apps/web/src/utils/pwa.ts
  packages/core/src/pacientes/services/PatientService.ts
  packages/ui/src/components/ui/button.tsx
  tests/quality-control-frontmatter.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

fix: remove missing chat router, configure for Vercel deployment with Bun
  .oxlintrc.json
  apps/analysis/package.json
  apps/analysis/src/__tests__/contracts/package-boundary.test.ts
  apps/analysis/src/analyzers/solid-principles-validator.ts
  apps/api/src/trpc/router.ts
  apps/web/package.json
  apps/web/src/components/event-calendar/WeekView.tsx
  apps/web/src/hooks/useSchedulingData.ts
  apps/web/src/hooks/useSchedulingSubmission.ts
  apps/web/tsconfig.json
  bun.lock
  bunfig.toml
  package.json
  packages/database/.tsbuildinfo-database
  packages/database/src/compliance-utils.ts
  packages/database/src/models/compliance-status.ts
  packages/database/src/models/package-manager-config.ts
  packages/types/src/ai-clinical-support.ts
  packages/types/src/database-migration.ts
  packages/types/src/index.ts
  packages/types/vitest.config.ts
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/types run lint, pnpm vitest related --run --reporter=basic

fix: add workspaces configuration for Bun monorepo
  package.json
Due: none

fix: remove duplicate workspaces field
  package.json
Due: none

fix: allow packages directory in Vercel deployment for monorepo support
  .vercelignore
Due: none

fix: add explicit file extensions to Vite resolve config
  apps/web/vite.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: simplify .vercelignore to allow all necessary files
  .vercelignore
Due: none

fix: add .ts extension to supabase client import
  apps/web/src/contexts/AuthContext.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: remove .vercelignore to allow all files for deployment
  .vercelignore
Due: none

fix: correct file extensions in imports (.js -> .ts)
  apps/web/src/routes/ai-clinical-support/recommendations.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: replace all .js extensions with .ts in imports
  apps/api/edge/__tests__/rls-guard-middleware.test.ts
  apps/api/edge/index.ts
  apps/api/edge/middleware/ttfb-logger.ts
  apps/api/src/__tests__/security-integration-service.end-to-end.test.ts
  apps/web/src/components/aesthetic-scheduling/RecoveryPlanning.tsx
  apps/web/src/components/aesthetic-scheduling/RoomAllocation.tsx
  apps/web/src/components/ai-clinical-support/ProgressMonitoring.tsx
  apps/web/src/components/ai-clinical-support/TreatmentOutcomePredictor.tsx
  apps/web/src/hooks/useProfessionalSelection.ts
  apps/web/src/hooks/useRecoveryPlan.ts
  apps/web/src/routes/aesthetic-scheduling/certification.tsx
  apps/web/src/routes/aesthetic-scheduling/contraindications.tsx
  apps/web/src/routes/aesthetic-scheduling/multi-session.tsx
  apps/web/src/routes/aesthetic-scheduling/packages.tsx
  apps/web/src/routes/aesthetic-scheduling/recovery.tsx
  apps/web/src/routes/aesthetic-scheduling/rooms.tsx
  apps/web/src/routes/ai-clinical-support/assessment.tsx
  apps/web/src/routes/ai-clinical-support/contraindications.tsx
  apps/web/src/routes/ai-clinical-support/guidelines.tsx
  apps/web/src/routes/ai-clinical-support/monitoring.tsx
  apps/web/src/routes/ai-clinical-support/predictions.tsx
  apps/web/src/routes/analytics/index.tsx
  apps/web/src/routes/compliance/index.tsx
  apps/web/src/routes/inventory/index.tsx
  apps/web/src/routes/inventory/new-product.tsx
  apps/web/src/routes/inventory/product/$productId.tsx
  apps/web/src/services/pwa/PWANativeDeviceService.ts
  apps/web/src/services/pwa/PWAOfflineManager.ts
  apps/web/tsconfig.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Path conditions:
  npx ultracite format: ((((((((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx})) or (any of: *.{css,scss})) or (any of: apps/web/**/*.{js,jsx,ts,tsx})) or (any of: packages/ui/**/*.{js,jsx,ts,tsx})) or (any of: packages/utils/**/*.{js,jsx,ts,tsx})) or (any of: packages/types/**/*.{js,jsx,ts,tsx})) or (any of: **/*patient*.{js,jsx,ts,tsx})) or (any of: **/*medical*.{js,jsx,ts,tsx})) or (any of: **/*treatment*.{js,jsx,ts,tsx})) or (any of: **/*.{test,spec}.{js,jsx,ts,tsx})
  pnpm --filter @neonpro/web run lint:staged: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/ui run lint: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/utils run lint: any of: packages/utils/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/types run lint: any of: packages/types/**/*.{js,jsx,ts,tsx}
  echo 'Healthcare file detected: ensuring LGPD compliance...': any of: **/*patient*.{js,jsx,ts,tsx}
  echo 'Medical file detected: ensuring ANVISA compliance...': any of: **/*medical*.{js,jsx,ts,tsx}
  echo 'Treatment file detected: ensuring CFM compliance...': any of: **/*treatment*.{js,jsx,ts,tsx}
  pnpm vitest related --run --reporter=basic: any of: **/*.{test,spec}.{js,jsx,ts,tsx}
  echo 'Database schema change detected: ensure RLS policies are updated': any of: **/*.sql
  echo 'Database migration detected: ensure healthcare data integrity': any of: **/migrations/*.sql
