Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

Update .gitignore
  .gitignore
Due: none

Add test results and related assets
  test-results/assets/index-D_ryMEPs.js
  test-results/assets/index-X8b7Z_4p.css
  test-results/bg.png
  test-results/favicon.ico
  test-results/favicon.svg
  test-results/html.meta.json.gz
  test-results/integration-report.html
  test-results/integration-results.json
Due: npx ultracite format

feat(security): add healthcare-compliant session termination tests
  EXECUTE_GIT_WORKFLOW.md
  complete_git_workflow.sh
  execute_git_workflow.js
  packages/ui/src/components/dashboard/security/ActiveSessionsTable.test.tsx
  run_git_workflow.py
Due: npx ultracite format, pnpm --filter @neonpro/ui run lint, pnpm vitest related --run --reporter=basic

Update git_operations.js
  git_operations.js
Due: npx ultracite format

Update env.supabase
  env.supabase
Due: none

Update direct_git.js
  direct_git.js
Due: npx ultracite format

Delete README.md
  .trae/tasks/README.md
Due: npx ultracite format

new
  .claude/settings.local.json
  .trae/tasks.json
  packages/database/src/supabase-generated.ts
  tsconfig.json
Due: npx ultracite format

feat: add QR Handoff Generator and Session Sync Manager components for cross-device session continuity
  .vscode/.mcp.json
  apps/web/app/api/handoff/generate/route.ts
  apps/web/app/api/handoff/validate/route.ts
  apps/web/components/accessibility/accessibility-integration-example.tsx
  apps/web/components/accessibility/assistive-technology-api.tsx
  apps/web/components/accessibility/cognitive-accessibility-helper.tsx
  apps/web/components/accessibility/eye-tracking-interaction.tsx
  apps/web/components/accessibility/one-handed-operation-mode.tsx
  apps/web/components/accessibility/switch-navigation-controller.tsx
  apps/web/components/accessibility/tremor-friendly-controls.tsx
  apps/web/components/accessibility/visual-accessibility-enhancer.tsx
  apps/web/components/accessibility/voice-medical-controller.tsx
  apps/web/components/examples/index.ts
  apps/web/components/mobile/ConflictResolver.tsx
  apps/web/components/mobile/CrossDeviceDemo.tsx
  apps/web/components/mobile/OfflineQueueManager.tsx
  apps/web/components/mobile/QRHandoffGenerator.tsx
  apps/web/components/mobile/SessionSyncManager.tsx
  apps/web/components/mobile/index.ts
  apps/web/components/ui/index.ts
  apps/web/package.json
  packages/ai/src/prediction/core/tensorflow-lazy-loader.ts
  packages/compliance/src/advanced-compliance-integration.ts
  packages/compliance/src/anvisa/medical-device-service.ts
  packages/compliance/src/audit/audit-service.ts
  packages/compliance/src/cfm/medical-ethics-service.ts
  packages/compliance/src/services/lgpd-service.ts
  packages/shared/src/api-client.ts
  packages/shared/src/hooks/use-realtime.ts
  packages/shared/src/templates/healthcare-api-template.ts
  packages/shared/src/templates/healthcare-feature-template.ts
  packages/shared/src/types/database.types.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Medical file detected: ensuring ANVISA compliance...'

feat: implement comprehensive CI/CD automation infrastructure
  .github/workflows/code-quality-audit.yml
  .github/workflows/quality-gates.yml
  .github/workflows/type-safety-check.yml
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: update CI/CD workflows and pre-commit hooks to use Bun
  .github/workflows/code-quality-audit.yml
  .github/workflows/quality-gates.yml
  .github/workflows/type-safety-check.yml
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: remove --frozen-lockfile flag from GitHub Actions workflows
  .github/workflows/code-quality-audit.yml
  .github/workflows/quality-gates.yml
  .github/workflows/type-safety-check.yml
Due: none

test: validate pre-commit hooks functionality
  test-pre-commit.js
Due: npx ultracite format

test: validate pre-commit hooks are now executable
  test-pre-commit.js
Due: npx ultracite format

fix: remove problematic install scripts causing GitHub Actions failures
  package.json
Due: none

fix: resolve GitHub Actions output format errors in workflows
  .github/workflows/code-quality-audit.yml
  .github/workflows/quality-gates.yml
  .github/workflows/type-safety-check.yml
Due: none

fix: adjust quality gate thresholds to practical development levels
  .github/workflows/quality-gates.yml
Due: none

fix: enhance type safety and error handling in cache management and synchronization scripts
  .augment/mcp-config.md
  apps/web/components/constants.ts
  apps/web/hooks/use-emergency-performance.ts
  apps/web/hooks/use-emergency-voice-commands.ts
  packages/cache/src/cache-manager.ts
  packages/cache/src/edge-cache.ts
  packages/cache/src/enterprise.ts
  scripts/sync-mcp-config.js
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

refactor: update documentation and code structure for improved clarity and compliance
  .github/chatmodes/vibecoder.chatmode.md
  .trae/trae.config.json
  .vscode/tasks.json
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.md
  docs/agents/AGENTS.md
  docs/agents/apex-dev.md
  docs/agents/test.md
  docs/database-schema/AGENTS.md
  docs/memory.md
  docs/mistakes/dprint-windows-dependency.md
  docs/rules/coding-standards.md
  docs/testing/ci-pipelines.md
  docs/testing/coverage-policy.md
  docs/testing/e2e-testing.md
  docs/testing/integration-testing.md
  packages/auth/tsconfig.json
  packages/core-services/tsconfig.build.json
  packages/database/tsconfig.json
  packages/docs/tsconfig.json
  packages/enterprise/tsconfig.json
  packages/monitoring/tsconfig.json
  packages/utils/tsconfig.json
Due: npx ultracite format
