Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

Add AI-assisted 3-step CRUD API and UI chart component
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/src/routes/v1/ai/crud.ts
  apps/api/src/routes/v1/ai/index.ts
  apps/api/src/trpc/router.ts
  apps/api/src/trpc/routers/crud.ts
  apps/web/components.json
  apps/web/package.json
  apps/web/src/components/charts/index.ts
  apps/web/src/components/charts/revenue-chart.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/chart.tsx
  apps/web/src/hooks/use-mobile.tsx
  debug-ai-insights.sh
  docs/quality-control/pr-43-fixes-comprehensive-summary.md
  packages/core-services/src/services/health-analysis/health-analysis-service.ts
  packages/database/migrations/deploy.sh
  pnpm-lock.yaml
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update apps/api/src/trpc/routers/crud.ts
  apps/api/src/trpc/routers/crud.ts
Due: npx ultracite format

Update apps/web/src/hooks/use-mobile.tsx
  apps/web/src/hooks/use-mobile.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update apps/api/src/routes/v1/ai/crud.ts
  apps/api/src/routes/v1/ai/crud.ts
Due: npx ultracite format

Add AI CRUD contract tests and update test mocks
  apps/api/tests/integration/unused-imports-ai-services.test.ts
  apps/web/src/services/__tests__/lgpd/audit-logging.service.test.ts
  apps/web/src/services/__tests__/lgpd/data-minimization.service.test.ts
  apps/web/tests/contract/ai-crud-confirm.test.ts
  apps/web/tests/contract/ai-crud-execute.test.ts
  apps/web/tests/contract/ai-crud-intent.test.ts
  apps/web/tests/contract/financial-dashboard.test.ts
  apps/web/tests/mocks/server.ts
  apps/web/tests/utils/crud-test-utils.ts
  docs/components/BigCalendar.md
  docs/components/EventCalendar.md
  docs/testing/pr44-testing-strategy.md
  tools/testing-toolkit/tests/import-test.test.ts
  tools/testing-toolkit/tests/simple.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Update services/ai-agent/fix_syntax.py
  services/ai-agent/fix_syntax.py
Due: none

Update apps/web/tests/setup.ts
  apps/web/tests/setup.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update apps/web/tests/utils/crud-test-utils.ts
  apps/web/tests/utils/crud-test-utils.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: update pnpm to 8.15.1 and fix CI workflow
  .github/workflows/ci.yml
  package.json
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Due: none

refactor
  .claude/agents/code-review/tdd-orchestrator.md
  apps/api/src/services/audit-trail-compatibility.ts
  apps/api/src/services/operation-state-service.ts
  apps/api/tests/integration/pr45-p0-issues.test.ts
  apps/api/tests/integration/unused-imports-route-files.test.ts
  apps/api/tests/integration/unused-variables-parameters.test.ts
  apps/api/tests/unit/pr44-architecture-test.js
  apps/web/src/services/financial-metrics.ts
  apps/web/tests/component/card-component.test.tsx
  apps/web/tests/component/chart-component.test.tsx
  apps/web/tests/component/mobile-hook.test.tsx
  apps/web/tests/contract/fetch-test.test.ts
  apps/web/tests/contract/msw-direct.test.ts
  apps/web/tests/contract/msw-test.test.ts
  apps/web/tests/integration/component-interactions.test.tsx
  apps/web/tests/integration/unused-imports-component-tests.test.tsx
  apps/web/tests/mocks/server.ts
  apps/web/tests/performance/api-performance.test.ts
  apps/web/tests/performance/chart-performance.test.ts
  docs/agents/new-agent.md
  docs/components/WeekView.md
  docs/error-handling/CalendarErrors.md
  docs/guides/CalendarIntegration.md
  docs/performance/CalendarOptimization.md
  docs/security/CalendarSecurity.md
  docs/testing/CalendarTesting.md
  packages/database/schema-actual.prisma
  tools/testing-toolkit/src/fixtures/api-handlers.ts
  tools/testing-toolkit/tests/example.test.ts
  tools/testing-toolkit/tests/msw-compatibility.test.ts
  tools/testing-toolkit/tests/package-consumption.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

Add MSW compatibility tests for Bun environment and package consumption tests
  .claude/commands/quality-control.md
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/web/src/services/financial-metrics.ts
  apps/web/tests/mocks/server.ts
  debug-ai-insights.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  services/ai-agent/run_tests.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Enhance input validation and error handling in server mocks
  .kilocode/workflows/quality-control.md
  apps/web/tests/mocks/server.ts
  apps/web/tests/utils/crud-test-utils.ts
  tools/testing-toolkit/src/agents/coordinator.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Update apps/api/src/security/sql-sanitizer.ts
  apps/api/src/security/sql-sanitizer.ts
Due: npx ultracite format

Update packages/database/src/services/consent-service.ts
  packages/database/src/services/consent-service.ts
Due: npx ultracite format

Update apps/web/src/components/validation/PerformanceTester.tsx
  apps/web/src/components/validation/PerformanceTester.tsx
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Refactor integration tests for specific client queries and TLS configuration
  .gitignore
  .vscode/settings.json
  apps/api/src/app.ts
  apps/api/src/trpc/routers/telemedicine.ts
  apps/api/tests/integration/access-denied.test.ts
  apps/api/tests/integration/appointment-query.test.ts
  apps/api/tests/integration/certificate-transparency.test.ts
  apps/api/tests/integration/client-query.test.ts
  apps/api/tests/integration/data-agent-endpoint.test.ts
  apps/api/tests/integration/feedback-endpoint.test.ts
  apps/api/tests/integration/financial-query.test.ts
  apps/api/tests/integration/https-enforcement.test.ts
  apps/api/tests/integration/mixed-content.test.ts
  apps/api/tests/integration/performance-handshake.test.ts
  apps/api/tests/integration/performance-response.test.ts
  apps/api/tests/integration/security-headers.test.ts
  apps/api/tests/integration/sessions-endpoint.test.ts
  apps/api/tests/integration/specific-client-query.test.ts
  apps/api/tests/integration/tls-configuration.test.ts
  apps/api/vite.config.ts
  apps/web/src/App.tsx
  apps/web/src/services/access-control.ts
  apps/web/tests/contract/ai-crud-intent.test.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

fix: Remove Python venv and cache files from git tracking
  .claude/settings.local.json
  .gitignore
  apps/api/agents/ag-ui-rag-agent/venv/bin/python
  apps/api/agents/ag-ui-rag-agent/venv/bin/python3
  apps/api/agents/ag-ui-rag-agent/venv/bin/python3.12
  apps/api/agents/ag-ui-rag-agent/venv/lib64
  apps/api/agents/ag-ui-rag-agent/venv/pyvenv.cfg
  apps/api/src/trpc/contracts/ai.ts
  apps/api/src/trpc/contracts/patient.ts
  apps/api/src/trpc/contracts/professional.ts
  apps/api/src/trpc/routers/agent.ts
  apps/api/src/trpc/routers/telemedicine.ts
  apps/api/vite.config.ts
  apps/web/src/components/event-calendar/event-filter-panel.tsx
  apps/web/src/components/ui/neonpro-neumorphic.tsx
  apps/web/tests/utils/crud-test-utils.ts
  packages/shared/package.json
  services/ai-agent/services/__pycache__/database_service.cpython-312.pyc
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...'

spec
  .claude/hooks/commons.sh
  .claude/hooks/post-tool.sh
  .claude/hooks/pre-tool.sh
  .claude/hooks/session-stop.sh
  .claude/hooks/setup-final.sh
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/agents/setup-python-env.sh
  apps/api/agents/setup-venv.sh
  apps/api/scripts/cert-renewal.sh
  packages/database/migrations/deploy.sh
  packages/types/package.json
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  services/ai-agent/run_tests.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format

fix: update file permissions for various scripts and configuration files
  .claude/hooks/commons.sh
  .claude/hooks/post-tool.sh
  .claude/hooks/pre-tool.sh
  .claude/hooks/session-stop.sh
  .claude/hooks/setup-final.sh
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/agents/setup-python-env.sh
  apps/api/agents/setup-venv.sh
  apps/api/scripts/cert-renewal.sh
  apps/api/src/trpc/contracts/ai.ts
  apps/api/src/trpc/contracts/patient.ts
  apps/api/src/trpc/contracts/professional.ts
  apps/api/vite.config.ts
  apps/web/src/components/ai/DataAgentChat.tsx
  apps/web/src/types/ai-agent.ts
  apps/web/tests/contract/financial-metrics.test.ts
  packages/config/tsconfig.json
  packages/database/migrations/deploy.sh
  packages/types/tsconfig.json
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  services/ai-agent/run_tests.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

feat(audit): enhance audit types and add compliance checks
  apps/api/src/services/audit-service.ts
  apps/api/src/trpc/contracts/ai.ts
  apps/api/src/trpc/contracts/clinic.ts
  apps/api/src/trpc/contracts/index.ts
  apps/api/src/trpc/routers/agent.ts
  apps/api/src/trpc/routers/crud.ts
  apps/api/src/utils/secure-logger.ts
  apps/api/vite.config.ts
  apps/web/src/__tests__/red/critical-blocking-errors.test.ts
  apps/web/src/components/accessibility/AccessibilityTester.tsx
  apps/web/src/components/ai/DataAgentChat.tsx
  apps/web/src/components/validation/PerformanceTester.tsx
  apps/web/tests/contract/ai-crud-execute-debug.test.ts
  apps/web/tests/contract/ai-crud-execute.test.ts
  apps/web/tests/contract/financial-metrics-debug.test.ts
  apps/web/tests/contract/financial-metrics.test.ts
  apps/web/tests/utils/crud-test-utils.ts
  apps/web/tests/utils/mock-server-handlers.ts
  docs/architecture/source-tree.md
  docs/database-schema/IMPLEMENTATION_SUMMARY.md
  docs/database-schema/database-schema-consolidated.md
  packages/database/src/services/audit-service.ts
  packages/database/src/services/consent-service.ts
  packages/database/src/types/audit.types.ts
  packages/security/package.json
  packages/security/tests/security-logging.test.ts
  packages/shared/package.json
  packages/shared/src/services/winston-logging/enhanced-structured-logger.ts
  packages/shared/src/services/winston-logging/index.ts
  packages/shared/src/services/winston-logging/types.ts
  packages/types/package.json
  packages/types/src/ai-agent.ts
  packages/types/src/api/contracts.ts
  packages/types/src/index.ts
  packages/utils/package.json
  packages/utils/src/healthcare-errors.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, pnpm vitest related --run --reporter=basic

Add correlation ID support to structured logging
  .claude/hooks/commons.sh
  .claude/hooks/post-tool.sh
  .claude/hooks/pre-tool.sh
  .claude/hooks/session-stop.sh
  .claude/hooks/setup-final.sh
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/agents/setup-python-env.sh
  apps/api/agents/setup-venv.sh
  apps/api/scripts/cert-renewal.sh
  apps/web/api/adverse-events/anvisa-report.ts
  apps/web/api/aesthetic/patient-lookup.ts
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/next.config.mjs
  packages/database/migrations/deploy.sh
  packages/shared/src/services/structured-logging.ts
  packages/shared/src/services/winston-logging/enhanced-structured-logger.ts
  packages/shared/src/services/winston-logging/index.ts
  scripts/deploy-unified.sh
  scripts/install-hooks.sh
  services/ai-agent/run_tests.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...'

Path conditions:
  npx ultracite format: ((((((((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx})) or (any of: *.{css,scss})) or (any of: apps/web/**/*.{js,jsx,ts,tsx})) or (any of: packages/ui/**/*.{js,jsx,ts,tsx})) or (any of: packages/utils/**/*.{js,jsx,ts,tsx})) or (any of: packages/types/**/*.{js,jsx,ts,tsx})) or (any of: **/*patient*.{js,jsx,ts,tsx})) or (any of: **/*medical*.{js,jsx,ts,tsx})) or (any of: **/*treatment*.{js,jsx,ts,tsx})) or (any of: **/*.{test,spec}.{js,jsx,ts,tsx})
  pnpm --filter @neonpro/web run lint:staged: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/ui run lint: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/utils run lint: any of: packages/utils/**/*.{js,jsx,ts,tsx}
  pnpm --filter @neonpro/types run lint: any of: packages/types/**/*.{js,jsx,ts,tsx}
  echo 'Healthcare file detected: ensuring LGPD compliance...': any of: **/*patient*.{js,jsx,ts,tsx}
  echo 'Medical file detected: ensuring ANVISA compliance...': any of: **/*medical*.{js,jsx,ts,tsx}
  echo 'Treatment file detected: ensuring CFM compliance...': any of: **/*treatment*.{js,jsx,ts,tsx}
  pnpm vitest related --run --reporter=basic: any of: **/*.{test,spec}.{js,jsx,ts,tsx}
  echo 'Database schema change detected: ensure RLS policies are updated': any of: **/*.sql
  echo 'Database migration detected: ensure healthcare data integrity': any of: **/migrations/*.sql
