Repository GrupoUS/neonpro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm --filter @neonpro/ui run lint, pnpm --filter @neonpro/utils run lint, pnpm --filter @neonpro/types run lint, echo 'Healthcare file detected: ensuring LGPD compliance...', echo 'Medical file detected: ensuring ANVISA compliance...', echo 'Treatment file detected: ensuring CFM compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx ultracite format"],
  "*.{md,mdx}": ["npx ultracite format"],
  "*.{css,scss}": ["npx ultracite format"],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/web run lint:staged"
  ],
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/ui run lint"
  ],
  "packages/utils/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/utils run lint"
  ],
  "packages/types/**/*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm --filter @neonpro/types run lint"
  ],
  "**/*patient*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Healthcare file detected: ensuring LGPD compliance...'"
  ],
  "**/*medical*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Medical file detected: ensuring ANVISA compliance...'"
  ],
  "**/*treatment*.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "echo 'Treatment file detected: ensuring CFM compliance...'"
  ],
  "**/*.{test,spec}.{js,jsx,ts,tsx}": [
    "npx ultracite format",
    "pnpm vitest related --run --reporter=basic"
  ],
  "**/*.sql": [
    "echo 'Database schema change detected: ensure RLS policies are updated'"
  ],
  "**/migrations/*.sql": [
    "echo 'Database migration detected: ensure healthcare data integrity'"
  ]
}

fix: resolve turbo.json configuration issues and complete package.json structure
  .husky/common.sh
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  apps/web/__tests__/lib/ai/risk-assessment/end-to-end.test.ts
  apps/web/app/lib/types/stock-alerts.ts
  apps/web/turbo.json
  biome.jsonc
  context7,desktop-commander
  package.json
  packages/compliance/turbo.json
  packages/devops/turbo.json
  packages/security/turbo.json
  packages/types/turbo.json
  packages/ui/turbo.json
  packages/utils/turbo.json
  tools/testing/turbo.json
  turbo.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, pnpm vitest related --run --reporter=basic

archon
  .npmrc
  apps/web/app/lib/types/stock-alerts.ts
  debug-schema.js
  package.json
  packages/compliance/src/utils/audit-utils.ts
  packages/compliance/src/utils/validation-helpers.ts
  scripts/validation/complete-system-validation.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

Refactor stock alert config validation and add testing tools
  .mcp.json
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  apps/docs/package.json
  apps/web/__tests__/devops/enhanced-devops-validation.test.ts
  apps/web/app/api/stock/alerts/route.ts
  apps/web/app/lib/types/stock-alerts.ts
  debug-schema.js
  package-lock.json
  packages/ai/package.json
  packages/ai/src/prediction/types/index.ts
  packages/ai/src/prediction/types/prediction-results.ts
  packages/ai/src/prediction/utils/helpers.ts
  packages/ai/src/scheduling/ai-scheduling-engine.ts
  packages/ai/src/scheduling/integration-service.ts
  packages/ai/src/scheduling/types.ts
  packages/compliance/src/anvisa/adverse-event-service.ts
  packages/compliance/src/anvisa/index.ts
  packages/compliance/src/anvisa/medical-device-service.ts
  packages/compliance/src/anvisa/procedure-classification-service.ts
  packages/compliance/src/audit/index.ts
  packages/compliance/src/cfm/digital-signature-service.ts
  packages/compliance/src/cfm/index.ts
  packages/monitoring/src/healthcare-monitoring-dashboard.ts
  packages/security/src/index.test.ts
  packages/security/vitest.setup.ts
  supabase/migrations/20250124_webauthn_schema.sql
  tools/testing/lib/auth/security-audit-framework.ts
  tools/testing/lib/monitoring/components.ts
  tools/testing/lib/monitoring/endpoints.ts
  tools/testing/lib/monitoring/performance/index.ts
  tools/testing/package-lock.json
  tools/testing/package.json
  tools/testing/tsconfig.json
  tools/testing/vitest.config.ts
  vitest.config.ts
  vitest.workspace.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Medical file detected: ensuring ANVISA compliance...', pnpm vitest related --run --reporter=basic, echo 'Database schema change detected: ensure RLS policies are updated', echo 'Database migration detected: ensure healthcare data integrity'

refactor: update agenda component to use new UI library and improve appointment data structure
  apps/web/app/agenda.tsx
  apps/web/app/api/analytics/performance/route.ts
  apps/web/app/api/analytics/route.ts
  apps/web/app/api/assistant/chat/route.ts
  next.config.mjs
  vercel.json
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

fix: bypass TypeScript errors for deployment, add missing Radix dependencies
  apps/web/app/api/automated-analysis/route.ts
  apps/web/package.json
  next.config.mjs
  pnpm-lock.yaml
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged

feat: Enhance Archon Sync Configuration Manager with user-level setup and error handling
  packages/utils/src/analytics/utils.ts
  packages/utils/src/components/subscription.tsx
  packages/utils/src/middleware/subscription.ts
  pnpm-lock.yaml
  scripts/Manual-Archon-Sync.bat
  scripts/RESULTADO-FINAL.md
  scripts/archon-recovery.ps1
  scripts/sync-archon-config.ps1
  tools/testing/__tests__/analytics/services/analytics-repository.test.ts
  tools/testing/__tests__/analytics/services/analytics-service.test.ts
  tools/testing/__tests__/analytics/utils/analytics-utils.test.ts
  tools/testing/__tests__/middleware/subscription.test.ts
  vitest.setup.ts
Due: npx ultracite format, pnpm --filter @neonpro/utils run lint, pnpm vitest related --run --reporter=basic

feat: Add comprehensive API and entity types for NeonPro Healthcare
  .github/chatmodes/vibecoder.chatmode.md
  .github/copilot-instructions.md
  FASE_6_REFINAMENTO_FINAL.md
  apps/api/package.json
  apps/api/src/routes/auth.ts
  apps/web/components/examples/IntegrationExample.tsx
  apps/web/hooks/api/index.ts
  apps/web/hooks/api/useAppointments.ts
  apps/web/hooks/api/useAuth.ts
  apps/web/hooks/api/usePatients.ts
  apps/web/package.json
  apps/web/providers/query-provider.tsx
  packages/shared/package.json
  packages/shared/src/api-client.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas/appointment.schema.ts
  packages/shared/src/schemas/auth.schema.ts
  packages/shared/src/schemas/clinic.schema.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/patient.schema.ts
  packages/shared/src/types/api.types.ts
  packages/shared/src/types/entities.types.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/responses.types.ts
  packages/shared/tsconfig.json
  pnpm-lock.yaml
  test-api.mjs
  tools/testing/tests/unit/monitoring.test.ts
  vitest.config.ts
Due: npx ultracite format, pnpm --filter @neonpro/web run lint:staged, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic

feat(validation): Implement final validation scripts for NEONPRO Healthcare Phase 4.3
  .github/chatmodes/apex-dev.chatmode.md
  .github/chatmodes/apex-qa-debugger.chatmode.md
  .github/chatmodes/apex-researcher.chatmode.md
  .github/chatmodes/apex-ui-ux-designer.chatmode.md
  .github/chatmodes/vibecoder.chatmode.md
  FASE_4_3_FINAL_VALIDATION_DEPLOY.md
  NEONPRO_FASE_4_3_FINAL_VALIDATION_COMPLETE_REPORT.md
  docs/CLAUDE.md
  docs/FEATURE-ARCHITECTURE.md
  docs/architecture/coding-standards.md
  docs/backend-deployment-guide.md
  docs/brownfield-architecture-neonpro.md
  docs/coding-standards-neonpro.md
  docs/neonpro-healthcare-dashboard-architecture.md
  docs/security.md
  run-final-validation.cmd
  scripts/final-validation.ps1
  scripts/final-validation.sh
  temp_read_certification.bat
  tools/testing/final-validation/healthcare-compliance.test.ts
  tools/testing/final-validation/lgpd-compliance.test.ts
  tools/testing/performance/run-performance-tests.ts
Due: npx ultracite format, pnpm vitest related --run --reporter=basic

feat(tests): add healthcare-specific security compliance tests
  .github/chatmodes/vibecoder.chatmode.md
  .github/workflows/e2e-tests.yml
  .mcp.json
  CONSOLIDATION_ANALYSIS.md
  apps/web/package.json
  docs/deployment/vercel-secrets-configuration.md
  docs/e2e-testing-guide.md
  e2e/reports/results.xml
  playwright.config.ts
  pnpm-lock.yaml
  tools/testing/README.md
  tools/testing/e2e/README.md
  tools/testing/e2e/global-setup.ts
  tools/testing/e2e/global-teardown.ts
  tools/testing/e2e/monitoring.ts
  tools/testing/e2e/reports/html/index.html
  tools/testing/e2e/reports/junit-results.xml
  tools/testing/e2e/reports/performance-metrics.json
  tools/testing/e2e/test-utils.ts
  tools/testing/e2e/tests/auth/authentication-v2.spec.ts
  tools/testing/e2e/tests/auth/authentication.spec.ts
  tools/testing/e2e/tests/auth/login.spec.ts
  tools/testing/e2e/tests/healthcare/appointment-booking-v2.spec.ts
  tools/testing/e2e/tests/healthcare/appointment-booking.spec.ts
  tools/testing/e2e/tests/healthcare/emergency-access-v2.spec.ts
  tools/testing/e2e/tests/healthcare/emergency-access.spec.ts
  tools/testing/e2e/tests/healthcare/patient-registration.spec.ts
  tools/testing/e2e/tests/patient-management/create-patient.spec.ts
  tools/testing/e2e/tests/patient-management/patient-registration.spec.ts
  tools/testing/e2e/tests/security/security-healthcare-specific.spec.ts
  tools/testing/package-lock.json
  tools/testing/package.json
  tools/testing/playwright.config.ts
  tools/testing/playwright.simple.config.ts
Due: npx ultracite format, echo 'Healthcare file detected: ensuring LGPD compliance...', pnpm vitest related --run --reporter=basic
