Repository GrupoUS/neonpro: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

dprint-format:
  name: Format code with dprint
  entry: bunx dprint fmt
  language: system
  pass_filenames: false

eslint-healthcare:
  name: ESLint with healthcare compliance rules
  entry: bunx eslint --fix --config .config/eslint/.eslintrc.json
  language: system

typescript-check:
  name: TypeScript type checking
  entry: bunx turbo type-check
  language: system
  pass_filenames: false

lgpd-data-validation:
  name: LGPD Personal Data Validation
  entry: bash
  language: system
  args:
  - -c
  ...

anvisa-protocol-validation:
  name: ANVISA Protocol Format Validation
  entry: bash
  language: system
  args:
  - -c
  ...

cfm-license-validation:
  name: CFM License Format Validation
  entry: bash
  language: system
  args:
  - -c
  ...

healthcare-secrets-scan:
  name: Healthcare Secrets Detection
  entry: bash
  language: system
  args:
  - -c
  ...

patient-data-encryption:
  name: Patient Data Encryption Check
  entry: bash
  language: system
  args:
  - -c
  ...

audit-trail-validation:
  name: Healthcare Audit Trail Validation
  entry: bash
  language: system
  args:
  - -c
  ...

healthcare-test-coverage:
  name: Healthcare Test Coverage Check
  entry: bash
  language: system
  args:
  - -c
  ...

healthcare-docs-validation:
  name: Healthcare Documentation Validation
  entry: bash
  language: system
  args:
  - -c
  ...

Update apps/web/src/components/validation/PerformanceTester.tsx
  apps/web/src/components/validation/PerformanceTester.tsx
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix: update major version in Supabase config and add lint warning fixer script
  scripts/fix-lint-warnings.js
  supabase/config.toml
Due: dprint-format, eslint-healthcare, healthcare-secrets-scan

Refactor error handling and add quick lint fix script for unused variables
  apps/web/src/hooks/use-ai-agent.ts
  apps/web/src/main.tsx
  scripts/quick-lint-fix.sh
  supabase/config.toml
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

feat: add HTTPS implementation final report with comprehensive validation results
  apps/web/src/services/__tests__/lgpd/calendar-integration.test.ts
  https-implementation-final-report.md
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: update file permissions for various scripts to 644
  .claude/hooks/commons.sh
  .claude/hooks/post-tool.sh
  .claude/hooks/pre-tool.sh
  .claude/hooks/session-stop.sh
  .claude/hooks/setup-final.sh
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/agents/setup-python-env.sh
  apps/api/agents/setup-venv.sh
  apps/api/scripts/cert-renewal.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/fix-all-jsx.sh
  scripts/fix-catch-params.sh
  scripts/fix-critical-lint.sh
  scripts/fix-error-refs.sh
  scripts/fix-jsx-syntax.sh
  scripts/fix-lint-warnings.js
  scripts/fix-specific-imports.sh
  scripts/fix-type-annotations.sh
  scripts/install-hooks.sh
  services/ai-agent/run_tests.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Normalize file permissions to 644 for scripts
  .claude/hooks/commons.sh
  .claude/hooks/post-tool.sh
  .claude/hooks/pre-tool.sh
  .claude/hooks/session-stop.sh
  .claude/hooks/setup-final.sh
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  apps/api/agents/setup-python-env.sh
  apps/api/agents/setup-venv.sh
  apps/api/scripts/cert-renewal.sh
  packages/database/migrations/deploy.sh
  scripts/deploy-unified.sh
  scripts/fix-web-lint.sh
  scripts/install-hooks.sh
  services/ai-agent/run_tests.sh
  tools/orchestration/test-parallel.ts
  tools/performance/validate-performance-budgets.sh
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Add conversation and realtime service modules
  apps/api/agents/ag-ui-rag-agent/src/conversation/conversation-api.ts
  apps/api/agents/ag-ui-rag-agent/src/conversation/conversation-context.ts
  apps/api/agents/ag-ui-rag-agent/src/conversation/conversation-service.ts
  apps/api/agents/ag-ui-rag-agent/src/realtime/realtime-service.ts
  scripts/fix-all-jsx.sh
  scripts/fix-catch-params.sh
  scripts/fix-critical-lint.sh
  scripts/fix-error-refs.sh
  scripts/fix-jsx-syntax.sh
  scripts/fix-lint-warnings.js
  scripts/fix-specific-imports.sh
  scripts/fix-type-annotations.sh
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Add conversation and realtime service modules
  .claude/settings.local.json
  apps/api/agents/setup-python-env.sh
  apps/api/src/config/tls-config.ts
  apps/api/src/security/jwt-validator.ts
  apps/api/src/services/api-key-service.ts
  apps/api/src/services/certificate-monitor.ts
  apps/api/src/services/healthcare-professional-authorization.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Update apps/api/src/routes/ai/copilot.ts
  apps/api/src/routes/ai/copilot.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Refactor middleware, improve type safety, and add docs
  apps/api/src/middleware/audit-log.ts
  apps/api/src/middleware/rate-limiting.ts
  apps/api/src/middleware/streaming.ts
  apps/api/src/routes/chat.ts
  apps/api/src/services/cache/enhanced-query-cache.ts
  apps/api/src/services/permissions/agent-permissions.ts
  apps/web/src/components/aesthetic/__tests__/ProfessionalDashboard.test.ts
  apps/web/src/utils/accessibility/mobile-accessibility-optimization.ts
  apps/web/src/utils/healthcare-accessibility-audit.ts
  docs/apis/ai-agent-api.md
  docs/architecture/ai-agent-integration.md
  docs/security/https-setup.md
  tools/e2e/access-control.spec.ts
  tools/e2e/https-security.spec.ts
  tools/frontend/src/e2e/access-control.spec.ts
  tools/frontend/src/e2e/https-security.spec.ts
  tools/frontend/src/e2e/performance.spec.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Implement repository methods in medical license service
  apps/api/agents/setup-python-env.sh
  apps/web/src/__tests__/bundle-optimization.test.ts
  apps/web/src/components/patient/patient-card.tsx
  fix-linting-issues.sh
  fix-unused-imports.sh
  packages/domain/src/services/audit-service.ts
  packages/domain/src/services/consent-service.ts
  packages/domain/src/services/medical-license-service.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Fix TypeScript compilation errors after PR 54 merge
  packages/domain/src/entities/consent.ts
  packages/domain/src/entities/patient.ts
  packages/domain/src/errors/domain-errors.ts
  packages/domain/src/services/consent-service.ts
  packages/domain/src/value-objects/contact.ts
  packages/domain/src/value-objects/gender.ts
  packages/domain/src/value-objects/healthcare.ts
  packages/domain/src/value-objects/lgpd.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Continue fixing TypeScript compilation errors in domain package
  .claude/CLAUDE.md
  packages/domain/src/entities/consent.ts
  packages/domain/src/entities/patient.ts
  packages/domain/src/services/consent-service.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Refactor domain services and add SecureLogger utility
  apps/api/agents/setup-python-env.sh
  apps/web/src/services/websocket-agent-service.ts
  fix-linting-issues.sh
  fix-unused-imports.sh
  packages/analytics/src/ai-analytics/healthcare-ai-orchestrator.ts
  packages/core-services/src/analytics/ai-analytics/__tests__/predictive-analytics.test.ts
  packages/core-services/src/analytics/ai-analytics/healthcare-ai-orchestrator.ts
  packages/core-services/src/analytics/ai-analytics/predictive-analytics.service.ts
  packages/core-services/src/analytics/ml/stub-provider.ts
  packages/database/src/application/patient-service.ts
  packages/domain/src/entities/consent.ts
  packages/domain/src/events/domain-events.ts
  packages/domain/src/repositories/appointment-repository.ts
  packages/domain/src/repositories/consent-repository.ts
  packages/domain/src/repositories/patient-repository.ts
  packages/domain/src/services/audit-service.ts
  packages/domain/src/services/consent-service.ts
  packages/domain/src/services/medical-license-service.ts
  packages/domain/src/value-objects/lgpd.ts
  packages/security/src/__tests__/utils.test.ts
  packages/security/src/index.ts
  packages/security/src/utils.ts
  packages/security/tests/security-logging.test.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Resolve merge conflicts and TypeScript errors
  packages/database/src/types/supabase.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Final cleanup after merge
  apps/web/src/routes/api/google-calendar/webhook.ts
  packages/core-services/tsconfig.json
  packages/shared/tsconfig.json
  tsconfig.json
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Final cleanup 2
  apps/web/tsconfig.json
Due: dprint-format

Path conditions:
  dprint-format: any of: \.(ts|tsx|js|jsx|json|md|toml)$
  eslint-healthcare: any of: \.(ts|tsx|js|jsx)$, but not: ^(dist/|node_modules/|coverage/)
  typescript-check: any of: \.(ts|tsx)$
  lgpd-data-validation: any of: \.(ts|tsx)$
  anvisa-protocol-validation: any of: \.(ts|tsx)$
  cfm-license-validation: any of: \.(ts|tsx)$
  healthcare-secrets-scan: any of: \.(ts|tsx|js|jsx)$
  patient-data-encryption: any of: \.(ts|tsx)$
  audit-trail-validation: any of: \.(ts|tsx)$
  healthcare-test-coverage: any of: \.(ts|tsx)$
  healthcare-docs-validation: any of: \.(ts|tsx)$
