Repository GrupoUS/neonpro: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

dprint-format:
  name: Format code with dprint
  entry: bunx dprint fmt
  language: system
  pass_filenames: false

eslint-healthcare:
  name: ESLint with healthcare compliance rules
  entry: bunx eslint --fix --config .config/eslint/.eslintrc.json
  language: system

typescript-check:
  name: TypeScript type checking
  entry: bunx turbo type-check
  language: system
  pass_filenames: false

lgpd-data-validation:
  name: LGPD Personal Data Validation
  entry: bash
  language: system
  args:
  - -c
  ...

anvisa-protocol-validation:
  name: ANVISA Protocol Format Validation
  entry: bash
  language: system
  args:
  - -c
  ...

cfm-license-validation:
  name: CFM License Format Validation
  entry: bash
  language: system
  args:
  - -c
  ...

healthcare-secrets-scan:
  name: Healthcare Secrets Detection
  entry: bash
  language: system
  args:
  - -c
  ...

patient-data-encryption:
  name: Patient Data Encryption Check
  entry: bash
  language: system
  args:
  - -c
  ...

audit-trail-validation:
  name: Healthcare Audit Trail Validation
  entry: bash
  language: system
  args:
  - -c
  ...

healthcare-test-coverage:
  name: Healthcare Test Coverage Check
  entry: bash
  language: system
  args:
  - -c
  ...

healthcare-docs-validation:
  name: Healthcare Documentation Validation
  entry: bash
  language: system
  args:
  - -c
  ...

fix: force bundle Supabase packages using external function
  apps/web/vite.config.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: force bundle ALL dependencies using ssr.noExternal = true
  apps/web/vite.config.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

debug: add Vite config check and cache clearing to build process
  build.sh
Due: none

fix: prevent Rollup from treating Supabase as commonjs-external
  apps/web/vite.config.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: configure esmExternals to prevent Supabase from being treated as external
  apps/web/vite.config.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: disable esmExternals to force bundle all Supabase modules
  apps/web/vite.config.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

chore: add cache buster comment to force Vercel rebuild
  apps/web/src/main.tsx
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

feat: add custom Vite plugin to force bundle Supabase modules
  apps/web/vite-plugin-force-supabase-bundle.ts
  apps/web/vite.config.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: update API and site URLs in build script
  build.sh
Due: none

fix: correct Vite plugin to handle Rollup virtual modules
  apps/web/vite-plugin-force-supabase-bundle.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: force resolve Supabase modules with external: false flag
  apps/web/vite-plugin-force-supabase-bundle.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: convert Vite plugin to JavaScript for better Vercel compatibility
  apps/web/vite-plugin-force-supabase-bundle.js
  apps/web/vite.config.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: rename entry point to force new build hash
  apps/web/index.html
  apps/web/src/app-entry.tsx
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: patch commonjs plugin to skip Supabase modules
  apps/web/vite-plugin-disable-commonjs.js
  apps/web/vite.config.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

feat: add detailed logging to Supabase bundle plugins
  apps/web/vite-plugin-disable-commonjs.js
  apps/web/vite-plugin-force-supabase-bundle.js
Due: dprint-format, eslint-healthcare, healthcare-secrets-scan

fix: add ALL Supabase modules to manualChunks to force bundling
  apps/web/vite.config.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

refactor: simplify Supabase client to fix external imports issue
  apps/web/src/integrations/supabase/client.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: use default import to avoid ESM/CommonJS compatibility issues
  apps/web/package.json
  apps/web/src/integrations/supabase/client.ts
  bun.lock
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: restore main.tsx (was renamed to app-entry.tsx by mistake)
  apps/web/index.html
Due: none

fix: regenerate bun.lock to fix frozen-lockfile error
  bun.lock
Due: none

test: completely remove Supabase to isolate the build issue
  apps/web/package.json
  apps/web/src/integrations/supabase/client.ts
  apps/web/vite.config.ts
  bun.lock
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: regenerate bun.lock after removing Supabase
  bun.lock
Due: none

feat: implement Supabase using native Fetch API
  apps/web/src/integrations/supabase/client.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

feat: add signUp method to Supabase client
  apps/web/src/integrations/supabase/client.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

debug: add comprehensive logging to Supabase client
  apps/web/src/integrations/supabase/client.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: support both SDK-style and function-style signUp calls
  apps/web/src/integrations/supabase/client.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

feat: add signInWithPassword method for SDK compatibility
  apps/web/src/integrations/supabase/client.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: resolve Vercel deployment error with Supabase dependencies
  apps/web/vite.config.ts
  vercel.json
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: resolve Vercel deployment error with Supabase dependencies
  .vercel/project.json
Due: dprint-format

fix: add missing src/lib/* files that were incorrectly ignored
  .gitignore
  apps/api/src/lib/lgpd-compliance.ts
  apps/api/src/lib/prisma.ts
  apps/api/src/lib/supabase/client.ts
  apps/web/src/lib/ai/ai-chat-service.ts
  apps/web/src/lib/governance-service.ts
  apps/web/src/lib/query-client.ts
  apps/web/src/lib/subscription/subscription-service.ts
  apps/web/src/lib/validations/auth.ts
  packages/ui/src/lib/registry-utils.ts
  packages/ui/src/lib/types.ts
  packages/utils/src/lib/currency/brl.ts
  packages/utils/src/lib/utils.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: resolve all build errors for Vercel deployment
  apps/web/src/lib/site-url.ts
  apps/web/src/lib/utils.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/api-test.tsx
  apps/web/src/routes/validation-report.tsx
  bun.lock
  package.json
  packages/ui/src/components/ui/tabs.tsx
  packages/ui/src/index.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: resolve TypeScript errors in API routes and middleware
  apps/api/src/app.ts
  apps/api/src/lib/lgpd-compliance.ts
  apps/api/src/lib/supabase/client.ts
  apps/api/src/middleware/error-handler.ts
  apps/api/src/routes/ai-chat.ts
  apps/api/src/routes/chat.ts
  apps/api/src/routes/metrics.ts
  apps/api/src/routes/stripe-portal.ts
  apps/api/src/routes/tools-finance.ts
  apps/api/src/services/supabase-health.service.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: resolve critical TypeScript errors blocking Vercel deployment
  api/v1/health.ts
  apps/api/src/app.ts
  apps/api/src/routes/appointments.ts
  bun.lock
  package.json
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: remove non-existent component exports from @neonpro/ui
  packages/ui/src/index.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: add missing @vitejs/plugin-react dependency to web app
  apps/web/package.json
  bun.lock
Due: dprint-format

fix: add getNextRedirectFromCallback function to site-url.ts
  apps/web/src/lib/site-url.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: restore dashboard.tsx from tribodev-start branch
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/dashboard/index.tsx
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

fix: resolve UI package build errors
  packages/ui/src/components/magicui/index.ts
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
Due: dprint-format, eslint-healthcare, typescript-check, lgpd-data-validation, anvisa-protocol-validation, cfm-license-validation, healthcare-secrets-scan, patient-data-encryption, audit-trail-validation, healthcare-test-coverage, healthcare-docs-validation

Path conditions:
  dprint-format: any of: \.(ts|tsx|js|jsx|json|md|toml)$
  eslint-healthcare: any of: \.(ts|tsx|js|jsx)$, but not: ^(dist/|node_modules/|coverage/)
  typescript-check: any of: \.(ts|tsx)$
  lgpd-data-validation: any of: \.(ts|tsx)$
  anvisa-protocol-validation: any of: \.(ts|tsx)$
  cfm-license-validation: any of: \.(ts|tsx)$
  healthcare-secrets-scan: any of: \.(ts|tsx|js|jsx)$
  patient-data-encryption: any of: \.(ts|tsx)$
  audit-trail-validation: any of: \.(ts|tsx)$
  healthcare-test-coverage: any of: \.(ts|tsx)$
  healthcare-docs-validation: any of: \.(ts|tsx)$
